---
---
a code.option {
    color: #D14;
    background-color: #fcf6f8;
    border: 1px solid #f7d6df;
}
a code>span {
    border-left: 1px solid rgba(0,0,0,0.2);
    margin-left: 4px;
    padding-left: 4px;
    opacity: 0.5;
}
a code.tag {
    color: #c29f00;
    background-color: #fff9d7;
    border: 1px solid #ffe700;
    white-space: nowrap;
}
a code.type {
    color: #d119cf;
    background-color: #faebfa;
    border: 1px solid #f3aef2;
    white-space: nowrap;
}
a code.api {
    color: #0c199c;
    background-color: #f4f5fc;
    border: 1px solid #c6cbe9;
    white-space: nowrap;
}
a code.string {
    color: #c05f1d;
    background-color: #f5eee9;
    border: 1px solid #dfc4b2;
    white-space: nowrap;
}
a code.event{
    color: #2a839e;
    background-color: #f5fafb;
    border: 1px solid #a8ddec;
    white-space: nowrap;
}
a code {
    text-decoration: underline;
}

a code {
    font-family: "Source Code Pro", Consolas, Menlo, Monaco, "Courier New", monospace;
    padding: 1px 4px;
    font-size: 0.8em;
    color: #444;
    background-color: #fcfcfc;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.content p{
    text-indent: 2em;
    font-size: medium;
    margin-bottom: 30px;
    font-family: 'Microsoft YaHei',Verdana,"BitStream vera Sans";
}
.content li{
    font-size: medium;
    font-family: 'Microsoft YaHei',Verdana,"BitStream vera Sans";
}

.hot {
    background-image: url({{site.baseurl}}/images/hot.gif);
    height: 12px;
    width: 21px;
    position: absolute;
}

.toc {
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    color: #7a8288;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #fff;
    border: 1px solid #f2f3f3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.125);
}

.toc .nav__title {
    color: #fff;
    font-size: .75em;
    background: #101010;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.nav__title {
    margin: 0;
    padding: 0.5rem 1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.toc__menu {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    font-size: 0.8rem;
}

.toc__menu a {
    display: block;
    padding: 0.5rem 1rem;
    color: #898c8f;
    font-size: .6875em;
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 1px solid #f2f3f3;
}

.sidebar__left .sidebar_right {
    margin-bottom:1em
}
@media (min-width: 100em) {
    .sidebar__left {
        position:absolute;
        top:120;
        left:0;
        width:200px;
        margin-left:-200px;
        padding-left:1em;
        z-index:10
    }
}
@media (min-width: 64em) {
    .sidebar__right {
        position:absolute;
        top:120;
        right:0;
        width:200px;
        margin-right:-200px;
        padding-right:1em;
        z-index:10
    }
}
@media (min-width: 116em) {
    .sidebar__left {
        width:300px;
        margin-left:-300px
    }
}
@media (min-width: 80em) {
    .sidebar__right {
        width:300px;
        margin-right:-300px
    }
}
@media (min-width: 100em) {
    .splash .sidebar__left {
        position:relative;
        float:left;
        margin-left:0
    }
}

@media (min-width: 64em) {
    .splash .sidebar__right {
        position:relative;
        float:right;
        margin-right:0
    }
}