---
---
code.option {
    color: #D14;
    background-color: #fcf6f8;
    border: 1px solid #f7d6df;
}
code>span {
    border-left: 1px solid rgba(0,0,0,0.2);
    margin-left: 4px;
    padding-left: 4px;
    opacity: 0.5;
}
code.tag {
    color: #c29f00;
    background-color: #fff9d7;
    border: 1px solid #ffe700;
    white-space: nowrap;
}
code.type {
    color: #d119cf;
    background-color: #faebfa;
    border: 1px solid #f3aef2;
    white-space: nowrap;
}
code.api {
    color: #0c199c;
    background-color: #f4f5fc;
    border: 1px solid #c6cbe9;
    white-space: nowrap;
}
code.string {
    color: #c05f1d;
    background-color: #f5eee9;
    border: 1px solid #dfc4b2;
    white-space: nowrap;
}
a code {
    text-decoration: underline;
}

code {
    font-family: "Source Code Pro", Consolas, Menlo, Monaco, "Courier New", monospace;
    padding: 1px 4px;
    font-size: 0.8em;
    color: #444;
    background-color: #fcfcfc;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.content p{
    text-indent: 2em;
    font-size: medium;
    margin-bottom: 30px;
    font-family: 'Microsoft YaHei',Verdana,"BitStream vera Sans";
}
.content li{
    font-size: medium;
    font-family: 'Microsoft YaHei',Verdana,"BitStream vera Sans";
}

.hot {
    background-image: url({{site.baseurl}}/images/hot.gif);
    height: 12px;
    width: 21px;
    position: absolute;
}

