---
title: 行内编辑 不使用插件实现（php） 网友共享 示例 Datatables中文网
---
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    {% include libs/sh_css.html %}
    {% include libs/bootstrap_css.html %}
    <link href="/css/docs.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link href="/assets/datatables/1.10.0/css/jquery.dataTables.css" rel="stylesheet">
</head>
<body>
{% include nav.html param="example" %}
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h3>行内编辑 不使用插件实现（php）</h3>
        <p>
            此例子为参加 <a href="{% post_url 2015-05-08-the-first-activity %}" target="_blank">Datatables中文网第一期交流学习活动</a> 网友 Amazing Grace 提供的Demo <br/>
            演示了把Datatables表格变成一个可以实时编辑的效果，没有使用额外的插件，本站另一个 <a href="/example/user_share/inline_edit.html">行内编辑的例子</a>
            <br/>
        </p>
    </div>
</header>
<div class="container" style="margin-top:20px">

    {% include xad %}
    <button type="button" id="batch-edit-btn">批量编辑</button>
    <button type="button" id="batch-save-btn">批量保存</button>
    <table id="table" class="display" width="100%"></table>

    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">javascript</a></li>
            <li><a href="#tab2" data-toggle="tab">html</a></li>
            <li><a href="#tab3" data-toggle="tab">Ajax返回数据</a></li>
            <li><a href="#tab4" data-toggle="tab">服务器代码</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
<pre class="brush:js;toolbar:false"> $(function(){
        var table = $(&#39;#table&#39;).DataTable({
            &quot;ajax&quot;: {
                &quot;url&quot;: &quot;/example/resources/user_share/inline_edit_no_plugin/data.php&quot;,
                //&quot;dataSrc&quot;: &quot;data&quot;,//默认为data
                &quot;type&quot;: &quot;post&quot;,
                &quot;error&quot;:function(){alert(&quot;服务器未正常响应，请重试&quot;);}
            },
            &quot;columns&quot;: [
                { &quot;data&quot;: &quot;id&quot;, &quot;title&quot;:&quot;序号&quot;,&quot;defaultContent&quot;:&quot;&quot;},
                { &quot;data&quot;: &quot;username&quot;, &quot;title&quot;:&quot;用户名&quot;,&quot;defaultContent&quot;:&quot;&quot;},
                { &quot;data&quot;: &quot;name&quot;, &quot;title&quot;:&quot;姓名&quot;,&quot;defaultContent&quot;:&quot;&quot;},
                { &quot;data&quot;: &quot;phone&quot;, &quot;title&quot;:&quot;电话&quot;,&quot;defaultContent&quot;:&quot;&quot;},
                { &quot;data&quot;: null, &quot;title&quot;:&quot;操作&quot;,&quot;defaultContent&quot;: &quot;&lt;button class=&#39;edit-btn&#39; type=&#39;button&#39;&gt;编辑&lt;/button&gt;&quot;}
            ],
            &quot;language&quot;: {
                &quot;sProcessing&quot;: &quot;处理中...&quot;,
                &quot;sLengthMenu&quot;: &quot;显示 _MENU_ 项结果&quot;,
                &quot;sZeroRecords&quot;: &quot;没有匹配结果&quot;,
                &quot;sInfo&quot;: &quot;显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项&quot;,
                &quot;sInfoEmpty&quot;: &quot;显示第 0 至 0 项结果，共 0 项&quot;,
                &quot;sInfoFiltered&quot;: &quot;(由 _MAX_ 项结果过滤)&quot;,
                &quot;sInfoPostFix&quot;: &quot;&quot;,
                &quot;sSearch&quot;: &quot;搜索:&quot;,
                &quot;sUrl&quot;: &quot;&quot;,
                &quot;sEmptyTable&quot;: &quot;表中数据为空&quot;,
                &quot;sLoadingRecords&quot;: &quot;载入中...&quot;,
                &quot;sInfoThousands&quot;: &quot;,&quot;,
                &quot;oPaginate&quot;: {
                    &quot;sFirst&quot;: &quot;首页&quot;,
                    &quot;sPrevious&quot;: &quot;上页&quot;,
                    &quot;sNext&quot;: &quot;下页&quot;,
                    &quot;sLast&quot;: &quot;末页&quot;
                },
                &quot;oAria&quot;: {
                    &quot;sSortAscending&quot;: &quot;: 以升序排列此列&quot;,
                    &quot;sSortDescending&quot;: &quot;: 以降序排列此列&quot;
                }
            }
        });

        $(&quot;#table tbody&quot;).on(&quot;click&quot;,&quot;.edit-btn&quot;,function(){
            var tds=$(this).parents(&quot;tr&quot;).children();
            $.each(tds, function(i,val){
                var jqob=$(val);
                if(i &lt; 1 || jqob.has(&#39;button&#39;).length ){return true;}//跳过第1项 序号,按钮
                var txt=jqob.text();
                var put=$(&quot;&lt;input type=&#39;text&#39;&gt;&quot;);
                put.val(txt);
                jqob.html(put);
            });
            $(this).html(&quot;保存&quot;);
            $(this).toggleClass(&quot;edit-btn&quot;);
            $(this).toggleClass(&quot;save-btn&quot;);
        });

        $(&quot;#table tbody&quot;).on(&quot;click&quot;,&quot;.save-btn&quot;,function(){
            var row=table.row($(this).parents(&quot;tr&quot;));
            var tds=$(this).parents(&quot;tr&quot;).children();
            $.each(tds, function(i,val){
                var jqob=$(val);
                //把input变为字符串
                if(!jqob.has(&#39;button&#39;).length){
                    var txt=jqob.children(&quot;input&quot;).val();
                    jqob.html(txt);
                    table.cell(jqob).data(txt);//修改DataTables对象的数据
                }
            });
            var data=row.data();
            $.ajax({
                &quot;url&quot;:&quot;/example/resources/user_share/inline_edit_no_plugin/edit.php&quot;,
                &quot;data&quot;:data,
                &quot;type&quot;:&quot;post&quot;,
                &quot;error&quot;:function(){
                    alert(&quot;服务器未正常响应，请重试&quot;);
                },
                &quot;success&quot;:function(response){
                    alert(response);
                }
            });
            $(this).html(&quot;编辑&quot;);
            $(this).toggleClass(&quot;edit-btn&quot;);
            $(this).toggleClass(&quot;save-btn&quot;);
        });

        //批量点击编辑按钮
        $(&quot;#batch-edit-btn&quot;).click(function(){
            $(&quot;.edit-btn&quot;).click();
        });
        $(&quot;#batch-save-btn&quot;).click(function(){
            $(&quot;.save-btn&quot;).click();
        });
    });</pre>
            </div>
            <div class="tab-pane" id="tab2">
 <pre class="brush:html;toolbar:false">  &lt;button type=&quot;button&quot; id=&quot;batch-edit-btn&quot;&gt;批量编辑&lt;/button&gt;
    &lt;button type=&quot;button&quot; id=&quot;batch-save-btn&quot;&gt;批量保存&lt;/button&gt;
    &lt;table id=&quot;table&quot; class=&quot;display&quot; width=&quot;100%&quot;&gt;&lt;/table&gt;</pre>
            </div>
            <div class="tab-pane" id="tab3">
                F12查看
            </div>
            <div class="tab-pane" id="tab4">
                <pre class="brush:php;toolbar:false">&lt;?php
                    /**
                    *数据
                    */
$con = mysql_connect(&quot;localhost&quot;, &quot;root&quot;, &quot;&quot;);
mysql_select_db(&quot;test&quot;, $con);
if (!$con) {
    //数据库连接则失败显示demo数据
    die(&#39;{&quot;data&quot;:[{&quot;id&quot;:&quot;1&quot;,&quot;username&quot;:&quot;demo&quot;,
                    &quot;name&quot;:&quot;\u59d3\u540d&quot;,&quot;phone&quot;:&quot;13882500000&quot;},
                    {&quot;id&quot;:&quot;2&quot;,&quot;username&quot;:&quot;user&quot;,&quot;name&quot;:&quot;\u540d\u5b57&quot;,
                    &quot;phone&quot;:&quot;0731-8888888&quot;}]}&#39;);
}
$result = mysql_query(&quot;SELECT id,username,name,phone FROM user&quot;);
$data = array();
while ($row = mysql_fetch_array($result)) {
    array_push($data, $row);
}
$json[&#39;data&#39;] = $data;
echo json_encode($json);
mysql_close($con);
?&gt;</pre>
                <pre class="brush:php;toolbar:false">&lt;?php
                    /**
                    *编辑
                    */
$con = mysql_connect(&quot;localhost&quot;, &quot;root&quot;, &quot;&quot;);
mysql_select_db(&quot;test&quot;, $con);
if( !$con ){
    die(&#39;数据库连接失败&#39;);
}
$id       = $_POST[&#39;id&#39;];
$username = $_POST[&#39;username&#39;];
$name     = $_POST[&#39;name&#39;];
$phone    = $_POST[&#39;phone&#39;];
$result=mysql_query(&quot;UPDATE user SET username = &#39;&quot;.$username.&quot;&#39;,name = &#39;&quot;.$name.&quot;&#39;,phone = &#39;&quot;.$phone.&quot;&#39; WHERE id = &quot;.$id);
if($result){
    echo &quot;修改成功&quot;;
}else{
    echo &quot;修改失败&quot;;
}
mysql_close($con);
?&gt;</pre>
            </div>

        </div>
    </div>
    {% include disqus.html%}


</div>
<!--/row-->
{% include copyright.html %}
</body>
</html>
{% include libs/jquery_js.html param="1.8.2" %}
{% include libs/bootstrap_js.html %}
{% include libs/sh_js.html %}
{% include note.js %}
{% include copy.js %}

<script  type="text/javascript" charset="utf8" src="http://cdn.gbtags.com/datatables/1.10.5/js/jquery.dataTables.min.js"></script>
<script>
    $(function(){
        var table = $('#table').DataTable({
            "ajax": {
                "url": "/example/resources/user_share/inline_edit_no_plugin/data.php",
                //"dataSrc": "data",//默认为data
                "type": "post",
                "error":function(){alert("服务器未正常响应，请重试");}
            },
            "columns": [
                { "data": "id", "title":"序号","defaultContent":""},
                { "data": "username", "title":"用户名","defaultContent":""},
                { "data": "name", "title":"姓名","defaultContent":""},
                { "data": "phone", "title":"电话","defaultContent":""},
                { "data": null, "title":"操作","defaultContent": "<button class='edit-btn' type='button'>编辑</button>"}
            ],
            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });

        $("#table tbody").on("click",".edit-btn",function(){
            var tds=$(this).parents("tr").children();
            $.each(tds, function(i,val){
                var jqob=$(val);
                if(i < 1 || jqob.has('button').length ){return true;}//跳过第1项 序号,按钮
                var txt=jqob.text();
                var put=$("<input type='text'>");
                put.val(txt);
                jqob.html(put);
            });
            $(this).html("保存");
            $(this).toggleClass("edit-btn");
            $(this).toggleClass("save-btn");
        });

        $("#table tbody").on("click",".save-btn",function(){
            var row=table.row($(this).parents("tr"));
            var tds=$(this).parents("tr").children();
            $.each(tds, function(i,val){
                var jqob=$(val);
                //把input变为字符串
                if(!jqob.has('button').length){
                    var txt=jqob.children("input").val();
                    jqob.html(txt);
                    table.cell(jqob).data(txt);//修改DataTables对象的数据
                }
            });
            var data=row.data();
            $.ajax({
                "url":"/example/resources/user_share/inline_edit_no_plugin/edit.php",
                "data":data,
                "type":"post",
                "error":function(){
                    alert("服务器未正常响应，请重试");
                },
                "success":function(response){
                    alert(response);
                }
            });
            $(this).html("编辑");
            $(this).toggleClass("edit-btn");
            $(this).toggleClass("save-btn");
        });

        //批量点击编辑按钮
        $("#batch-edit-btn").click(function(){
            $(".edit-btn").click();
        });
        $("#batch-save-btn").click(function(){
            $(".save-btn").click();
        });
    });
</script>


<script type="text/javascript">
    $(document).on( 'init.dt', function ( e, settings ) {
        console.log(123);
        if ( e.namespace !== 'dt' ) {
            return;
        }

        var api = new $.fn.dataTable.Api( settings );

        var show = function ( str ) {
            var preobj = $('#tab3').find('pre')[0];
            preobj = $(preobj);
            preobj.remove();
            var syntaxhighlighterobj = $('#tab3').find('.syntaxhighlighter');
            syntaxhighlighterobj =  $(syntaxhighlighterobj);
            syntaxhighlighterobj.remove();
            // Old IE :-|
            try {
                str = JSON.stringify( str, null, 2 );
            } catch ( e ) {}

            $('#tab3').append('<pre class="brush:js;toolbar:false">'+str+'</pre>');
            var preobj2 = $('#tab3').find('pre')[0];
            preobj2 = $(preobj2);

            SyntaxHighlighter.highlight( {}, preobj2 );
        };

        // First draw
        var json = api.ajax.json();
        if ( json ) {
            show( json );
        }

        // Subsequent draws
        api.on( 'xhr.dt', function ( e, settings, json ) {
            show( json );
        } );
    } );

</script>
