---
title: 行内编辑（服务器模式 php版） 网友共享 示例 Datatables中文网
---
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>行内编辑（服务器模式 php版） 网友共享 示例 Datatables中文网</title>
    {% include libs/sh_css.html %}
    {% include libs/bootstrap_css.html %}
    <link href="http://www.zhuhaihengxin.com/libs/datatables/1.9.4/css/dataTableStyle.css" rel="stylesheet" type="text/css"/>
    <link href="../../css/docs.css" rel="stylesheet">
</head>
<body>
<!-- Navbar
    ================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/index.html">Datatables中文网</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class=""><a href="/index.html">首页</a></li>
                    <li class="active"><a href="#">例子</a></li>
                    <li class=""><a href="/manual">手册</a></li>
                    <li class=""><a href="/reference">参考</a></li>
                    <li ><a href="/extensions">扩展</a></li>
                    <li ><a href="/plugins">插件</a></li>
                    <li ><a href="/faqs">FAQs</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h3>行内编辑（服务器模式 php版）</h3>
        <p>
            此例子演示了使用jeditable插件实现datatables行内编辑 <br/>
            注意：数据条数的增加删除前往 <a href="http://dt.thxopen.com/example/user_share/basic_curd.html">点我</a>
        </p>
    </div>
</header>

<div class="row-fluid" style="margin-top:20px">
    <div class="span1"></div>
    <div class="span10">
        <!-- 表格开始 -->
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover"
                     id="example">
    <thead>
    <tr>
        <th>昵称</th>
        <th>技能</th>
        <th>备注</th>
        <th>添加时间</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<!-- 表格结束 -->

<div class="tabbable"> <!-- Only required for left/right tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">javascript</a></li>
    <li><a href="#tab2" data-toggle="tab">html</a></li>
    <li><a href="#tab3" data-toggle="tab">Ajax返回数据</a></li>
    <li><a href="#tab4" data-toggle="tab">服务器代码</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="tab1">
<pre class="brush:js;toolbar:false">$(document).ready(function () {
    $(&quot;#example&quot;).dataTable({
        //&quot;iDisplayLength&quot;:10,
        &quot;sAjaxSource&quot;: &quot;http://dt.thtxopen.com/datatables/dataListCUrl.php&quot;,
        //&#39;bPaginate&#39;: true,
        &quot;bDestory&quot;: true,
        &quot;bRetrieve&quot;: true,
        //&quot;bFilter&quot;:true,
        &quot;bSort&quot;: false,
        //&quot;bProcessing&quot;: true,
        &quot;aoColumns&quot;: [
            {
                &quot;mDataProp&quot;: &quot;name&quot;,
                &quot;fnCreatedCell&quot;: function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).addClass(&#39;inputTd&#39;).attr(&#39;id&#39;, &#39;td_&#39; + sData + &#39;_&#39; + oData.id);
                }
            },
            {
                &quot;mDataProp&quot;: &quot;job&quot;,
                &quot;fnCreatedCell&quot;: function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).addClass(&#39;selectTd&#39;).attr(&#39;id&#39;, &#39;td_&#39; + sData + &#39;_&#39; + oData.id);
                    //$(nTd).html(&quot;&lt;select class=&#39;selectTd&#39; id=td_&quot;+sData+&quot;_&quot;+oData.id+&quot;&gt;&lt;option value=&quot;+sData+&quot; selected&gt;&quot;+sData+&quot;&lt;/option&gt;&lt;/select&gt;&quot;);
                }
            },
            {&quot;mDataProp&quot;: &quot;note&quot;},
            {&quot;mDataProp&quot;: &quot;date&quot;}
        ],
        &quot;sDom&quot;: &quot;&lt;&#39;row-fluid&#39;&lt;&#39;span6 myBtnBox&#39;&gt;&lt;&#39;span6&#39;f&gt;r&gt;t&lt;&#39;row-fluid&#39;&lt;&#39;span6&#39;i&gt;&lt;&#39;span6 &#39;p&gt;&gt;&quot;,
        &quot;sPaginationType&quot;: &quot;bootstrap&quot;,
        &quot;language&quot;: {
            &quot;url&quot;: &quot;http://cdn.datatables.net/plug-ins/e9421181788/i18n/Chinese.json&quot;
        },
        &quot;fnDrawCallback&quot;: function (data, x) {
            $(&#39;#example tbody td.inputTd&#39;).editable(&#39;editable.php&#39;);
            $(&#39;#example tbody td.selectTd&#39;).editable(&#39;editableSelect.php&#39;,
                {
                    loadurl: &#39;json.php&#39;,
                    //data:{&quot;10&quot;:&quot;10&quot;,&quot;20&quot;:&quot;20&quot;,&quot;30&quot;:&quot;30&quot;},
                    type: &#39;select&#39;
                    //submit : &#39;确定&#39;,
                    //submitdata: { _method: &quot;post&quot;}
                });
        }
    });
});</pre>
</div>
<div class="tab-pane" id="tab2">
    <pre class="brush:html;toolbar:false">&lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; border=&quot;0&quot; class=&quot;table table-striped table-bordered table-hover&quot;
                     id=&quot;example&quot;&gt;
    &lt;thead&gt;
    &lt;tr&gt;
        &lt;th&gt;昵称&lt;/th&gt;
        &lt;th&gt;技能&lt;/th&gt;
        &lt;th&gt;添加时间&lt;/th&gt;
        &lt;th&gt;备注&lt;/th&gt;
    &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
    &lt;/tbody&gt;
&lt;/table&gt;</pre>
</div>
<div class="tab-pane" id="tab3">
    F12查看
</div>
<div class="tab-pane" id="tab4">
  <pre class="brush:php;toolbar:false">&lt;?php
    /**
     * jeditable 服务器处理方法
     * 编辑昵称
     */
    $id = $_POST[&#39;id&#39;];
    $value = $_POST[&#39;value&#39;];
    list($td, $oldValue, $dbid) = explode(&#39;_&#39;, $id);
    try {
        //连接数据库
        $db = new SQLite3(&#39;curd.sqlite3&#39;);
    } catch (Exception $e) {
        echo &quot;数据库连接出错&quot; . $e-&gt;getMessage;
    }
    $update = &quot;update  user set name = &#39;&quot; . $value . &quot;&#39; where id = &quot; . $dbid;
    $resultQ = $db-&gt;query($update);
    if ($resultQ) {
        echo $value;
    } else {
        echo $oldValue;
    }
    $db-&gt;close();
?&gt;</pre>
    <pre class="brush:php;toolbar:false">&lt;?php
    /**
     * 编辑下拉框
     */
    $id = $_POST[&#39;id&#39;];
    $value = $_POST[&#39;value&#39;];
    list($td, $oldValue, $dbid) = explode(&#39;_&#39;, $id);
    try {
        //连接数据库
        $db = new SQLite3(&#39;curd.sqlite3&#39;);
    } catch (Exception $e) {
        echo &quot;数据库连接出错&quot; . $e-&gt;getMessage;
    }
    $update = &quot;update user set job = &#39;&quot; . $value . &quot;&#39; where id = &quot; . $dbid;
    $resultQ = $db-&gt;query($update);
    if ($resultQ) {
        //$array[&#39;selected&#39;] =  $value;
        echo $value;
        //print  json_encode($array);
    } else {
        echo $oldValue;
    }
    $db-&gt;close();
?&gt;</pre>
    <pre class="brush:php;toolbar:false">&lt;?php
    /**
     * 模拟动态返回下拉框的选项
     */
    $array[&#39;java&#39;] = &#39;java&#39;;
    $array[&#39;C#&#39;] = &#39;C#&#39;;
    $array[&#39;PHP&#39;] = &#39;PHP&#39;;
    $array[&#39;selected&#39;] = &#39;java&#39;;
    $array[&#39;Ruby&#39;] = &#39;Ruby&#39;;
    $array[&#39;C++&#39;] = &#39;C++&#39;;
    echo json_encode($array);
?&gt;</pre>
</div>

</div>
</div>
{% include post.html param= site.url param2 = page.url %}
    </div>
    <div class="span1"></div>
</div><!--/row-->
{% include copyright.html %}
</body>
</html>
{% include libs/jquery_js.html param="1.8.2" %}
{% include libs/datatables_js.html %}
{% include libs/bootstrap_js.html %}
{% include libs/sh_js.html %}
<script type="text/javascript" src="http://www.zhuhaihengxin.com/libs/jeditable/1.7.3/js/jquery.jeditable.js"></script>
<script type="text/javascript" src="../resources/user_share/inline_edit/jedit.js"></script>
<script type="text/javascript" src="../resources/user_share/basic_curd/datatables.js"></script>

