---
title: 结合daterangepicker实现Datatables表格带参数查询 网友共享 示例 Datatables中文网
---
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    {% include libs/sh_css.html %}
    {% include libs/bootstrap_css.html %}
    <link href="/css/docs.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link href="http://www.zhuhaihengxin.com/libs/datatables/1.10.0/css/jquery.dataTables.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" media="all" href="/example/resources/user_share/dt_with_data_select/daterangepicker-bs3.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/example/resources/user_share/dt_with_data_select/daterangepicker-1.3.7.css" />
</head>
<body>
{% include nav.html param="example" %}
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h3>结合daterangepicker实现Datatables表格带参数查询</h3>

        <p>
            此例子为参加 <a href="{% post_url 2015-05-08-the-first-activity %}" target="_blank">Datatables中文网第一期交流学习活动</a> 网友 飘絮 提供的Demo
            <a href="http://blog.csdn.net/zdx1515888659/article/details/41675555" target="_blank">原网址</a>  <br/>
            演示了怎么结合第三方插件（ <a href="http://www.daterangepicker.com/" target="_blank">daterangepicker时间插件</a> ）来作为额外条件更新表格数据
            <br/>
        </p>
        <p>
            注意：当选择时间后，dt会重新请求服务器并带上日期这个参数，在控制台有打印，f12看network搜索server_processing_custom也可以看到url后带了自定义的参数 <code>extra_search</code>
            <br/>
            由于本例只是做演示使用，后台并没有接受这个参数处理，所以数据没有变化
        </p>
        <p>
            Datatables中文网提醒例子涉及到的： {% include href/api/ajax.params.dt %}, {% include href/api/ajax.reload.dt %} ,{% include href/option/ajax.data.dt %}
        </p>
    </div>
</header>
<div class="container" style="margin-top:20px">
    {% include xad %}
    <table id="example" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
        </thead>
        <tbody></tbody>
        <!-- tbody是必须的 -->
    </table>

    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">javascript</a></li>
            <li><a href="#tab2" data-toggle="tab">html</a></li>
            <li><a href="#tab3" data-toggle="tab">Ajax返回数据（F12查看）</a></li>
            <li><a href="#tab4" data-toggle="tab">服务器代码</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
<pre class="brush:js;toolbar:false"> var table;
    $(function () {
        table = $(&#39;#example&#39;).DataTable({
            &quot;ajax&quot;: {
                &quot;url&quot;:&quot;/example/resources/server_processing_customCUrl.php&quot;,
                &quot;data&quot;: function ( d ) {
                    //添加额外的参数传给服务器
                    d.extra_search = $(&#39;#reportrange span&#39;).html();
                }},
            &quot;processing&quot;: true,
            &quot;serverSide&quot;: true,
            &quot;language&quot;: {
                &quot;sProcessing&quot;: &quot;处理中...&quot;,
                &quot;sLengthMenu&quot;: &quot;显示 _MENU_ 项结果&quot;,
                &quot;sZeroRecords&quot;: &quot;没有匹配结果&quot;,
                &quot;sInfo&quot;: &quot;显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项&quot;,
                &quot;sInfoEmpty&quot;: &quot;显示第 0 至 0 项结果，共 0 项&quot;,
                &quot;sInfoFiltered&quot;: &quot;(由 _MAX_ 项结果过滤)&quot;,
                &quot;sInfoPostFix&quot;: &quot;&quot;,
                &quot;sSearch&quot;: &quot;搜索:&quot;,
                &quot;sUrl&quot;: &quot;&quot;,
                &quot;sEmptyTable&quot;: &quot;表中数据为空&quot;,
                &quot;sLoadingRecords&quot;: &quot;载入中...&quot;,
                &quot;sInfoThousands&quot;: &quot;,&quot;,
                &quot;oPaginate&quot;: {
                    &quot;sFirst&quot;: &quot;首页&quot;,
                    &quot;sPrevious&quot;: &quot;上页&quot;,
                    &quot;sNext&quot;: &quot;下页&quot;,
                    &quot;sLast&quot;: &quot;末页&quot;
                },
                &quot;oAria&quot;: {
                    &quot;sSortAscending&quot;: &quot;: 以升序排列此列&quot;,
                    &quot;sSortDescending&quot;: &quot;: 以降序排列此列&quot;
                }
            },
            &quot;dom&quot;:
                    &quot;&lt;&#39;row&#39;&lt;&#39;span9&#39;l&lt;&#39;#mytoolbox&#39;&gt;&gt;&lt;&#39;span3&#39;f&gt;r&gt;&quot;+
                    &quot;t&quot;+
                    &quot;&lt;&#39;row&#39;&lt;&#39;span6&#39;i&gt;&lt;&#39;span6&#39;p&gt;&gt;&quot;  ,
            initComplete:initComplete
        });

    });

    /**
     * 表格加载渲染完毕后执行的方法
     * @param data
     */
    function initComplete(data){

        var dataPlugin =
                &#39;&lt;div id=&quot;reportrange&quot; class=&quot;pull-left dateRange&quot; style=&quot;width:400px;margin-left: 10px&quot;&gt; &#39;+
                &#39;日期：&lt;i class=&quot;glyphicon glyphicon-calendar fa fa-calendar&quot;&gt;&lt;/i&gt; &#39;+
                &#39;&lt;span id=&quot;searchDateRange&quot;&gt;&lt;/span&gt;  &#39;+
                &#39;&lt;b class=&quot;caret&quot;&gt;&lt;/b&gt;&lt;/div&gt; &#39;;
        $(&#39;#mytoolbox&#39;).append(dataPlugin);
        //时间插件
        $(&#39;#reportrange span&#39;).html(moment().subtract(&#39;hours&#39;, 1).format(&#39;YYYY-MM-DD HH:mm:ss&#39;) + &#39; - &#39; + moment().format(&#39;YYYY-MM-DD HH:mm:ss&#39;));

        $(&#39;#reportrange&#39;).daterangepicker(
                {
                    // startDate: moment().startOf(&#39;day&#39;),
                    //endDate: moment(),
                    //minDate: &#39;01/01/2012&#39;,	//最小时间
                    maxDate : moment(), //最大时间
                    dateLimit : {
                        days : 30
                    }, //起止时间的最大间隔
                    showDropdowns : true,
                    showWeekNumbers : false, //是否显示第几周
                    timePicker : true, //是否显示小时和分钟
                    timePickerIncrement : 60, //时间的增量，单位为分钟
                    timePicker12Hour : false, //是否使用12小时制来显示时间
                    ranges : {
                        //&#39;最近1小时&#39;: [moment().subtract(&#39;hours&#39;,1), moment()],
                        &#39;今日&#39;: [moment().startOf(&#39;day&#39;), moment()],
                        &#39;昨日&#39;: [moment().subtract(&#39;days&#39;, 1).startOf(&#39;day&#39;), moment().subtract(&#39;days&#39;, 1).endOf(&#39;day&#39;)],
                        &#39;最近7日&#39;: [moment().subtract(&#39;days&#39;, 6), moment()],
                        &#39;最近30日&#39;: [moment().subtract(&#39;days&#39;, 29), moment()]
                    },
                    opens : &#39;right&#39;, //日期选择框的弹出位置
                    buttonClasses : [ &#39;btn btn-default&#39; ],
                    applyClass : &#39;btn-small btn-primary blue&#39;,
                    cancelClass : &#39;btn-small&#39;,
                    format : &#39;YYYY-MM-DD HH:mm:ss&#39;, //控件中from和to 显示的日期格式
                    separator : &#39; to &#39;,
                    locale : {
                        applyLabel : &#39;确定&#39;,
                        cancelLabel : &#39;取消&#39;,
                        fromLabel : &#39;起始时间&#39;,
                        toLabel : &#39;结束时间&#39;,
                        customRangeLabel : &#39;自定义&#39;,
                        daysOfWeek : [ &#39;日&#39;, &#39;一&#39;, &#39;二&#39;, &#39;三&#39;, &#39;四&#39;, &#39;五&#39;, &#39;六&#39; ],
                        monthNames : [ &#39;一月&#39;, &#39;二月&#39;, &#39;三月&#39;, &#39;四月&#39;, &#39;五月&#39;, &#39;六月&#39;,
                            &#39;七月&#39;, &#39;八月&#39;, &#39;九月&#39;, &#39;十月&#39;, &#39;十一月&#39;, &#39;十二月&#39; ],
                        firstDay : 1
                    }
                }, function(start, end, label) {//格式化日期显示框

                    $(&#39;#reportrange span&#39;).html(start.format(&#39;YYYY-MM-DD HH:mm:ss&#39;) + &#39; - &#39; + end.format(&#39;YYYY-MM-DD HH:mm:ss&#39;));
                });

        //设置日期菜单被选项  --开始--
        var dateOption ;
        if(&quot;${riqi}&quot;==&#39;day&#39;) {
            dateOption = &quot;今日&quot;;
        }else if(&quot;${riqi}&quot;==&#39;yday&#39;) {
            dateOption = &quot;昨日&quot;;
        }else if(&quot;${riqi}&quot;==&#39;week&#39;){
            dateOption =&quot;最近7日&quot;;
        }else if(&quot;${riqi}&quot;==&#39;month&#39;){
            dateOption =&quot;最近30日&quot;;
        }else if(&quot;${riqi}&quot;==&#39;year&#39;){
            dateOption =&quot;最近一年&quot;;
        }else{
            dateOption = &quot;自定义&quot;;
        }
        $(&quot;.daterangepicker&quot;).find(&quot;li&quot;).each(function (){
            if($(this).hasClass(&quot;active&quot;)){
                $(this).removeClass(&quot;active&quot;);
            }
            if(dateOption==$(this).html()){
                $(this).addClass(&quot;active&quot;);
            }
        });
        //设置日期菜单被选项  --结束--


        //选择时间后触发重新加载的方法
        $(&quot;#reportrange&quot;).on(&#39;apply.daterangepicker&#39;,function(){
            //当选择时间后，出发dt的重新加载数据的方法
            table.ajax.reload();
            //获取dt请求参数
            var args = table.ajax.params();
            console.log(&quot;额外传到后台的参数值extra_search为：&quot;+args.extra_search);
        });

        function getParam(url) {
            var data = decodeURI(url).split(&quot;?&quot;)[1];
            var param = {};
            var strs = data.split(&quot;&amp;&quot;);

            for(var i = 0; i&lt;strs.length; i++){
                param[strs[i].split(&quot;=&quot;)[0]] = strs[i].split(&quot;=&quot;)[1];
            }
            return param;
        }
    }</pre>
            </div>
            <div class="tab-pane" id="tab2">
 <pre class="brush:html;toolbar:false"> &lt;table id=&quot;example&quot; class=&quot;table table-striped table-bordered&quot;&gt;
        &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;First name&lt;/th&gt;
            &lt;th&gt;Last name&lt;/th&gt;
            &lt;th&gt;Position&lt;/th&gt;
            &lt;th&gt;Office&lt;/th&gt;
            &lt;th&gt;Start date&lt;/th&gt;
            &lt;th&gt;Salary&lt;/th&gt;
        &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;&lt;/tbody&gt;
        &lt;!-- tbody是必须的 --&gt;
    &lt;/table&gt;</pre>
            </div>
            <div class="tab-pane" id="tab3">
                F12查看
            </div>
            <div class="tab-pane" id="tab4">
               <pre class="brush:php;toolbar:false">&lt;?php
/**
 * Created by PhpStorm.
 * User: dt.thxopen.com
 * Date: 2014/12/7
 * Time: 11:13
 */
try {
    //连接数据库
    $db = new SQLite3(&#39;datatables.sqlite3&#39;);
} catch (PDOException $e) {
    fatal(
        &quot;数据库连接出错&quot; . $e-&gt;getMessage()
    );
}

//获取Datatables发送的参数 必要
$draw = $_GET[&#39;draw&#39;];//这个值作者会直接返回给前台

//排序
$order_column = $_GET[&#39;order&#39;][&#39;0&#39;][&#39;column&#39;];//那一列排序，从0开始
$order_dir = $_GET[&#39;order&#39;][&#39;0&#39;][&#39;dir&#39;];//ase desc 升序或者降序

//拼接排序sql
$orderSql = &quot;&quot;;
if(isset($order_column)){
    $i = intval($order_column);
    switch($i){
        case 0;$orderSql = &quot; order by first_name &quot;.$order_dir;break;
        case 1;$orderSql = &quot; order by last_name &quot;.$order_dir;break;
        case 2;$orderSql = &quot; order by position &quot;.$order_dir;break;
        case 3;$orderSql = &quot; order by office &quot;.$order_dir;break;
        case 4;$orderSql = &quot; order by start_date &quot;.$order_dir;break;
        case 5;$orderSql = &quot; order by salary &quot;.$order_dir;break;
        default;$orderSql = &#39;&#39;;
    }
}
//搜索
$search = $_GET[&#39;search&#39;][&#39;value&#39;];//获取前台传过来的过滤条件

//分页
$start = $_GET[&#39;start&#39;];//从多少开始
$length = $_GET[&#39;length&#39;];//数据长度
$limitSql = &#39;&#39;;
$limitFlag = isset($_GET[&#39;start&#39;]) &amp;&amp; $length != -1 ;
if ($limitFlag ) {
    $limitSql = &quot; LIMIT &quot;.intval($start).&quot;, &quot;.intval($length);
}

//定义查询数据总记录数sql
$sumSql = &quot;SELECT count(id) as sum FROM DATATABLES_DEMO&quot;;
//条件过滤后记录数 必要
$recordsFiltered = 0;
//表的总记录数 必要
$recordsTotal = 0;
$recordsTotalResult = $db-&gt;query($sumSql);
while ($row = $recordsTotalResult-&gt;fetchArray(SQLITE3_ASSOC)) {
    $recordsTotal =  $row[&#39;sum&#39;];
}
//定义过滤条件查询过滤后的记录数sql
$sumSqlWhere =&quot; where first_name||last_name||position||office||start_date||salary LIKE &#39;%&quot;.$search.&quot;%&#39;&quot;;
if(strlen($search)&gt;0){
    $recordsFilteredResult = $db-&gt;query($sumSql.$sumSqlWhere);
    while ($row = $recordsFilteredResult-&gt;fetchArray(SQLITE3_ASSOC)) {
        $recordsFiltered =  $row[&#39;sum&#39;];
    }
}else{
    $recordsFiltered = $recordsTotal;
}

//query data
$totalResultSql = &quot;SELECT first_name,last_name,position,office,start_date,salary FROM DATATABLES_DEMO&quot;;
$infos = array();
if(strlen($search)&gt;0){
    //如果有搜索条件，按条件过滤找出记录
    $dataResult = $db-&gt;query($totalResultSql.$sumSqlWhere.$orderSql.$limitSql);
    while ($row = $dataResult-&gt;fetchArray(SQLITE3_ASSOC)) {
        $obj = array($row[&#39;first_name&#39;], $row[&#39;last_name&#39;], $row[&#39;position&#39;], $row[&#39;office&#39;], $row[&#39;start_date&#39;], $row[&#39;salary&#39;]);
        array_push($infos,$obj);
    }
}else{
    //直接查询所有记录
    $dataResult = $db-&gt;query($totalResultSql.$orderSql.$limitSql);
    while ($row = $dataResult-&gt;fetchArray(SQLITE3_ASSOC)) {
        $obj = array($row[&#39;first_name&#39;], $row[&#39;last_name&#39;], $row[&#39;position&#39;],$row[&#39;office&#39;], $row[&#39;start_date&#39;], $row[&#39;salary&#39;]);
        array_push($infos,$obj);
    }
}

/*
 * Output 包含的是必要的
 */
echo json_encode(array(
    &quot;draw&quot; =&gt; intval($draw),
    &quot;recordsTotal&quot; =&gt; intval($recordsTotal),
    &quot;recordsFiltered&quot; =&gt; intval($recordsFiltered),
    &quot;data&quot; =&gt; $infos
),JSON_UNESCAPED_UNICODE);


function fatal($msg)
{
    echo json_encode(array(
        &quot;error&quot; =&gt; $msg
    ));
    exit(0);
}</pre>
            </div>

        </div>
    </div>
    {% include disqus.html %}


</div>
<!--/row-->
{% include copyright.html %}
</body>
</html>
{% include libs/jquery_js.html param="1.8.2" %}
{% include libs/bootstrap_js.html %}
{% include libs/sh_js.html %}
{% include note.js %}
{% include copy.js %}

<script type="text/javascript" charset="utf8"
        src="http://cdn.gbtags.com/datatables/1.10.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/example/resources/user_share/dt_with_data_select/moment.js"></script>
<script type="text/javascript" src="/example/resources/user_share/dt_with_data_select/daterangepicker-1.3.7.js"></script>

<script>
    var table;
    $(function () {
        table = $('#example').DataTable({
            "ajax": {
                "url":"/example/resources/server_processing_customCUrl.php",
                "data": function ( d ) {
                    //添加额外的参数传给服务器
                    d.extra_search = $('#reportrange span').html();
                }},
            "processing": true,
            "serverSide": true,
            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            "dom":
                    "<'row'<'span9'l<'#mytoolbox'>><'span3'f>r>"+
                    "t"+
                    "<'row'<'span6'i><'span6'p>>"  ,
            initComplete:initComplete
        });

    });

    /**
     * 表格加载渲染完毕后执行的方法
     * @param data
     */
    function initComplete(data){

        var dataPlugin =
                '<div id="reportrange" class="pull-left dateRange" style="width:400px;margin-left: 10px"> '+
                '日期：<i class="glyphicon glyphicon-calendar fa fa-calendar"></i> '+
                '<span id="searchDateRange"></span>  '+
                '<b class="caret"></b></div> ';
        $('#mytoolbox').append(dataPlugin);
        //时间插件
        $('#reportrange span').html(moment().subtract('hours', 1).format('YYYY-MM-DD HH:mm:ss') + ' - ' + moment().format('YYYY-MM-DD HH:mm:ss'));

        $('#reportrange').daterangepicker(
                {
                    // startDate: moment().startOf('day'),
                    //endDate: moment(),
                    //minDate: '01/01/2012',	//最小时间
                    maxDate : moment(), //最大时间
                    dateLimit : {
                        days : 30
                    }, //起止时间的最大间隔
                    showDropdowns : true,
                    showWeekNumbers : false, //是否显示第几周
                    timePicker : true, //是否显示小时和分钟
                    timePickerIncrement : 60, //时间的增量，单位为分钟
                    timePicker12Hour : false, //是否使用12小时制来显示时间
                    ranges : {
                        //'最近1小时': [moment().subtract('hours',1), moment()],
                        '今日': [moment().startOf('day'), moment()],
                        '昨日': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
                        '最近7日': [moment().subtract('days', 6), moment()],
                        '最近30日': [moment().subtract('days', 29), moment()]
                    },
                    opens : 'right', //日期选择框的弹出位置
                    buttonClasses : [ 'btn btn-default' ],
                    applyClass : 'btn-small btn-primary blue',
                    cancelClass : 'btn-small',
                    format : 'YYYY-MM-DD HH:mm:ss', //控件中from和to 显示的日期格式
                    separator : ' to ',
                    locale : {
                        applyLabel : '确定',
                        cancelLabel : '取消',
                        fromLabel : '起始时间',
                        toLabel : '结束时间',
                        customRangeLabel : '自定义',
                        daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                        monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月',
                            '七月', '八月', '九月', '十月', '十一月', '十二月' ],
                        firstDay : 1
                    }
                }, function(start, end, label) {//格式化日期显示框

                    $('#reportrange span').html(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));
                });

        //设置日期菜单被选项  --开始--
        var dateOption ;
        if("${riqi}"=='day') {
            dateOption = "今日";
        }else if("${riqi}"=='yday') {
            dateOption = "昨日";
        }else if("${riqi}"=='week'){
            dateOption ="最近7日";
        }else if("${riqi}"=='month'){
            dateOption ="最近30日";
        }else if("${riqi}"=='year'){
            dateOption ="最近一年";
        }else{
            dateOption = "自定义";
        }
        $(".daterangepicker").find("li").each(function (){
            if($(this).hasClass("active")){
                $(this).removeClass("active");
            }
            if(dateOption==$(this).html()){
                $(this).addClass("active");
            }
        });
        //设置日期菜单被选项  --结束--


        //选择时间后触发重新加载的方法
        $("#reportrange").on('apply.daterangepicker',function(){
            //当选择时间后，出发dt的重新加载数据的方法
            table.ajax.reload();
            //获取dt请求参数
            var args = table.ajax.params();
            console.log("额外传到后台的参数值extra_search为："+args.extra_search);
        });

        function getParam(url) {
            var data = decodeURI(url).split("?")[1];
            var param = {};
            var strs = data.split("&");

            for(var i = 0; i<strs.length; i++){
                param[strs[i].split("=")[0]] = strs[i].split("=")[1];
            }
            return param;
        }
    }
</script>

<script type="text/javascript">
    $(document).on( 'init.dt', function ( e, settings ) {
        if ( e.namespace !== 'dt' ) {
            return;
        }

        var api = new $.fn.dataTable.Api( settings );

        var show = function ( str ) {
            var preobj = $('#tab3').find('pre')[0];
            preobj = $(preobj);
            preobj.remove();
            var syntaxhighlighterobj = $('#tab3').find('.syntaxhighlighter');
            syntaxhighlighterobj =  $(syntaxhighlighterobj);
            syntaxhighlighterobj.remove();
            // Old IE :-|
            try {
                str = JSON.stringify( str, null, 2 );
            } catch ( e ) {}

            $('#tab3').append('<pre class="brush:js;toolbar:false">'+str+'</pre>');
            var preobj2 = $('#tab3').find('pre')[0];
            preobj2 = $(preobj2);

            SyntaxHighlighter.highlight( {}, preobj2 );
        };

        // First draw
        var json = api.ajax.json();
        if ( json ) {
            show( json );
        }

        // Subsequent draws
        api.on( 'xhr.dt', function ( e, settings, json ) {
            show( json );
        } );
    } );

</script>