---
title: ui（绿色风格） 网友共享 示例 Datatables中文网
---
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    {% include libs/bootstrap_css.html %}
    <link href="/css/docs.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.png">

</head>
<body>
{% include nav.html param="example" %}
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h3> ui（绿色风格）</h3>
        <p>
            此例子为参加 <a href="/activity/1.html" target="_blank">Datatables中文网第一期交流学习活动</a> 网友 付裕 提供的Demo<br/>
            一个比较柔和的绿色风格
            <br/>
        </p>
        <p>
            <a class="btn btn-lg btn-primary btn-shadow bs3-link"
               href="http://yunpan.cn/cjBehk3sx3rwB" target="_blank" role="button"
               title="bj-jq裕UI.rar">代码下载(访问密码 c013) &raquo;</a>
        </p>
    </div>
</header>

<div class="container" style="margin-top:20px">


<iframe src="/example/resources/user_share/yuui/Menu/index.html" frameborder="0" width="100%" height="750" scrolling="yes"></iframe>


    {% include post.html param= site.url param2 = page.url %}


</div>
<!--/row-->
{% include copyright.html %}
</body>
</html>
{% include libs/jquery_js.html param="1.8.2" %}
{% include libs/bootstrap_js.html %}
{% include note.js %}
{% include copy.js %}

