---
---
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="{{site.baseurl}}/images/favicon.png" >
<LINK rel="Shortcut Icon" href="{{site.baseurl}}/images/favicon.png" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>DataTables中文网例子索引</title>
<meta name="keywords" content="H-ui.admin v2.4,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v2.4，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl">
            <a class="logo navbar-logo f-l mr-10 hidden-xs" href="/">DataTables中文网例子索引</a>
            <a class="logo navbar-logo-m f-l mr-10 visible-xs" href="/">DataTables中文网例子索引</a>
            <span class="logo navbar-slogan f-l mr-10 hidden-xs">v3.4.1</span>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
			<nav class="nav navbar-nav">
				<ul class="cl">
					<li class="dropDown dropDown_hover"><a href="javascript:;" class="dropDown_A Hui-iconfont"> &#xe667; <i class="Hui-iconfont">&#xe6d5;</i></a>
						<ul class="dropDown-menu menu radius box-shadow">
							<li><a href="/" target="_blank">首页</a></li>
							<li><a href="/blog" target="_blank">博客</a></li>
							<li><a href="/example/" target="_blank">例子</a></li>
							<li><a href="/manual" target="_blank">入门手册</a></li>
							<li><a href="/reference" target="_blank">文档</a></li>
							<li><a href="/extensions" target="_blank">DataTables扩展</a></li>
							<li><a href="/plug-ins" target="_blank">DataTables插件</a></li>
							<li><a href="/faqs" target="_blank">FAQS</a></li>
							<li><a href="/upgrade" target="_blank">更新日志</a></li>
							<li><a href="/about" target="_blank">关于我们</a></li>
							<li><a href="/tour" target="_blank">导航</a></li>
                            <li>{% include cnzz.html %}</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt>基本初始化<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
                    {% assign basicinitlist = site.data.example.basic %}
                    {% for basicinit in basicinitlist %}
                    <li><a _href="{{ basicinit.url }}" data-title="{{ basicinit.title }}" href="javascript:void(0)">{{ basicinit.title }}</a></li>
                    {% endfor %}
				</ul>
			</dd>
		</dl>
		<dl id="menu-picture">
			<dt>高级初始化<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
                    {% assign advancedinitlist = site.data.example.advanced %}
                    {% for advancedinit in advancedinitlist %}
					<li><a _href="{{ advancedinit.url }}" data-title="{{ advancedinit.title }}" href="javascript:void(0)">{{ advancedinit.title }}</a></li>
                    {% endfor %}
                </ul>
			</dd>
		</dl>
		<dl id="menu-product">
			<dt>AJAX获取数据<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
                    {% assign ajaxlist = site.data.example.ajax %}
                    {% for ajax in ajaxlist %}
                    <li><a _href="{{ ajax.url }}" data-title="{{ ajax.title }}" href="javascript:void(0)">{{ ajax.title }}</a></li>
                    {% endfor %}
                </ul>
			</dd>
		</dl>
		<dl id="menu-comments">
			<dt>四种数据源<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
                    {% assign datasourceslist = site.data.example.datasources %}
                    {% for datasources in datasourceslist %}
                    <li><a _href="{{ datasources.url }}" data-title="{{ datasources.title }}" href="javascript:void(0)">{{ datasources.title }}</a></li>
                    {% endfor %}
                </ul>
			</dd>
		</dl>
		<dl id="menu-member">
			<dt>API<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
                    {% assign apilist = site.data.example.api %}
                    {% for api in apilist %}
                    <li><a _href="{{ api.url }}" data-title="{{ api.title }}" href="javascript:void(0)">{{ api.title }}</a></li>
                    {% endfor %}
                </ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt>Plug-ins<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
                    {% assign pluginslist = site.data.example.plugins %}
                    {% for plugins in pluginslist %}
                    <li><a _href="{{ plugins.url }}" data-title="{{ plugins.title }}" href="javascript:void(0)">{{ plugins.title }}</a></li>
                    {% endfor %}
                </ul>
			</dd>
		</dl>
		<dl id="menu-tongji">
			<dt>服务器处理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
                    {% assign serversidelist = site.data.example.serverside %}
                    {% for serverside in serversidelist %}
                    <li><a _href="{{ serverside.url }}" data-title="{{ serverside.title }}" href="javascript:void(0)">{{ serverside.title }}</a></li>
                    {% endfor %}
                </ul>
			</dd>
		</dl>
		<dl id="menu-system">
			<dt>小伙伴共享<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
                    {% assign sharelist = site.data.example.share %}
                    {% for share in sharelist %}
                    <li><a _href="{{ share.url }}" data-title="{{ share.title }}" href="javascript:void(0)">{{ share.title }}</a></li>
                    {% endfor %}
                </ul>
			</dd>
		</dl>
	</div>

    <div style="width: 250px;margin: 20px auto">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- test -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2101546703939638"
             data-ad-slot="9922577908"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <!--{% include kinginfad %}-->
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
	<div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
				<li class="active"><span title="自助解决问题" data-href="god.html">自助解决问题</span><em></em></li>
			</ul>
		</div>
		<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
	</div>
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div style="display:none" class="loading"></div>
			<iframe scrolling="yes" frameborder="0" src="god.html"></iframe>
		</div>
	</div>
</section>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> 

</body>
</html>