---
layout: example
title: 例子 Datatables中文网
---
{% include nav.html param="example" %}
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>示例索引</h1>
        <p>
            做任何事情，要想做好，最好的办法就是亲自动手尝试，你不逼自己，你永远不知道自己有多强大，下面的示例会告诉你怎么使用datatables
        </p>
    </div>
</header>

<div class="container">
    <div class="row-fluid" style="margin-top: 10px">

            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#example" data-toggle="tab">示例</a></li>
                <li><a href="#vedio" data-toggle="tab">视频<span class='hot'></span></a></li>
                <li><a href="#try" data-toggle="tab">别只看，动动手<span class='hot'></span></a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <b style="color:red"> 在参考例子之前先参考 <a href="../faqs/index.html" target="_blank">FAQS</a></b>
                <div class="tab-pane fade in active" id="example">
                    <div class="span12">
                        <div class="row-fluid">
                            {% include example/user_share.html %}
                        </div>
                        <div class="row-fluid">
                            {% include example/basic_init.html %}
                            {% include example/advanced_init.html %}
                            {% include example/api.html %}
                            {% include example/server_side.html %}
                        </div>
                        <div class="row-fluid">
                            {% include example/styling.html %}
                            {% include example/data_sources.html %}
                            {% include example/ajax.html %}
                            {% include example/plug-ins.html %}
                        </div><!--/row-->
                    </div><!--/span-->
                </div>
                <div class="tab-pane fade" id="vedio">
                    <div class="span12">
                        <div class="row-fluid">
                            {% include example/vedio1.html %}
                            {% include example/vedio2.html %}
                            {% include example/vedio-usershare.html %}
                        </div>
                    </div><!--/span-->
                </div>
                <div class="tab-pane fade" id="try">
                    <div class="span12">
                        例子、视频什么的都看完了，怎么办？那还不简单，动手开搞啊！（下面展示了一个简单的例子，可以编辑代码达到你想要的效果，代码改乱了，刷新下就复原了）
                        {% include codedebug.html param='http://www.gbtags.com/gb/rtwidget-replayerpreview/928.htm' %}
                    </div><!--/span-->
                </div>

            </div>

        {% include post.html param= site.url param2 = '/example.html' %}
    </div><!--/row-->

</div><!--/.fluid-container-->

{% include copyright.html %}
{% include script.html %}

<script>
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>