---
layout: example
title: 例子 Datatables中文网
---
{% include nav.html param="example" %}
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>示例索引</h1>
        <p>
            做任何事情，要想做好，最好的办法就是亲自动手尝试，你不逼自己，你永远不知道自己有多强大，下面的示例会告诉你怎么使用datatables
        </p>
    </div>
</header>

<div class="container">
    <div class="row-fluid" style="margin-top: 10px">

        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav">
                <li><a href="#user_share"><i class="icon-chevron-right"></i>用户共享</a></li>
                <li><a href="#basic_init"><i class="icon-chevron-right"></i>基本初始化</a></li>
                <li><a href="#advanced_init"><i class="icon-chevron-right"></i>高级初始化</a></li>
                <li><a href="#styling"><i class="icon-chevron-right"></i>Datatables各种样式</a></li>
                <li><a href="#data_sources"><i class="icon-chevron-right"></i>数据源</a></li>
                <li><a href="#api"><i class="icon-chevron-right"></i>API</a></li>
                <li><a href="#ajax"><i class="icon-chevron-right"></i>Ajax</a></li>
                <li><a href="#server_side"><i class="icon-chevron-right"></i>服务器模式</a></li>
                <li><a href="#plug_ins"><i class="icon-chevron-right"></i>插件</a></li>
                <li><a href="#vedio1"><i class="icon-chevron-right"></i>Datatables入门视频-第一季</a></li>
                <li><a href="#vedio2"><i class="icon-chevron-right"></i>网友共享视频</a></li>
            </ul>
        </div>
        <div class="span9">
            {% include post.html %}
            <div class="span12">
                <b style="color:red"> 在参考例子之前先参考 <a href="../faqs/index.html" target="_blank">FAQS</a></b>。
                下面的例子、视频什么的都看完了，怎么办？那还不简单，动手开搞啊！（下面展示了一个简单的例子，可以编辑代码达到你想要的效果，代码改乱了，刷新下就复原了）
                {% include codedebug.html param='http://www.gbtags.com/gb/rtwidget-replayerpreview/928.htm' %}
            </div><!--/span-->
            <div class="span12">
                <section id="user_share">
                    <table id="user_share_table" class="display custom" cellspacing="0" width="100%">
                        <caption><h2>网友共享（User Share）</h2></caption>
                    </table>
                </section>
                <section id="basic_init">
                    <table id="basic_init_table" class="display custom" cellspacing="0" width="100%">
                        <caption><h2>基本初始化(Basic initialisation)</h2></caption>
                    </table>
                </section>
                <section id="advanced_init">
                    <table id="advanced_init_table" class="display custom" cellspacing="0" width="100%">
                        <caption><h2>高级初始化(Advanced initialisation)</h2></caption>
                    </table>
                </section>
                <section id="styling">
                    <table id="styling_table" class="display custom" cellspacing="0" width="100%">
                        <caption><h2>样式(Styling)</h2></caption>
                    </table>
                </section>
                <section id="data_sources">
                    <table id="data_sources_table" class="display custom" cellspacing="0" width="100%">
                        <caption><h2>数据源(Data sources)</h2></caption>
                    </table>
                </section>
                <section id="api">
                    <table id="api_table" class="display custom" cellspacing="0" width="100%">
                        <caption><h2>API</h2></caption>
                    </table>
                </section>
                <section id="ajax">
                    <table id="ajax_table" class="display custom" cellspacing="0" width="100%">
                        <caption><h2>AJAX</h2></caption>
                    </table>
                </section>
                <section id="server_side">
                    <table id="server_side_table" class="display custom" cellspacing="0" width="100%">
                        <caption><h2>服务器处理（Server-side）</h2></caption>
                    </table>
                </section>
                <section id="plug_ins">
                    <table id="plug_ins_table" class="display custom" cellspacing="0" width="100%">
                        <caption><h2>Plug-ins</h2></caption>
                    </table>
                </section>
                <section id="vedio1">
                    <table id="vedio1_table" class="display custom" cellspacing="0" width="100%">
                        <caption><h2>Datatables入门视频-第一季</h2></caption>
                    </table>
                </section>
                <section id="vedio2">
                    <table id="vedio2_table" class="display custom" cellspacing="0" width="100%">
                        <caption><h2>网友共享视频</h2></caption>
                    </table>
                </section>

            </div><!--/span-->

        </div>

    </div><!--/row-->

</div><!--/.fluid-container-->

{% include copyright.html %}
{% include script.html %}
{% include libs/laytpl.html %}


<!--表格公共模板-->
<script type="text/html" id="exampleTableHtml">
    <table id="{{ d.tableId }}" class="display" cellspacing="0" width="100%">
        <caption>{{ d.title }}</caption>
        <thead>
        <tr>
            <th></th>
            <th>名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        <tr>
            <th></th>
            <th>名称</th>
            <th>操作</th>
        </tr>
        </tfoot>
    </table>
</script>

<!-- 详情模板 -->
<script type="text/html" id="detailHtml">
    <table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
        <tr>
            <td>
                {{ d.detail }}
            </td>
        </tr>
    </table>
</script>

<script type="text/html" id="buttonHtml">

</script>
{% include libs/datatables_js.html %}
{% include example.js %}
<script src="{{site.baseurl}}/js/application.js"></script>
<script>
    $(document).ready(function(){
        example.init();
    });

</script>

