---
layout: example
title: 例子 Datatables中文网
---
{% include nav.html param="example" %}
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>示例索引</h1>
        <p>
            做任何事情，要想做好，最好的办法就是亲自动手尝试，你不逼自己，你永远不知道自己有多强大，下面的示例会告诉你怎么使用datatables
        </p>
    </div>
</header>

<div class="container">
    <div class="row-fluid" style="margin-top: 10px">

            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#example" data-toggle="tab">示例</a></li>
                <li><a href="#vedio" data-toggle="tab">视频<span class='hot'></span></a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="example">
                    <div class="span12">
                        <b style="color:red"> 在参考例子之前先参考 <a href="../faqs/index.html" target="_blank">FAQS</a></b>。
                        下面的例子、视频什么的都看完了，怎么办？那还不简单，动手开搞啊！（下面展示了一个简单的例子，可以编辑代码达到你想要的效果，代码改乱了，刷新下就复原了）
                        {% include codedebug.html param='http://www.gbtags.com/gb/rtwidget-replayerpreview/928.htm' %}
                    </div><!--/span-->
                    <div class="span12">
                        <div id="user_share">
                            <table id="user_share_table" class="display custom" cellspacing="0" width="100%">
                                <caption><h2>网友共享（User Share）</h2></caption>
                            </table>
                        </div>
                        <div id="basic_init">
                            <table id="basic_init_table" class="display custom" cellspacing="0" width="100%">
                                <caption><h2>基本初始化(Basic initialisation)</h2></caption>
                            </table>
                        </div>
                        <div id="advanced_init">
                            <table id="advanced_init_table" class="display custom" cellspacing="0" width="100%">
                                <caption><h2>高级初始化(Advanced initialisation)</h2></caption>
                            </table>
                        </div>
                        <div id="styling">
                            <table id="styling_table" class="display custom" cellspacing="0" width="100%">
                                <caption><h2>样式(Styling)</h2></caption>
                            </table>
                        </div>
                        <div id="data_sources">
                            <table id="data_sources_table" class="display custom" cellspacing="0" width="100%">
                                <caption><h2>数据源(Data sources)</h2></caption>
                            </table>
                        </div>
                        <div id="api">
                            <table id="api_table" class="display custom" cellspacing="0" width="100%">
                                <caption><h2>API</h2></caption>
                            </table>
                        </div>
                        <div id="ajax">
                            <table id="ajax_table" class="display custom" cellspacing="0" width="100%">
                                <caption><h2>AJAX</h2></caption>
                            </table>
                        </div>
                        <div id="server_side">
                            <table id="server_side_table" class="display custom" cellspacing="0" width="100%">
                                <caption><h2>服务器处理（Server-side）</h2></caption>
                            </table>
                        </div>
                        <div id="plug_ins">
                            <table id="plug_ins_table" class="display custom" cellspacing="0" width="100%">
                                <caption><h2>Plug-ins</h2></caption>
                            </table>
                        </div>

                    </div><!--/span-->
                </div>
                <div class="tab-pane fade" id="vedio">
                    <div class="span12">
                        <div class="row-fluid">
                            {% include example/vedio1.html %}
                            {% include example/vedio2.html %}
                            {% include example/vedio-usershare.html %}
                        </div>
                    </div><!--/span-->
                </div>

            </div>

        {% include post.html param= site.url param2 = '/example.html' %}
    </div><!--/row-->

</div><!--/.fluid-container-->

{% include copyright.html %}
{% include script.html %}
{% include libs/laytpl.html %}


<!--表格公共模板-->
<script type="text/html" id="exampleTableHtml">
    <table id="{{ d.tableId }}" class="display" cellspacing="0" width="100%">
        <caption>{{ d.title }}</caption>
        <thead>
        <tr>
            <th></th>
            <th>名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        <tr>
            <th></th>
            <th>名称</th>
            <th>操作</th>
        </tr>
        </tfoot>
    </table>
</script>

<!-- 详情模板 -->
<script type="text/html" id="detailHtml">
    <table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">
        <tr>
            <td>
                {{ d.detail }}
            </td>
        </tr>
    </table>
</script>

<script type="text/html" id="buttonHtml">

</script>
{% include libs/datatables_js.html %}
{% include example.js %}
<script>
    $(document).ready(function(){
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
        example.init();
    });

</script>

