<h2>最常见问题</h2>
<section>
    <h3>1，我现在还在使用1.9.x的版本，去哪里查看文档？</h3>
    <p>
        旧版本的文档可以查阅这个 <a href="http://legacy.datatables.net/" target="_blank">网址</a>
        ，因为考虑到版本升级，新版的Datatables对旧版做了兼容性处理，大部分的
        配置选项方法在新版中依然兼容，但还是推荐直接升级到最新版使用。 <a href="/upgrade/1.10-convert.html"
                                           target="_blank">1.10.x与1.9.x参数名对照表</a>
    </p>
</section>
<section>
    <h3>2，json数据解析错误</h3>
    <p>
        这个是由于没有按照json的格式返回或者是缺少Datatables指定的参数
    </p>
</section>
<section>
    <h3>3，我在ie中会提示错误，但是chrome、ff这些浏览器却不会</h3>
    <p>
        一般可能是缺少逗号，在ie浏览器下会抛出错误，但是chrome这些浏览器会忽略这些错误
    </p>
</section>
<section>
    <h3>4，为什么表头会缩在一起，刷新页面后又正常了</h3>
    <p>
        在dt初始化的时候，会用类似jquery $().width()这种函数获取table父容器的宽度，如果父容器的style display属性是none的话，
        获取到的宽度值就会是0，然后dt就会使用自己默认宽度值100px进行替代运算，结果就缩到一起。
        或者是CSS样式没有引入正确。如果确保不是以上问题参考
        <a href="https://github.com/ssy341/datatables-cn/issues/9" target="_blank">datatables 采用bootstrap的tab方式，表头会缩在一起，为什么？</a>
    </p>
</section>
<section>
    <h3>5，怎么取消掉 DataTables 弹出的错误提示？</h3>
    <p>
        使用 <code>$.fn.dataTable.ext.errMode = function(s,h,m){}</code> 覆盖掉默认的即可
    </p>
</section>
<section>
    <h3>6，使用bootstrap页码分页问题,在上页被禁用情况下,点击也向服务器请求数据,为什么</h3>
    <p>
        这个是一个bug，问题是因为代码里只是设置了按钮的禁用状态，但是没有把按钮的点击事件屏蔽掉，所以还可以向服务器请求
    </p>
</section>
<section>
    <h3>7，$("#example").<span style="color: red">d</span>ataTable({...}) 和 $("#example").<span style="color: red">D</span>ataTable({...}) 的区别</h3>
    <p>
        1.10.x版本后，有两种初始化的写法， $().dataTable() 返回的是一个jQuery实例，
        $().DataTable() 返回的是Datatables的api实例， 如果在使用过程中出现某某方法不存在不支持之类的，
        一般都是由于是用第一种方法初始化dt，用返回的对象去调用DataTables 的 api方法，所以报错误。
        dt的api实例和jquery可以互转 ，jquery转api：dt.api();api转jquery：dt.to$();
        详细参考 <a href="http://datatables.club/manual/api.html">API手册</a>
    </p>
</section>