---
layout: default
title: Datatables 中文网
---
{% include nav.html param="index" %}
<input type="hidden" id="noad"/>
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <div class="span4">
            <h1>Welcome</h1>
            <h3>欢迎访问Datatables中文网</h3>
            <p>
                <a class="btn btn-lg btn-primary btn-shadow bs3-link" href="http://datatables.net/" target="_blank"
                   role="button">Datatables官网 &raquo;</a>
                <a class="btn btn-lg btn-primary btn-shadow bs3-link"
                   href="http://datatables.net/releases/DataTables-{{ site.dtversion }}.zip" target="_blank" role="button"
                   title="DataTables-{{ site.dtversion }}">最新版下载 &raquo;</a>
            </p>
            <p>
                <a class="btn btn-lg btn-primary btn-shadow bs3-link"
                   href="https://github.com/ssy341/datatables-cn/issues" target="_blank" role="button"
                   title="交流学习">交流学习 &raquo;</a>
            </p>
            <p>
                <a class="btn btn-lg btn-primary btn-shadow bs3-link"
                   href="#qqgroup" role="button"
                   title="加入QQ群交流">加入QQ群交流 &raquo;</a>
            </p>
        </div>
        <div class="span7">
            <p style="font-size:15px;text-indent: 2em;">
                Datatables是一款jquery表格插件。它是一个高度灵活的工具，可以将任何HTML表格添加高级的交互功能。
            <ul>
                <li>分页，即时搜索和排序</li>
                <li>几乎支持任何数据源：DOM，
                    javascript，
                    Ajax 和
                    服务器处理
                </li>
                <li>支持不同主题 DataTables, jQuery UI, Bootstrap, Foundation</li>
                <li>各式各样的扩展: Editor, TableTools, FixedColumns ……</li>
                <li>丰富多样的option和强大的API</li>
                <li>支持国际化</li>
                <li>超过2900+个单元测试</li>
                <li>免费开源 （ <a href="http://datatables.net/license/mit">MIT license</a> ）！<a
                        href="http://datatables.net/support"> 商业支持</a></li>
                <li>更多特性请到官网查看</li>
            </ul>
            </p>
        </div>
    </div>
</header>
<style>
    .news-title {
        font-weight: 700;
    }

    .news-date {
        color: #acaaaf;
        font-weight: 500;
    }

    .news {
        margin-top: 1.25rem;
    }

    .news-list h2 {
        margin-top: 25px;
        text-transform: uppercase;
        color: #333;
        font-size: 22px;
    }

    .more-news {
        margin-top: 2.5rem;
        display: inline-block;
    }

    .highlights {
        margin-top: 2rem;
    }
</style>
<div class="container"  style="margin-top:20px">

    {% include getting_started.html %}


        <div class="row highlights">

            <div class="span4 news-list">
                <h2>DataTables中文网Blog</h2>
                {% include bloglimit10andmore.html param=15 %}
            </div>

            <div class="span4 news-list">
                <h2>不定时一讲</h2>
                {% include dailylimit10andmore.html param=15 %}
            </div>

            <div class="span4 intro">
                <div class="well">
                    <h4>百度站内搜索</h4>
                    <div class="input-group">
                        <script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=4182846633237332666' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>
                    </div>
                </div>
                <div class="well">
                    <div class="input-group">
                        <script>
                            (function() {
                                var cx = '001171264216576386016:xim4af2d2ik';
                                var gcse = document.createElement('script');
                                gcse.type = 'text/javascript';
                                gcse.async = true;
                                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(gcse, s);
                            })();
                        </script>
                        <gcse:searchbox-only></gcse:searchbox-only>
                    </div>
                    <!-- /.input-group -->
                </div>
                {% include xad %}

                <div class="well">
                    <h3>赞助</h3>
                    <div class="flex-center">
                        <a href="/about/index.html#donate">
                            <img src="/images/bigstock-green-donate-button-46905649.jpg" class="img-polaroid">
                        </a>
                    </div>
                </div>

                <div class="well">
                    <span>
                        您的支持，将是我们前进的最大动力……
                    </span>

                    <!-- 表格开始 -->
                    <table id="example" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>昵称</th>
                            <th>金额</th>
                            <th>时间</th>
                            <!--<th>备注</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <th colspan="3"></th>
                        </tfoot>
                    </table>

                </div>
            </div>

        </div>

</div>
{% include copyright.html %}
{% include script.html %}
<script id="dsq-count-scr" src="//datatables.disqus.com/count.js" async></script>


{% include libs/datatables_js.html param='1.10.5' %}

<script src="/js/issue.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').dataTable({
            order: [
                [2, "desc"]
            ],
            pageLength: 3,
            dom: "it" +
            "<'row'p>",
            lengthChange: !1,
            columns: [
                {data: "nickname"},
                {data: "money"},
                {data: "date"}
            ],
            language: {
                search: "",
                paginate: {
                    next: ">",
                    previous: "<"
                }
//                info: " _START_ - _END_ (共_TOTAL_个热心网友 )"+' <a class="button button-success" href="/about/index.html#donate">我也要赞一个 &gt;&gt;</a>'
            },
            ajax: "{{site.baseurl}}/assets/donate.txt",
            createdRow: function (row, data, dataIndex) {
                $(row).attr("title",data.note)
                if (data.type) {
                    $(row).addClass("donateType");
                } else {
                    $(row).addClass("earnType");
                }
            },
            infoCallback: function( settings, start, end, max, total, pre ) {
                return start +"-"+ end+"(共"+total+"个热心网友 )<a class='button button-success' href='/about/index.html#donate'>我也要赞一个 &gt;&gt;</a>";
            },
            initComplete: function () {
                var api = this.api();
                var fda = api.column(1).data().reduce(function (a, b) {
                    return (parseFloat(a) + parseFloat(b)).toFixed(2);
                });
                $(api.column(0).footer()).html("总额：" + fda);
            }
        });


    });

    $(function () {
        $('.adsense_btn_close').click(function () {
            $(this).closest('.adsense_fixed').css('display', 'none');
        });

        $('.adsense_btn_info').click(function () {
            if ($('.adsense_info_content').is(':visible')) {
                $('.adsense_info_content').css('display', 'none');
            } else {
                $('.adsense_info_content').css('display', 'block');
            }
        });

    });
</script>
