---
layout: default
title: Datatables 中文网
---
{% include nav.html param="index" %}
<input type="hidden" id="noad"/>
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <div class="span4">
            <h1>Welcome</h1>
            <h3>欢迎访问Datatables中文网</h3>
            <p>
                <a class="btn btn-lg btn-primary btn-shadow bs3-link" href="http://datatables.net/" target="_blank"
                   role="button">Datatables官网 &raquo;</a>
                <a class="btn btn-lg btn-primary btn-shadow bs3-link"
                   href="http://datatables.net/releases/DataTables-{{ site.dtversion }}.zip" target="_blank" role="button"
                   title="DataTables-{{ site.dtversion }}">最新版下载 &raquo;</a>
            </p>
            <p>
                <a class="btn btn-lg btn-primary btn-shadow bs3-link"
                   href="http://www.gbtags.com/gb/tag/usertag/733.htm" target="_blank" role="button"
                   title="交流学习">交流学习 &raquo;</a>
            </p>
            <p>
                <a class="btn btn-lg btn-primary btn-shadow bs3-link"
                   href="#qqgroup" role="button"
                   title="加入QQ群交流">加入QQ群交流 &raquo;</a>
            </p>
        </div>
        <div class="span7">
            <p style="font-size:15px;text-indent: 2em;">
                Datatables是一款jquery表格插件。它是一个高度灵活的工具，可以将任何HTML表格添加高级的交互功能。
            <ul>
                <li>分页，即时搜索和排序</li>
                <li>几乎支持任何数据源：DOM，
                    javascript，
                    Ajax 和
                    服务器处理
                </li>
                <li>支持不同主题 DataTables, jQuery UI, Bootstrap, Foundation</li>
                <li>各式各样的扩展: Editor, TableTools, FixedColumns ……</li>
                <li>丰富多样的option和强大的API</li>
                <li>支持国际化</li>
                <li>超过2900+个单元测试</li>
                <li>免费开源 （ <a href="http://datatables.net/license/mit">MIT license</a> ）！<a
                        href="http://datatables.net/support"> 商业支持</a></li>
                <li>更多特性请到官网查看</li>
            </ul>
            </p>
        </div>
    </div>
</header>
<style>
    .news-title {
        font-weight: 700;
    }

    .news-date {
        color: #acaaaf;
        font-weight: 500;
    }

    .news {
        margin-top: 1.25rem;
    }

    .news-list h2 {
        margin-top: 25px;
        text-transform: uppercase;
        color: #333;
        font-size: 22px;
    }

    .more-news {
        margin-top: 2.5rem;
        display: inline-block;
    }

    .highlights {
        margin-top: 2rem;
    }
</style>
<div class="container"  style="margin-top:20px">

        <div class="row highlights">

            <div class="span4 news-list">
                <h2>最新动态</h2>

                {% assign postlist = site.tags %}
                {% for post in postlist['博客'] limit:10 %}
                <!-- First Blog Post -->
                <article class="news">
                    <div class="news-date">{{ post.date | date: "%Y年%m月%-d日" }}</div>
                    <div class="news-title">
                        <a href="{{ post.url }}">{{ post.short }}</a>
                        <i class="icon-comment "></i><span class='disqus-comment-count' data-disqus-url="{{ site.url }}{{ post.url }}"></span>
                    </div>
                </article>
                {% endfor %}
                <a class="more-news" href="/blog">更多 »</a>
            </div>

            <div class="span4 news-list">
                <h2>不定时一讲</h2>
                {% include dailylimit10andmore.html %}
            </div>

            <div class="span4 intro">
                {% include xad %}
                    <div class="flex-center">
                        <a href="/about/index.html#donate">
                            <img src="/images/bigstock-green-donate-button-46905649.jpg" class="img-polaroid">
                            </a>
                    </div>
                    <h3>赞助</h3>
                    <p>
                        您的支持，将是我们前进的最大动力……
                    </p>
                    <a class="button button-success" href="/about/index.html#donate">去赞助 &gt;&gt;</a>
                </div>
        </div>

</div>
{% include copyright.html %}
{% include script.html %}
<script id="dsq-count-scr" src="//datatables.disqus.com/count.js" async></script>
