---
title: 更新日志 Datatables中文网
---
<!DOCTYPE html>
<html lang="utf-8">
<head>
    {% include head.html %}
    {% include libs/bootstrap_css.html %}
    {% include libs/datatables_css.html %}
    <link href="css/docs.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png">
    <style>
        .hot {
            background-image: url(http://changyan.itc.cn/v2/asset/scs/imgs/hot.gif);
            height: 12px;
            width: 21px;
            position: absolute;
        }
    </style>
</head>
<body>
{% include nav.html param="update" %}
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <div class="span4">
            <h3>更新日志</h3>
        </div>
        <div class="span7">
            <p style="font-size:15px;text-indent: 2em;">
                很感谢大家对本站的支持，由于之前时间紧张，没有完成翻译，
                给大家学习 带来的不便深感歉意，我也希望能够给大家提供一个好的学习资料，
                近期我在转移到github上，更新的内容会首先更新到
                <a href="http://ssy341.github.io/datatables-cn/index.html">github</a>，本站暂时不更新，
                等github搭建完毕后，两站会同步更新。为了及时的回复大家提出的问题，
                加入了回复自动提醒，我会收到邮件，如果能帮你解决，我一定给你排忧解难。
                如果你也想加入到翻译中来（需要会github），请联系QQ1282262270 标注 dt翻译。
                如果你有任何意见或建议，欢迎在首页下底部留言，我会真诚的采纳您的意见 <br/>
                2014年11月7日22:13:33 by 341
            </p>
        </div>
    </div>
</header>

<div class="row-fluid" style="margin-top:20px">
    <div class="span1"></div>
    <div class="span10">
        <!-- 表格开始 -->
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>内容</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="span1"></div>
    <div class="span11">{% include post.html param= site.url param2 = page.url %}</div>
</div>
<!--/row-->

<!--footer-->
{% include copyright.html %}
{% include script.html %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').dataTable({
            "order": [
                [ 1, "desc" ]
            ],
            paging: !1,
            dom: "t",
            ajax:"../assets/updatelog.txt",
            "columnDefs": [ {
                "targets": 0,
                "render":function(data, type, row, meta){
                    if(row[2]){
                        return data+"<span class='hot'></span>";
                    }else{
                        return data;
                    }
                }
            } ]
        });
    });
    var time = localStorage['dt.thxopen.com.note'];
    if(typeof time === 'object'){
        localStorage.removeItem("dt.thxopen.com.note");
    }
    localStorage['dt.thxopen.com.note'] = new Date().getTime();
</script>
</body>
</html>
