---
layout: example_layout
title: 多个表格 基本初始化 示例 Datatables中文网
relurl: http://datatables.net/examples/basic_init/multiple_tables.html
---
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h3>多个表格</h3>

        <p>
            datatables可以初始化多个表格，只需要使用jquery的选择器即可
        </p>

        <p>
            这些表都是独立（即用户控制一个表上分页不会影响其他表格），但它们共享给定的初始化参数 （例如如果你指定的国际化文件，所有的表将显示你指定的语言)。此外，API 可以一起操作或者独立操作。
        </p>

        <p>下面这个例子展示的是一行代码显示两个表格，通过table.display选择器</p>
        <!--<a class="btn btn-lg btn-primary btn-shadow bs3-link" href="./zero_configuration_code.html" target="_blank"-->
           <!--role="button">代码回放</a>-->
    </div>
</header>
<div class="container">
    {% include xad.html %}
<div class="row-fluid" style="margin-top:20px">

<!-- 表格开始 -->
<table class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Salary</th>
    </tr>
    </thead>

    <tfoot>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Salary</th>
    </tr>
    </tfoot>

    <tbody>
    <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        <td>$320,800</td>
    </tr>
    <tr>
        <td>Cedric Kelly</td>
        <td>Senior Javascript Developer</td>
        <td>Edinburgh</td>
        <td>22</td>
        <td>$433,060</td>
    </tr>
    <tr>
        <td>Sonya Frost</td>
        <td>Software Engineer</td>
        <td>Edinburgh</td>
        <td>23</td>
        <td>$103,600</td>
    </tr>
    <tr>
        <td>Quinn Flynn</td>
        <td>Support Lead</td>
        <td>Edinburgh</td>
        <td>22</td>
        <td>$342,000</td>
    </tr>
    <tr>
        <td>Dai Rios</td>
        <td>Personnel Lead</td>
        <td>Edinburgh</td>
        <td>35</td>
        <td>$217,500</td>
    </tr>
    <tr>
        <td>Gavin Joyce</td>
        <td>Developer</td>
        <td>Edinburgh</td>
        <td>42</td>
        <td>$92,575</td>
    </tr>
    <tr>
        <td>Martena Mccray</td>
        <td>Post-Sales support</td>
        <td>Edinburgh</td>
        <td>46</td>
        <td>$324,050</td>
    </tr>
    <tr>
        <td>Jennifer Acosta</td>
        <td>Junior Javascript Developer</td>
        <td>Edinburgh</td>
        <td>43</td>
        <td>$75,650</td>
    </tr>
    <tr>
        <td>Shad Decker</td>
        <td>Regional Director</td>
        <td>Edinburgh</td>
        <td>51</td>
        <td>$183,000</td>
    </tr>
    </tbody>
</table>

<table class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Salary</th>
    </tr>
    </thead>

    <tfoot>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Salary</th>
    </tr>
    </tfoot>

    <tbody>
    <tr>
        <td>Jena Gaines</td>
        <td>Office Manager</td>
        <td>London</td>
        <td>30</td>
        <td>$90,560</td>
    </tr>
    <tr>
        <td>Haley Kennedy</td>
        <td>Senior Marketing Designer</td>
        <td>London</td>
        <td>43</td>
        <td>$313,500</td>
    </tr>
    <tr>
        <td>Tatyana Fitzpatrick</td>
        <td>Regional Director</td>
        <td>London</td>
        <td>19</td>
        <td>$385,750</td>
    </tr>
    <tr>
        <td>Michael Silva</td>
        <td>Marketing Designer</td>
        <td>London</td>
        <td>66</td>
        <td>$198,500</td>
    </tr>
    <tr>
        <td>Bradley Greer</td>
        <td>Software Engineer</td>
        <td>London</td>
        <td>41</td>
        <td>$132,000</td>
    </tr>
    <tr>
        <td>Angelica Ramos</td>
        <td>Chief Executive Officer (CEO)</td>
        <td>London</td>
        <td>47</td>
        <td>$1,200,000</td>
    </tr>
    <tr>
        <td>Suki Burks</td>
        <td>Developer</td>
        <td>London</td>
        <td>53</td>
        <td>$114,500</td>
    </tr>
    <tr>
        <td>Prescott Bartlett</td>
        <td>Technical Author</td>
        <td>London</td>
        <td>27</td>
        <td>$145,000</td>
    </tr>
    <tr>
        <td>Timothy Mooney</td>
        <td>Office Manager</td>
        <td>London</td>
        <td>37</td>
        <td>$136,200</td>
    </tr>
    <tr>
        <td>Bruno Nash</td>
        <td>Software Engineer</td>
        <td>London</td>
        <td>38</td>
        <td>$163,500</td>
    </tr>
    <tr>
        <td>Hermione Butler</td>
        <td>Regional Director</td>
        <td>London</td>
        <td>47</td>
        <td>$356,250</td>
    </tr>
    <tr>
        <td>Lael Greer</td>
        <td>Systems Administrator</td>
        <td>London</td>
        <td>21</td>
        <td>$103,500</td>
    </tr>
    </tbody>
</table>
<!-- 表格结束 -->

<div class="tabbable"> <!-- Only required for left/right tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">javascript</a></li>
    <li><a href="#tab2" data-toggle="tab">html</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="tab1">
            <pre class="brush:js;toolbar:false">
             $(document).ready(function() {
              $('table.display').dataTable();
            } );
            </pre>
</div>
<div class="tab-pane" id="tab2">
           <pre class="brush:xml;toolbar:false">&lt;table id=&quot;&quot; class=&quot;display&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;Name&lt;/th&gt;
                &lt;th&gt;Position&lt;/th&gt;
                &lt;th&gt;Office&lt;/th&gt;
                &lt;th&gt;Age&lt;/th&gt;
                &lt;th&gt;Salary&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tfoot&gt;
            &lt;tr&gt;
                &lt;th&gt;Name&lt;/th&gt;
                &lt;th&gt;Position&lt;/th&gt;
                &lt;th&gt;Office&lt;/th&gt;
                &lt;th&gt;Age&lt;/th&gt;
                &lt;th&gt;Salary&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/tfoot&gt;

        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td&gt;Tiger Nixon&lt;/td&gt;
                &lt;td&gt;System Architect&lt;/td&gt;
                &lt;td&gt;Edinburgh&lt;/td&gt;
                &lt;td&gt;61&lt;/td&gt;
                &lt;td&gt;$320,800&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Cedric Kelly&lt;/td&gt;
                &lt;td&gt;Senior Javascript Developer&lt;/td&gt;
                &lt;td&gt;Edinburgh&lt;/td&gt;
                &lt;td&gt;22&lt;/td&gt;
                &lt;td&gt;$433,060&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Sonya Frost&lt;/td&gt;
                &lt;td&gt;Software Engineer&lt;/td&gt;
                &lt;td&gt;Edinburgh&lt;/td&gt;
                &lt;td&gt;23&lt;/td&gt;
                &lt;td&gt;$103,600&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Quinn Flynn&lt;/td&gt;
                &lt;td&gt;Support Lead&lt;/td&gt;
                &lt;td&gt;Edinburgh&lt;/td&gt;
                &lt;td&gt;22&lt;/td&gt;
                &lt;td&gt;$342,000&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Dai Rios&lt;/td&gt;
                &lt;td&gt;Personnel Lead&lt;/td&gt;
                &lt;td&gt;Edinburgh&lt;/td&gt;
                &lt;td&gt;35&lt;/td&gt;
                &lt;td&gt;$217,500&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Gavin Joyce&lt;/td&gt;
                &lt;td&gt;Developer&lt;/td&gt;
                &lt;td&gt;Edinburgh&lt;/td&gt;
                &lt;td&gt;42&lt;/td&gt;
                &lt;td&gt;$92,575&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Martena Mccray&lt;/td&gt;
                &lt;td&gt;Post-Sales support&lt;/td&gt;
                &lt;td&gt;Edinburgh&lt;/td&gt;
                &lt;td&gt;46&lt;/td&gt;
                &lt;td&gt;$324,050&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Jennifer Acosta&lt;/td&gt;
                &lt;td&gt;Junior Javascript Developer&lt;/td&gt;
                &lt;td&gt;Edinburgh&lt;/td&gt;
                &lt;td&gt;43&lt;/td&gt;
                &lt;td&gt;$75,650&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Shad Decker&lt;/td&gt;
                &lt;td&gt;Regional Director&lt;/td&gt;
                &lt;td&gt;Edinburgh&lt;/td&gt;
                &lt;td&gt;51&lt;/td&gt;
                &lt;td&gt;$183,000&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
    &lt;table id=&quot;&quot; class=&quot;display&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;Name&lt;/th&gt;
                &lt;th&gt;Position&lt;/th&gt;
                &lt;th&gt;Office&lt;/th&gt;
                &lt;th&gt;Age&lt;/th&gt;
                &lt;th&gt;Salary&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tfoot&gt;
            &lt;tr&gt;
                &lt;th&gt;Name&lt;/th&gt;
                &lt;th&gt;Position&lt;/th&gt;
                &lt;th&gt;Office&lt;/th&gt;
                &lt;th&gt;Age&lt;/th&gt;
                &lt;th&gt;Salary&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/tfoot&gt;

        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td&gt;Jena Gaines&lt;/td&gt;
                &lt;td&gt;Office Manager&lt;/td&gt;
                &lt;td&gt;London&lt;/td&gt;
                &lt;td&gt;30&lt;/td&gt;
                &lt;td&gt;$90,560&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Haley Kennedy&lt;/td&gt;
                &lt;td&gt;Senior Marketing Designer&lt;/td&gt;
                &lt;td&gt;London&lt;/td&gt;
                &lt;td&gt;43&lt;/td&gt;
                &lt;td&gt;$313,500&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Tatyana Fitzpatrick&lt;/td&gt;
                &lt;td&gt;Regional Director&lt;/td&gt;
                &lt;td&gt;London&lt;/td&gt;
                &lt;td&gt;19&lt;/td&gt;
                &lt;td&gt;$385,750&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Michael Silva&lt;/td&gt;
                &lt;td&gt;Marketing Designer&lt;/td&gt;
                &lt;td&gt;London&lt;/td&gt;
                &lt;td&gt;66&lt;/td&gt;
                &lt;td&gt;$198,500&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Bradley Greer&lt;/td&gt;
                &lt;td&gt;Software Engineer&lt;/td&gt;
                &lt;td&gt;London&lt;/td&gt;
                &lt;td&gt;41&lt;/td&gt;
                &lt;td&gt;$132,000&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Angelica Ramos&lt;/td&gt;
                &lt;td&gt;Chief Executive Officer (CEO)&lt;/td&gt;
                &lt;td&gt;London&lt;/td&gt;
                &lt;td&gt;47&lt;/td&gt;
                &lt;td&gt;$1,200,000&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Suki Burks&lt;/td&gt;
                &lt;td&gt;Developer&lt;/td&gt;
                &lt;td&gt;London&lt;/td&gt;
                &lt;td&gt;53&lt;/td&gt;
                &lt;td&gt;$114,500&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Prescott Bartlett&lt;/td&gt;
                &lt;td&gt;Technical Author&lt;/td&gt;
                &lt;td&gt;London&lt;/td&gt;
                &lt;td&gt;27&lt;/td&gt;
                &lt;td&gt;$145,000&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Timothy Mooney&lt;/td&gt;
                &lt;td&gt;Office Manager&lt;/td&gt;
                &lt;td&gt;London&lt;/td&gt;
                &lt;td&gt;37&lt;/td&gt;
                &lt;td&gt;$136,200&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Bruno Nash&lt;/td&gt;
                &lt;td&gt;Software Engineer&lt;/td&gt;
                &lt;td&gt;London&lt;/td&gt;
                &lt;td&gt;38&lt;/td&gt;
                &lt;td&gt;$163,500&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Hermione Butler&lt;/td&gt;
                &lt;td&gt;Regional Director&lt;/td&gt;
                &lt;td&gt;London&lt;/td&gt;
                &lt;td&gt;47&lt;/td&gt;
                &lt;td&gt;$356,250&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;Lael Greer&lt;/td&gt;
                &lt;td&gt;Systems Administrator&lt;/td&gt;
                &lt;td&gt;London&lt;/td&gt;
                &lt;td&gt;21&lt;/td&gt;
                &lt;td&gt;$103,500&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;</pre>
    <p>
        <br/>
    </p>
</div>
</div>
</div>
{% include quote.html %}
</div>

</div><!--/row-->

{% include example_script.html %}
{% include copyright.html %}
<script type="text/javascript">
    $(document).ready(function () {
        $('table.display').dataTable();
    });
</script>