---
title: 更新日志 Datatables中文网
---
<!DOCTYPE html>
<html lang="utf-8">
<head>
    {% include head.html %}
    {% include libs/bootstrap_css.html %}
    {% include libs/datatables_css.html %}
    <link href="../css/docs.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.png">
    <style>
        .hot {
            background-image: url({{site.baseurl}}/images/hot.gif);
            height: 12px;
            width: 21px;
            position: absolute;
        }
    </style>
</head>
<body>
{% include nav.html param="update" %}
<header class="jumbotron subhead" id="overview">
    <div class="container">
            <h1>Datetables中文网更新日志</h1>
            <p style="font-size:15px;text-indent: 2em;">

            </p>
    </div>
</header>

<div class="container">
    {% include xad.html %}
    <div class="row-fluid" style="margin-top:20px">
            <!-- 表格开始 -->
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th></th>
                    <th>更新内容</th>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--/row-->

<!--footer-->
{% include script.html %}
{% include copyright.html %}
{% include libs/datatables_js.html %}
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "order": [
                [2, "desc"]
            ],
            paging: !1,
            dom: "t",
            ajax: "{{site.baseurl}}/assets/updatelog.txt",
            "columnDefs": [{
                "targets": 1,
                "render": function (data, type, row, meta) {
                    if (row.isHot) {
                        return data + "<span class='hot'></span>";
                    } else {
                        return data;
                    }
                }
            },
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }],
            columns:[
                {data:null},
                {data:"content"},
                {data:"date"}
            ]
        });

        table.on('order.dt search.dt', function () {
            table.column(0, {
                search: 'applied',
                order: 'applied'
            }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    });

    //博客更新标记
    var blog_time = localStorage['blog.datatables.club'];
    if(typeof blog_time === 'object'){
        localStorage.removeItem("blog.datatables.club");
    }
    localStorage['blog.datatables.club'] = new Date().getTime();

    //更新日志标记
    var update_time = localStorage['notice.datatables.club'];
    if(typeof update_time === 'object'){
        localStorage.removeItem("notice.datatables.club");
    }
    localStorage['notice.datatables.club'] = new Date().getTime();

</script>
</body>
</html>
