<div class="span3">
    <h3>Advanced initialisation（高级初始化）</h3>
    <ul class="toc">
        <li><a target="_blank" href="./advanced_init/events_live.html">绑定事件</a></li>
        <li><a target="_blank" href="./advanced_init/dt_events.html">Datatables自定义事件</a></li>
        <li><a target="_blank" href="./advanced_init/column_render.html">列渲染</a></li>
        <li><a target="_blank" href="./advanced_init/length_menu.html">自定义长度菜单的选项</a></li>
        <li><a target="_blank" href="./advanced_init/dom_multiple_elements.html">多个表格操作元素</a></li>
        <li><a target="_blank" href="./advanced_init/complex_header.html">复杂的表头</a></li>
        <li><a target="_blank" href="./advanced_init/object_dom_read.html">读Html数据对象</a></li>
        <li><a target="_blank" href="./advanced_init/html5-data-attributes.html">Html5 data-* 属性</a></li>
        <li><a target="_blank" href="./advanced_init/language_file.html">语言文件</a></li>
        <li><a target="_blank" href="./advanced_init/defaults.html">默认设置</a></li>
        <li><a target="_blank" href="./advanced_init/row_callback.html">创建行回调</a></li>
        <li><a target="_blank" href="./advanced_init/row_grouping.html">行分组</a></li>
        <li><a target="_blank" href="./advanced_init/footer_callback.html">表格foot回调</a></li>
        <li><a target="_blank" href="./advanced_init/dom_toolbar.html">自定义工具按钮元素</a></li>
        <li><a target="_blank" href="./advanced_init/sort_direction_control.html">高级排序控制</a></li>
    </ul>
</div><!--/span-->