<div class="span3">
    <h3>高级初始化</h3>
    <ul class="toc">
        <li><a target="_blanck" href="./advanced_init/events_live.html">DOM / jQuery events</a></li>
        <li><a target="_blanck" href="./advanced_init/dt_events.html">DataTables events</a></li>
        <li><a target="_blanck" href="./advanced_init/column_render.html">Column rendering</a></li>
        <li><a target="_blanck" href="./advanced_init/length_menu.html">Page length options</a></li>
        <li><a target="_blanck" href="./advanced_init/dom_multiple_elements.html">Multiple table control
            elements</a></li>
        <li><a target="_blanck" href="./advanced_init/complex_header.html">Complex headers (rowspan /
            colspan)</a></li>
        <li><a target="_blanck" href="./advanced_init/html5-data-attributes.html">HTML5 data-* attributes</a></li>
        <li><a target="_blanck" href="./advanced_init/language_file.html">Language file</a></li>
        <li><a target="_blanck" href="./advanced_init/defaults.html">Setting defaults</a></li>
        <li><a target="_blanck" href="./advanced_init/row_callback.html">Row created callback</a></li>
        <li><a target="_blanck" href="./advanced_init/row_grouping.html">Row grouping</a></li>
        <li><a target="_blanck" href="./advanced_init/footer_callback.html">Footer callback</a></li>
        <li><a target="_blanck" href="./advanced_init/dom_toolbar.html">Custom toolbar elements</a></li>
        <li><a target="_blanck" href="./advanced_init/sort_direction_control.html">Order direction sequence
            control</a></li>
    </ul>
</div><!--/span-->