<div class="span3">
    <h3 title="Ajax">Ajax</h3>
    <ul class="toc" style="list-style-type: none;">
        <li><a target="_blank" href="./ajax/simple.html"  title="Ajax data source (arrays)">Ajax数据源（数组）</a></li>
        <li><a target="_blank" href="./ajax/objects.html" title="Ajax data source (objects)">Ajax数据源（对象）</a></li>
        <li><a target="_blank" href="./ajax/deep.html" title="Nested object data (objects)">嵌套对象数据（对象）</a></li>
        <li><a target="_blank" href="./ajax/objects_subarrays.html" title="Nested object data (arrays)">嵌套对象数据（数组）</a></li>
        <li><a target="_blank" href="./ajax/orthogonal-data.html" title="Orthogonal data">正交数据</a></li>
        <li><a target="_blank" href="./ajax/null_data_source.html" title="Generated content for a column">给一列生成自定义内容</a></li>
        <li><a target="_blank" href="./ajax/custom_data_property.html" title="Custom data source property">自定义数据源属性</a></li>
        <li><a target="_blank" href="./ajax/custom_data_flat.html" title="Flat array data source">不指定数据源属性</a></li>
        <li><a target="_blank" href="./ajax/defer_render.html" title="Deferred rendering for speed">延迟渲染数据以提高速度</a></li>
    </ul>
</div><!--/span-->