<div class="span3">
    <h3>api</h3>
    <ul class="toc">
        <li><a target="_blanck" href="./api/add_row.html">Add rows</a></li>
        <li><a target="_blanck" href="./api/multi_filter.html">Individual column filtering (text inputs)</a></li>
        <li><a target="_blanck" href="./api/multi_filter_select.html">Individual column filtering (select
            inputs)</a></li>
        <li><a target="_blanck" href="./api/highlight.html">Highlighting rows and columns</a></li>
        <li><a target="_blanck" href="./api/row_details.html">Child rows (show extra / detailed
            information)</a></li>
        <li><a target="_blanck" href="./api/select_row.html">Row selection (multiple rows)</a></li>
        <li><a target="_blanck" href="./api/select_single_row.html">Row selection and deletion (single row)</a></li>
        <li><a target="_blanck" href="./api/form.html">Form inputs</a></li>
        <li><a target="_blanck" href="./api/counter_columns.html">Index column</a></li>
        <li><a target="_blanck" href="./api/show_hide.html">Show / hide columns dynamically</a></li>
        <li><a target="_blanck" href="./api/api_in_init.html">Using API in callbacks</a></li>
        <li><a target="_blanck" href="./api/tabs_and_scrolling.html">Scrolling and jQuery UI tabs</a></li>
        <li><a target="_blanck" href="./api/regex.html">Filtering API (regular expressions)</a></li>
    </ul>
</div><!--/span-->