<div class="span3">
    <h3>API</h3>
    <ul class="toc">
        <li><a target="_blanck" href="./example/api/add_row.html">添加行</a></li>
        <li><a target="_blanck" href="./example/api/multi_filter.html">给每一列添加搜索框</a></li>
        <li><a target="_blanck" href="./example/api/multi_filter_select.html">给每一列添加下拉框搜索</a></li>
        <li><a target="_blanck" href="./example/api/highlight.html">高亮鼠标停留的行和列</a></li>
        <li><a target="_blanck" href="./example/api/row_details.html">显示行的附加信息</a></li>
        <li><a target="_blanck" href="./example/api/select_row.html">选择行(多行)</a></li>
        <li><a target="_blanck" href="./example/api/select_single_row.html">选择行并删除（单行）</a></li>
        <li><a target="_blanck" href="./api/form.html">Form inputs</a></li>
        <li><a target="_blanck" href="./api/counter_columns.html">Index column</a></li>
        <li><a target="_blanck" href="./api/show_hide.html">Show / hide columns dynamically</a></li>
        <li><a target="_blanck" href="./api/api_in_init.html">Using API in callbacks</a></li>
        <li><a target="_blanck" href="./api/tabs_and_scrolling.html">Scrolling and jQuery UI tabs</a></li>
        <li><a target="_blanck" href="./api/regex.html">Filtering API (regular expressions)</a></li>
    </ul>
</div><!--/span-->