<div class="span3">
    <h3 title="API">API</h3>
    <ul class="toc" style="list-style-type: none;">
        <li><a  href="./api/add_row.html" title="Add rows">添加行</a></li>
        <li><a  href="./api/multi_filter.html" title="Individual column searching (text inputs)">给每一列添加搜索框</a></li>
        <li><a  href="./api/multi_filter_select.html" title="Individual column searching (select inputs)">给每一列添加下拉框搜索</a></li>
        <li><a  href="./api/highlight.html" title="Highlighting rows and columns">高亮鼠标停留的行和列</a></li>
        <li><a  href="./api/row_details.html" title="Child rows (show extra / detailed information)">显示行的附加信息</a></li>
        <li><a  href="./api/select_row.html" title="Row selection (multiple rows)">选择行(多行)</a></li>
        <li><a  href="./api/select_single_row.html" title="Row selection and deletion (single row)">选择行并删除（单行）</a></li>
        <li><a  href="./api/form.html" title="Form inputs">表单输入框</a></li>
        <li><a  href="./api/counter_columns.html" title="Index column">索引列</a></li>
        <li><a  href="./api/show_hide.html" title="Show / hide columns dynamically">动态显示/隐藏列</a></li>
        <li><a  href="./api/api_in_init.html" title="Using API in callbacks">在回调方法中使用api</a></li>
        <li><a  href="http://datatables.net/examples/api/tabs_and_scrolling.html" title="Scrolling and Bootstrap tabs">Scrolling and jQuery UI tabs</a></li>
        <li><a  href="./api/regex.html" title="Search API (regular expressions)">搜索api（正则表达式）</a><span class="hot"></span></li>
    </ul>
</div><!--/span-->