<div class="span3">
    <h3 title="Basic initialisation">基本初始化</h3>
    <ul class="toc" style="list-style-type: none;">
        <li><a target="_blank" href="./basic_init/zero_configuration.html" title="Zero configuration">0配置</a></li>
        <li><a target="_blank" href="./basic_init/filter_only.html" title="Feature enable / disable">功能启用/禁用</a></li>
        <li><a target="_blank" href="./basic_init/table_sorting.html" title="Default ordering (sorting)">默认排序</a></li>
        <li><a target="_blank" href="./basic_init/multi_col_sort.html" title="Multi-column ordering">多列排序</a></li>
        <li><a target="_blank" href="./basic_init/multiple_tables.html" title="Multiple tables">多个表格</a></li>
        <li><a target="_blank" href="./basic_init/hidden_columns.html" title="Hidden columns">隐藏列</a></li>
        <li><a target="_blank" href="./basic_init/complex_header.html" title="Complex headers (rowspan and colspan)">复杂表头(rowspan 和 colspan)</a></li>
        <li><a target="_blank" href="./basic_init/dom.html" title="DOM positioning">DOM定位</a></li>
        <li><a target="_blank" href="./basic_init/flexible_width.html" title="Flexible table width">表格自适应</a></li>
        <li><a target="_blank" href="./basic_init/state_save.html" title="State saving">保存状态</a></li>
        <li><a target="_blank" href="./basic_init/alt_pagination.html" title="Alternative pagination">不同的分页样式</a></li>
        <li><a target="_blank" href="./basic_init/scroll_y.html" title="Scroll - vertical">垂直滚动条</a></li>
        <li><a target="_blank" href="./basic_init/scroll_x.html" title="Scroll - vertical, dynamic height">水平滚动条</a></li>
        <li><a target="_blank" href="./basic_init/scroll_xy.html" title="Scroll - horizontal">水平和垂直滚动条</a></li>
        <li><a target="_blank" href="./basic_init/scroll_y_theme.html" title="Scroll - horizontal and vertical">jQuery-UI风格的垂直滚动条</a></li>
        <li><a target="_blank" href="./basic_init/comma-decimal.html" title="Language - Comma decimal place">Language - Comma decimal place</a></li>
        <li><a target="_blank" href="./basic_init/language.html" title="Language options">语言国际化</a></li>
    </ul>
</div><!--/span-->