<div class="span3">
    <h3>基本初始化</h3>
    <ul class="toc">
        <li><a target="_blank" href="./example/basic_init/zero_configuration.html">0配置</a></li>
        <li><a target="_blank" href="./example/basic_init/filter_only.html">功能启用/禁用</a></li>
        <li><a target="_blank" href="./example/basic_init/table_sorting.html">默认排序</a></li>
        <li><a target="_blank" href="./example/basic_init/multi_col_sort.html">多列排序</a></li>
        <li><a target="_blank" href="./example/basic_init/multiple_tables.html">多个表格</a></li>
        <li><a target="_blank" href="./example/basic_init/hidden_columns.html">隐藏列</a></li>
        <li><a target="_blank" href="./example/basic_init/complex_header.html">复杂表头(rowspan 和 colspan)</a></li>
        <li><a target="_blank" href="./example/basic_init/dom.html">DOM定位</a></li>
        <li><a target="_blank" href="./example/basic_init/flexible_width.html">表格自适应</a></li>
        <li><a target="_blank" href="./example/basic_init/state_save.html">保存状态</a></li>
        <li><a target="_blank" href="./example/basic_init/alt_pagination.html">不同的分页样式</a></li>
        <li><a target="_blank" href="./example/basic_init/scroll_y.html">垂直滚动条l</a></li>
        <li><a target="_blank" href="./example/basic_init/scroll_x.html">水平滚动条</a></li>
        <li><a target="_blank" href="./example/basic_init/scroll_xy.html">水平和垂直滚动条</a></li>
        <li><a target="_blank" href="./example/basic_init/scroll_y_theme.html">jQuery-UI风格的垂直滚动条</a></li>
        <li><a target="_blank" href="./example/basic_init/comma-decimal.html">Language - Comma decimal place</a></li>
        <li><a target="_blank" href="./example/basic_init/language.html">语言国际化</a></li>
    </ul>
</div><!--/span-->