<div class="span3">
    <h3 title="Data sources">数据源</h3>
    <ul class="toc" style="list-style-type: none;">
        <li><a target="_blank" href="./data_sources/dom.html" title="HTML (DOM) sourced data">Html（Dom）数据源</a></li>
        <li><a target="_blank" href="./data_sources/ajax.html" title="Ajax sourced data">Ajax数据源</a></li>
        <li><a target="_blank" href="./data_sources/js_array.html" title="Javascript sourced data">Javascript数据源</a></li>
        <li><a target="_blank" href="./data_sources/server_side.html" title="Server-side processing">服务器处理</a></li>
    </ul>
</div><!--/span-->