<div class="span3">
    <h3 title="Plug-ins">插件</h3>
    <ul class="toc" style="list-style-type: none;">
        <li><a target="_blank" href="http://datatables.net/examples/plug-ins/api.html">API plug-in methods</a></li>
        <li><a target="_blank" href="http://datatables.net/examples/plug-ins/sorting_auto.html">Ordering plug-ins (with type detection)</a></li>
        <li><a target="_blank" href="http://datatables.net/examples/plug-ins/sorting_manual.html">Ordering plug-ins (no type detection)</a></li>
        <li><a target="_blank" href="http://datatables.net/examples/plug-ins/range_filtering.html">Custom filtering - range search</a></li>
        <li><a target="_blank" href="http://datatables.net/examples/plug-ins/dom_sort.html">Live DOM ordering</a></li>
    </ul>
</div><!--/span-->