<div class="span3">
    <h3>Plug-ins（插件）</h3>
    <ul class="toc">
        <li><a target="_blank" href="./plug-ins/api.html">API plug-in methods</a></li>
        <li><a target="_blank" href="./plug-ins/sorting_auto.html">Ordering plug-ins (with type detection)</a></li>
        <li><a target="_blank" href="./plug-ins/sorting_manual.html">Ordering plug-ins (no type detection)</a></li>
        <li><a target="_blank" href="./plug-ins/range_filtering.html">Custom filtering - range search</a></li>
        <li><a target="_blank" href="./plug-ins/dom_sort.html">Live DOM ordering</a></li>
    </ul>
</div><!--/span-->