<div class="span3">
    <h3 title="Plug-ins">插件<span class="hot"></span></h3>
    <ul class="toc" style="list-style-type: none;">
        <li><a target="_blank" href="./plug-ins/api.html" title="API plug-in methods">API插件方法</a></li>
        <li><a target="_blank" href="./plug-ins/sorting_auto.html" title="Ordering plug-ins (with type detection)">排序插件（类型检测）</a></li>
        <li><a target="_blank" href="./plug-ins/sorting_manual.html" title="Ordering plug-ins (no type detection)">排序插件（无类型检测）</a></li>
        <li><a target="_blank" href="./plug-ins/range_filtering.html" title="Custom filtering - range search">自定义过滤 - 范围搜索</a></li>
        <li><a target="_blank" href="./plug-ins/dom_sort.html" title="Live DOM ordering">dom对象排序</a></li>
    </ul>
</div><!--/span-->