<div class="span3">
    <h3>服务器支持</h3>
    <ul class="toc">
        <li><a target="_blank" href="./server_side/simple.html">Server-side processing</a></li>
        <li><a target="_blank" href="./server_side/custom_vars.html">Custom HTTP variables</a></li>
        <li><a target="_blank" href="./server_side/post.html">POST data</a></li>
        <li><a target="_blank" href="./server_side/ids.html">Automatic addition of row ID attributes</a></li>
        <li><a target="_blank" href="./server_side/object_data.html">Object data source</a></li>
        <li><a target="_blank" href="./server_side/row_details.html">Row details</a></li>
        <li><a target="_blank" href="./server_side/select_rows.html">Row selection</a></li>
        <li><a target="_blank" href="./server_side/jsonp.html">JSONP data source for remote domains</a></li>
        <li><a target="_blank" href="./server_side/defer_loading.html">Deferred loading of data</a></li>
        <li><a target="_blank" href="./server_side/pipeline.html">Pipelining data to reduce Ajax calls for
            paging</a></li>
    </ul>
</div><!--/span-->
