<div class="span3">
    <h3>Styling（样式）</h3>
    <ul class="toc" style="list-style-type: none;">
        <li><a  href="http://datatables.net/examples/styling/display.html">Base style</a></li>
        <li><a  href="http://datatables.net/examples/styling/no-classes.html">Base style - no styling classes</a></li>
        <li><a  href="http://datatables.net/examples/styling/cell-border.html">Base style - row borders</a></li>
        <li><a  href="http://datatables.net/examples/styling/compact.html">Base style - cell borders</a></li>
        <li><a  href="http://datatables.net/examples/styling/hover.html">Base style - hover</a></li>
        <li><a  href="http://datatables.net/examples/styling/order-column.html">Base style - order-column</a></li>
        <li><a  href="http://datatables.net/examples/styling/stripe.html">Base style - stripe</a></li>
        <li><a  href="http://datatables.net/examples/styling/jqueryUI.html">jQuery UI ThemeRoller</a></li>
        <li><a  href="http://datatables.net/examples/styling/bootstrap.html">Bootstrap</a></li>
        <li><a  href="http://datatables.net/examples/styling/foundation.html">Foundation</a></li>
    </ul>
</div><!--/span-->