<div class="span3">
    <h3 title="User Share">网友共享</h3>
    <ul class="toc" style="list-style-type: none;">
        <li><a  href="./user_share/basic_curd.html">基本增删改查（php）- 1.9.*</a></li>
        <li><a  href="./user_share/basic_curd_java.html">基本增删改查（java） - 1.10.* </a></li>
        <li><a  href="./user_share/inline_edit.html">行内编辑（php）</a></li>
        <li><a  href="./user_share/row_details.html">行详细内容的展开与折叠</a></li>

        <li><a  href="./user_share/inline_edit_no_plugin.html">行内编辑(不使用第三方插件php）</a></li>
        <li><a  href="./user_share/send_extra_param.html">带参数查询</a></li>
        <li><a  href="./user_share/custom_hide_filter_column.html">动态显示/隐藏列，自定义过滤</a></li>
        <li><a  href="./user_share/yuui.html">裕ui</a></li>
        <li><a  href="./user_share/mir/">自行封装请求和返回数据的零耦合服务端分页(java)</a></li>
    </ul>
</div><!--/span-->