<div class="span3">
    <h3>第一期（Datatables入门下-常用方法讲解）</h3>
    <ul class="toc" style="list-style-type: none;">
        <li><a  href="/example/vedio/season1/initComplete">16-initComplete(表格初始化完毕)</a></li>
        <li><a  href="/example/vedio/season1/footerCallback">17-footerCallback(tfoot回调函数)</a></li>
        <li><a  href="/example/vedio/season1/reload">18-reload(重新加载数据)</a></li>
        <li><a  href="/example/vedio/season1/url-load-reload">19-url和load方法的作用及和reload方法的区别</a></li>
        <li><a  href="/example/vedio/season1/draw">20-draw(重绘)</a></li>
        <li><a  href="/example/vedio/season1/throttle">21-$.fn.dataTable.util.throttle()(减少方法调用的频率)</a></li>
        <li><a  href="/example/vedio/season1/serverSide2">22-serverSide(服务器模式)</a></li>
    </ul>
</div><!--/span-->