<div class="span3">
    <h3>第一期（Datatables入门上-常用参数讲解）</h3>
    <ul class="toc" style="list-style-type: none;">
        <li><a target="_blank" href="/example/vedio/season1/compare">1-新老版本比较</a></li>
        <li><a target="_blank" href="/example/vedio/season1/show">2-表格效果演示</a></li>
        <li><a target="_blank" href="/example/vedio/season1/autoWidth">3-autoWidth(自动宽度)</a></li>
        <li><a target="_blank" href="/example/vedio/season1/serverSide">4-serverSide(服务器模式)</a></li>
        <li><a target="_blank" href="/example/vedio/season1/ajax.data">5-ajax.data(自定义请求参数)</a></li>
        <li><a target="_blank" href="/example/vedio/season1/ajax.dataSrc">6-ajax.dataSrc(定义返回数据源属性名)</a></li>
        <li><a target="_blank" href="/example/vedio/season1/ajax">7-ajax</a></li>
        <li><a target="_blank" href="/example/vedio/season1/data">8-data</a></li>
        <li><a target="_blank" href="/example/vedio/season1/destroy&retrieve">9-destroy和retrieve(销毁/检索实例)</a></li>
        <li><a target="_blank" href="/example/vedio/season1/columns.data">10-columns.data(绑定属性)</a></li>
        <li><a target="_blank" href="/example/vedio/season1/columns.render">11-columns.render(渲染)</a></li>
        <li><a target="_blank" href="/example/vedio/season1/columns.visible">12-columns.visible(列隐藏)</a></li>
        <li><a target="_blank" href="/example/vedio/season1/columnDefs">13-columDefs</a></li>
        <li><a target="_blank" href="/example/vedio/season1/answer">14-答疑</a></li>
        <li><a target="_blank" href="/example/vedio/season1/dom">15-dom(定位)</a></li>
    </ul>
</div><!--/span-->