<div class="span3">
    <h3>第一期（Datatables入门上-常用参数讲解）</h3>
    <ul class="toc" style="list-style-type: none;">
        <li><a target="_blank" href="/example/vedio/season1/compare">1-新老版本比较</a></li>
        <li><a target="_blank" href="/example/vedio/season1/show">2-表格效果演示</a></li>
        <li><a target="_blank" href="/example/vedio/season1/autoWidth">3-autoWidth</a></li>
        <li><a target="_blank" href="/example/vedio/season1/serverSide">4-serverSide</a></li>
        <li><a target="_blank" href="/example/vedio/season1/ajax.data">5-ajax.data</a></li>
        <li><a target="_blank" href="/example/vedio/season1/ajax.dataSrc">6-ajax.dataSrc</a></li>
        <li><a target="_blank" href="/example/vedio/season1/ajax">7-ajax</a></li>
        <li><a target="_blank" href="/example/vedio/season1/data">8-data</a></li>
        <li><a target="_blank" href="/example/vedio/season1/destroy&retrieve">9-destroy和retrieve</a></li>
        <li><a target="_blank" href="/example/vedio/season1/columns.data">10-columns.data</a></li>
        <li><a target="_blank" href="/example/vedio/season1/columns.render">11-columns.render</a></li>
        <li><a target="_blank" href="/example/vedio/season1/columns.visible">12-columns.visible</a></li>
        <li><a target="_blank" href="/example/vedio/season1/columnDefs">13-columDefs</a></li>
        <li><a target="_blank" href="/example/vedio/season1/answer">14-答疑</a></li>
        <li><a target="_blank" href="/example/vedio/season1/dom">15-dom定位</a></li>
    </ul>
</div><!--/span-->