<div style="margin:10px 0">
    <div class='adsense_fixed'>
        <div class='adsense_content'><span class='adsense_btn_close' title='隐藏广告'>x</span>
            <div class='adsense_info_content'>

                为什么有广告?
                <br>
                    希望你能理解我们为什么会在这里显示广告。为了给大家提供文档供大家查询，帮助大家解决问题。但是域名、服务器以及维护都需要资金，
                所以我们必须显示广告。谢谢你们的支持！
                <br>
                爱你们,
                    <br><span class='adsense_fh5co-team'>DataTables中文网</span>
            </div>
            <span class='adsense_btn_info' title='为什么有广告'>i</span>


            <div style="margin:10px 0">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- test -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-2101546703939638"
                     data-ad-slot="9922577908"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

        </div>
    </div>
</div>