{% assign pagelen = include.param %}
{% assign postlist = site.tags %}
{% for post in postlist['博客'] limit:pagelen %}
<!-- First Blog Post -->
    <div class="span4" style="min-height: 230px;">
        <article class="news">
            <div class="news-date">
                {{ post.date | date: "%Y年%m月%-d日" }}{% if post.hot %}<span class="hot"></span>{% endif %}
            </div>
            <div class="news-title">
                <a href="{{ post.url }}">{{ post.short }}</a>
                <span 
                    class='disqus-comment-count'
                    data-disqus-url="{{ site.wlan_url }}{{ post.url }}"></span>
                <i class="icon-comment "></i>
            </div>
            <p class="news-content">   
                {{ post.excerpt | strip_html | truncate: 200 }} 
            </p>
        </article>
    </div>
{% endfor %}