<form accept-charset="GBK" target="_blank" method="POST" action="https://shenghuo.alipay.com/send/payment/fill.htm">
    <!-- 接受捐赠的支付宝账号 -->
    <input value="datatables@thxopen.com" name="optEmail" type="hidden" />

    <!-- 金额 -->
    <input value="1" name="payAmount" type="hidden" />

    <!-- 付款说明 -->
    <input value="捐赠【Datatables中文网】" name="title" type="hidden" />

    <!-- 备注 -->
    <input value="【Datatables中文网】dt.thxopen.com" name="memo" type="hidden" />

    <!-- 按钮图片 -->
    <input src="http://gouji.org/img/my_alipay.png" value="转账" name="pay" type="image" />
</form>