{% include libs/bootstrap_css.html %}
{% include libs/sh_css.html %}
{% include libs/datatables_css.html %}
<link href="{{ site.baseurl }}/css/docs.css" rel="stylesheet">
<style>
    body {
        font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    }

    /* example/api/multi_filter.html use*/
    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
    tfoot select{
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
    td.highlight {
        background-color: whitesmoke !important;
    }
    td.details-control {
        background: url('../resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }
    tr.shown td.details-control {
        background: url('../resources/details_close.png') no-repeat center center;
    }
</style>
<link rel="shortcut icon" href="/images/favicon.png">