<!-- Navbar
    ================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/index.html">Datatables中文网</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class=""><a href="/index.html">首页</a></li>
                    <li class="active"><a href="/example">例子</a></li>
                    <li class=""><a href="/manual">手册</a></li>
                    <li class=""><a href="/reference">参考</a></li>
                    <li class=""><a href="/extensions">扩展</a></li>
                    <li class=""><a href="/plugins">插件</a></li>
                    <li class=""><a href="/faqs">FAQs</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>