<style>
    pre {
        font-size: 12px;
        padding: 0;
        margin: 0;
        background: #f0f0f0;
        line-height: 20px; /* 行距 */
        background: url(http://www.shejidaren.com/examples/pre-style/pre-bg.gif) repeat-y left top;
        width: 300px;
        overflow: auto; /* 超出宽度出现滑动条 */
        overflow-Y:hidden; /* 作用是隐藏IE的右侧滑动条 */
    }

    div.cdn {
        position: relative;
        margin-bottom: 1em;
        box-shadow: 0 0 3px #555;
    }

    div.cdn>span {
        display: inline-block;
        width: 15%;
        height: 30px;
        text-align: center;
        padding-top: 6px;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #eee;
        border-right: 1px solid #bbb;
        cursor: pointer;
        font-size: 0.9em;
    }

    div.cdn>input {
        display: inline-block;
        width: 84%;
        height: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px 5px;
        vertical-align: middle;
        background-color: #f9f9f9;
        border: none;
        font-family: "Source Code Pro","Consolas","Monaco","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
        font-size: 0.8em;
    }

    div.cdn>a.cdn-link {
        position: absolute;
        top: 6px;
        right: 11px;
        height: 9px;
        width: 9px;
        background: url(https://datatables.net/media/images/external-site.gif) no-repeat center center;
        background-color: #f9f9f9;
        padding: 3px;
        border: 1px solid #4d90fe;
        border-radius: 3px;
    }

    #issueTable tbody td{
        padding:0;
    }
</style>
<link rel="stylesheet" href="/js/datatables/dataTables.bootstrap.css">
<div class="row">
    <!--简单入门-->
    <div class="span6">
        <p>
            怎样简单地使用DataTables？使用下方简单的几行代码，一个方法初始化table。
        </p>
        <pre>
    $(document).ready(function(){
        $('#myTable').DataTable();
    });</pre>
    </div>
    <div class="span6">
        <p>
            <a href="/manual/install.html" target="_blank">开始</a>使用DataTables很简单，只需要引入两个文件，
            一个css样式文件和DataTables本身的脚本文件。在DataTables CDN上，可以使用下面这两个文件：
        </p>
        <div class="cdn">
            <span>CSS</span>
            <input type="text" value="//cdn.datatables.net/{{ site.dtversion }}/css/jquery.dataTables.min.css" readonly="">
            <a href="//cdn.datatables.net/{{ site.dtversion }}/css/jquery.dataTables.min.css" target="_blank" class="cdn-link"></a></div>

        <div class="cdn">
            <span>JS</span>
            <input type="text" value="//cdn.datatables.net/{{ site.dtversion }}/js/jquery.dataTables.min.js" readonly="">
            <a href="//cdn.datatables.net/{{ site.dtversion }}/js/jquery.dataTables.min.js" target="_blank" class="cdn-link"></a></div>
    </div>

    <div>
        {% include xad %}
    </div>
    <div class="span12">
        <table class="display" id="issueTable">
        </table>
    </div>
</div>