
<iframe src="{{ include.src }}" width="100%"  id="{{ include.iframe_id }}" name="{{ include.iframe_id }}"
       frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>


<script type="text/javascript">
    $(document).ready(function () {
        window.setInterval("reinitIframe()", 200);
    });
    function reinitIframe(){
        var iframe = document.getElementById("{{ include.iframe_id }}");
        try{
            var bHeight = iframe.contentWindow.document.body.scrollHeight;
            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
            var height = Math.max(bHeight, dHeight);
            iframe.height = height;
            console.log(height);
        }catch (ex){}
    }
</script>