<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">手册</li>
            <li ><a href="/manual/install.html">安装</a></li>
            <li><a href="/manual/data.html">数据</a></li>
            <li><a href="/manual/options.html">选项</a></li>
            <li><a href="/manual/api.html">API</a></li>
            <li class="active"><a href="#">样式</a></li>
            <li><a href="#">事件</a></li>
            <li><a href="#">正文数据</a></li>
            <li><a href="#">服务器支持处理</a></li>
            <li><a href="#">国际化</a></li>
        </ul>
    </div><!--/.well -->
</div><!--/span-->