<!-- 评论 -->
    <div id="SOHUCS"></div>
    <script>
        (function(){
            var appid = 'cyr8jjDJ2',
                    conf = 'prod_d596729bcd45c9544aac809c726ea090';
            var doc = document,
                    s = doc.createElement('script'),
                    h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
            s.type = 'text/javascript';
            s.charset = 'utf-8';
            s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
            h.insertBefore(s,h.firstChild);
            window.SCS_NO_IFRAME = true;
        })()
    </script>
    <!-- /评论 -->