<div>
    <button style="position:absolute;right: 15px;"><a href="#" id="runcode{{ include.param }}">亲自试一试</a></button>
</div>
<script>

$("#runcode{{ include.param }}").click(function(){

    let scriptContent = $("#{{ include.param }}-js");
    let styleContent = $("#{{ include.param }}-css");
    let bodyContent = $("#{{ include.param }}-body");
    if(scriptContent){
        scriptContent = scriptContent.text();
    }else{
        scriptContent = null;
    }
    if(styleContent){
        styleContent = styleContent.text();
    }else{
        styleContent = null;
    }
    if(bodyContent){
        bodyContent = bodyContent.text();
    }else{
        bodyContent = null;
    }
    //设置本次运行的代码
    $.localStorage.set("scriptContent_datatables_club",scriptContent);
    $.localStorage.set("styleContent_datatables_club",styleContent);
    $.localStorage.set("bodyContent_datatables_club",bodyContent);

    window.open("{{ site.baseurl }}/code/run.html", '_blank');
})

</script>