---
layout: example_layout
title: 服务器简单处理 服务器处理 示例 Datatables中文网
relurl: http://datatables.net/examples/server_side/simple.html
---
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h3>服务器处理</h3>
        <p>
            Datatables有许多方法来获取你的数据，如果你的数据量比较大，这个时候你需要使用服务器模式来处理你的数据。
            在服务器模式下，所有的分页，搜索，排序等操作，Datatables都会交给服务器去处理。所以每次绘制Datatables，
            都会请求一次服务器获取需要的数据。
        </p>
        <p>
           通过配置<code class="option" title="DataTables initialisation option">serverSide<span>DT</span></code>
            这个属性来打开Datatables的服务器模式，下面的例子展示了Datatables打开服务器模式。
        </p>
    </div>
</header>

<div class="row-fluid" style="margin-top:20px">
<div class="span1"></div>
<div class="span10">
<!-- 表格开始 -->
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
        </tfoot>
    </table>
    <!-- 表格结束 -->

    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">javascript</a></li>
            <li><a href="#tab2" data-toggle="tab">html</a></li>
            <li><a href="#tab3" data-toggle="tab">Ajax返回数据</a></li>
            <li><a href="#tab4" data-toggle="tab">服务器处理代码</a></li>
            <li><a href="#tab5" data-toggle="tab">ajax请求</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
         <pre class="brush:js;toolbar:false">$(document).ready(function() {
    $(&#39;#example&#39;).dataTable( {
        &quot;processing&quot;: true,
        &quot;serverSide&quot;: true,
        &quot;ajax&quot;: &quot;../resources/server_processing_custom.php&quot;
    } );
} );</pre>
            </div>
            <div class="tab-pane" id="tab2">
<pre class="brush:html;toolbar:false">&lt;table id=&quot;example&quot; class=&quot;display&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;First name&lt;/th&gt;
                &lt;th&gt;Last name&lt;/th&gt;
                &lt;th&gt;Position&lt;/th&gt;
                &lt;th&gt;Office&lt;/th&gt;
                &lt;th&gt;Start date&lt;/th&gt;
                &lt;th&gt;Salary&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tfoot&gt;
            &lt;tr&gt;
                &lt;th&gt;First name&lt;/th&gt;
                &lt;th&gt;Last name&lt;/th&gt;
                &lt;th&gt;Position&lt;/th&gt;
                &lt;th&gt;Office&lt;/th&gt;
                &lt;th&gt;Start date&lt;/th&gt;
                &lt;th&gt;Salary&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/tfoot&gt;
    &lt;/table&gt;</pre>
        </div>
            <div class="tab-pane" id="tab3">
                F12查看NetWork里name为server_processing_custom.php的请求和返回
            </div>
            <div class="tab-pane" id="tab4">
                    <pre class="brush:php;toolbar:false">&lt;?php
/**
 * Created by PhpStorm.
 * User: dt.thxopen.com
 * Date: 2014/12/7
 * Time: 11:13
 */
try {
    //连接数据库
    $db = new SQLite3(&#39;datatables.sqlite3&#39;);
} catch (PDOException $e) {
    fatal(
        &quot;数据库连接出错&quot; . $e-&gt;getMessage()
    );
}

//获取Datatables发送的参数 必要
$draw = $_GET[&#39;draw&#39;];//这个值作者会直接返回给前台

//排序
$order_column = $_GET[&#39;order&#39;][&#39;0&#39;][&#39;column&#39;];//那一列排序，从0开始
$order_dir = $_GET[&#39;order&#39;][&#39;0&#39;][&#39;dir&#39;];//ase desc 升序或者降序

//拼接排序sql
$orderSql = &quot;&quot;;
if(isset($order_column)){
    $i = intval($order_column);
    switch($i){
        case 0;$orderSql = &quot; order by first_name &quot;.$order_dir;break;
        case 1;$orderSql = &quot; order by last_name &quot;.$order_dir;break;
        case 2;$orderSql = &quot; order by position &quot;.$order_dir;break;
        case 3;$orderSql = &quot; order by office &quot;.$order_dir;break;
        case 4;$orderSql = &quot; order by start_date &quot;.$order_dir;break;
        case 5;$orderSql = &quot; order by salary &quot;.$order_dir;break;
        default;$orderSql = &#39;&#39;;
    }
}
//搜索
$search = $_GET[&#39;search&#39;][&#39;value&#39;];//获取前台传过来的过滤条件

//分页
$start = $_GET[&#39;start&#39;];//从多少开始
$length = $_GET[&#39;length&#39;];//数据长度
$limitSql = &#39;&#39;;
$limitFlag = isset($_GET[&#39;start&#39;]) &amp;&amp; $length != -1 ;
if ($limitFlag ) {
    $limitSql = &quot; LIMIT &quot;.intval($start).&quot;, &quot;.intval($length);
}

//定义查询数据总记录数sql
$sumSql = &quot;SELECT count(id) as sum FROM DATATABLES_DEMO&quot;;
//条件过滤后记录数 必要
$recordsFiltered = 0;
//表的总记录数 必要
$recordsTotal = 0;
$recordsTotalResult = $db-&gt;query($sumSql);
while ($row = $recordsTotalResult-&gt;fetchArray(SQLITE3_ASSOC)) {
    $recordsTotal =  $row[&#39;sum&#39;];
}
//定义过滤条件查询过滤后的记录数sql
$sumSqlWhere =&quot; where first_name||last_name||position||office||start_date||salary LIKE &#39;%&quot;.$search.&quot;%&#39;&quot;;
if(strlen($search)&gt;0){
    $recordsFilteredResult = $db-&gt;query($sumSql.$sumSqlWhere);
    while ($row = $recordsFilteredResult-&gt;fetchArray(SQLITE3_ASSOC)) {
        $recordsFiltered =  $row[&#39;sum&#39;];
    }
}else{
    $recordsFiltered = $recordsTotal;
}

//query data
$totalResultSql = &quot;SELECT first_name,last_name,position,office,start_date,salary FROM DATATABLES_DEMO&quot;;
$infos = array();
if(strlen($search)&gt;0){
    //如果有搜索条件，按条件过滤找出记录
    $dataResult = $db-&gt;query($totalResultSql.$sumSqlWhere.$orderSql.$limitSql);
    while ($row = $dataResult-&gt;fetchArray(SQLITE3_ASSOC)) {
        $obj = array($row[&#39;first_name&#39;], $row[&#39;last_name&#39;], $row[&#39;position&#39;], $row[&#39;office&#39;], $row[&#39;start_date&#39;], $row[&#39;salary&#39;]);
        array_push($infos,$obj);
    }
}else{
    //直接查询所有记录
    $dataResult = $db-&gt;query($totalResultSql.$orderSql.$limitSql);
    while ($row = $dataResult-&gt;fetchArray(SQLITE3_ASSOC)) {
        $obj = array($row[&#39;first_name&#39;], $row[&#39;last_name&#39;], $row[&#39;position&#39;],$row[&#39;office&#39;], $row[&#39;start_date&#39;], $row[&#39;salary&#39;]);
        array_push($infos,$obj);
    }
}

/*
 * Output 包含的是必要的
 */
echo json_encode(array(
    &quot;draw&quot; =&gt; intval($draw),
    &quot;recordsTotal&quot; =&gt; intval($recordsTotal),
    &quot;recordsFiltered&quot; =&gt; intval($recordsFiltered),
    &quot;data&quot; =&gt; $infos
),JSON_UNESCAPED_UNICODE);


function fatal($msg)
{
    echo json_encode(array(
        &quot;error&quot; =&gt; $msg
    ));
    exit(0);
}</pre>
            </div>
            <div class="tab-pane" id="tab5">
                <pre class="brush:js;toolbar:false">%5B=&gt;[
%5D=&gt;]
http://dt.thxopen.com/example/resources/server_processing_customCUrl.php?
draw=1&amp;
columns[0][data]=0&amp;columns[0][name]=&amp;columns[0][searchable]=true&amp;columns[0][orderable]=true&amp;columns[0][search][value]=&amp;columns[0][search][regex]=false&amp;
columns[1][data]=1&amp;columns[1][name]=&amp;columns[1][searchable]=true&amp;columns[1][orderable]=true&amp;columns[1][search][value]=&amp;columns[1][search][regex]=false&amp;
columns[2][data]=2&amp;columns[2][name]=&amp;columns[2][searchable]=true&amp;columns[2][orderable]=true&amp;columns[2][search][value]=&amp;columns[2][search][regex]=false&amp;
columns[3][data]=3&amp;columns[3][name]=&amp;columns[3][searchable]=true&amp;columns[3][orderable]=true&amp;columns[3][search][value]=&amp;columns[3][search][regex]=false&amp;
columns[4][data]=4&amp;columns[4][name]=&amp;columns[4][searchable]=true&amp;columns[4][orderable]=true&amp;columns[4][search][value]=&amp;columns[4][search][regex]=false&amp;
columns[5][data]=5&amp;columns[5][name]=&amp;columns[5][searchable]=true&amp;columns[5][orderable]=true&amp;columns[5][search][value]=&amp;columns[5][search][regex]=false&amp;
order[0][column]=0&amp;
order[0][dir]=asc&amp;
start=0&amp;
length=10&amp;
search[value]=&amp;
search[regex]=false&amp;
_=1418644693360</pre>
            </div>
        </div>
    </div>
    {% include quote.html param='http://datatables.net/examples/server_side/simple.html'%}
    {% include post.html param= site.url param2 = page.url %}
</div>
<div class="span1"></div>
</div><!--/row-->
{% include copyright.html %}
{% include example_script.html %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').dataTable( {
            "processing": true,
            "serverSide": true,
            "ajax": "/example/resources/server_processing_customCUrl.php"
        } );
    } );

    $(document).on( 'init.dt', function ( e, settings ) {
        if ( e.namespace !== 'dt' ) {
            return;
        }

        var api = new $.fn.dataTable.Api( settings );

        var show = function ( str ) {
            var preobj = $('#tab3').find('pre')[0];
            preobj = $(preobj);
            preobj.remove();
            var syntaxhighlighterobj = $('#tab3').find('.syntaxhighlighter');
            syntaxhighlighterobj =  $(syntaxhighlighterobj);
            syntaxhighlighterobj.remove();
            try {
                str = JSON.stringify( str, null, 2 );
            } catch ( e ) {}

            $('#tab3').append('<pre class="brush:js;toolbar:false">'+str+'</pre>');
            var preobj2 = $('#tab3').find('pre')[0];
            preobj2 = $(preobj2);

            SyntaxHighlighter.highlight( {}, preobj2 );
        };

        // First draw
        var json = api.ajax.json();
        if ( json ) {
            show( json );
        }

        // Subsequent draws
        api.on( 'xhr.dt', function ( e, settings, json ) {
            show( json );
        } );
    } );
</script>