---
layout: manual_layout
title: 扩展（Extensions） Datatables中文网
relurl: http://datatables.net/extensions/index
AutoFill: http://datatables.net/extensions/autofill
ColReorder: http://datatables.net/extensions/colreorder
Buttons: http://datatables.net/extensions/buttons
Editor: http://datatables.net/extensions/editor
FixedColumns: http://datatables.net/extensions/fixedcolumns
FixedHeader: http://datatables.net/extensions/fixedheader
KeyTable: http://datatables.net/extensions/keytable
Responsive: http://datatables.net/extensions/responsive
RowReorder: http://datatables.net/extensions/rowreorder
Scroller: http://datatables.net/extensions/scroller
Select: http://datatables.net/extensions/select
ColVis: http://datatables.net/extensions/colvis
TableTools: http://datatables.net/extensions/tabletools
---
{% include nav.html param="extensions" %}
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>扩展(Extensions)</h1>
        <p class="lead">Datatables提供的特性可以极大地增强了这个页面上可用的插件的使用,提供给用户交互和配置选项</p>
    </div>
</header>

<div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav">
                <li><a href="#AutoFill"><i class="icon-chevron-right"></i>自动填充(AutoFill)</a></li>
                <li><a href="#Buttons"><i class="icon-chevron-right"></i> 按钮(Buttons)</a></li>
                <li><a href="#ColReorder"><i class="icon-chevron-right"></i>列排列(ColReorder)</a></li>
                <li><a href="#Editor"><i class="icon-chevron-right"></i>编辑器(Editor)</a></li>
                <li><a href="#FixedColumns"><i class="icon-chevron-right"></i> 列固定(FixedColumns)</a></li>
                <li><a href="#FixedHeader"><i class="icon-chevron-right"></i> 表头固定(FixedHeader)</a></li>
                <li><a href="#KeyTable"><i class="icon-chevron-right"></i> KeyTable</a></li>
                <li><a href="#Responsive"><i class="icon-chevron-right"></i> 自适应(Responsive)</a></li>
                <li><a href="#RowReorder"><i class="icon-chevron-right"></i> 行排列(RowReorder)</a></li>
                <li><a href="#Scroller"><i class="icon-chevron-right"></i> 滚动渲染器(Scroller)</a></li>
                <li><a href="#Select"><i class="icon-chevron-right"></i> 选择(Select)</a></li>
                <li><a href="#ColVis"><i class="icon-chevron-right"></i> <del>列隐藏显示(ColVis)</del>（废弃）</a></li>
                <li><a href="#TableTools"><i class="icon-chevron-right"></i> <del>表格工具按钮(TableTools)</del>（废弃）</a></li>
            </ul>
        </div>
        <div class="span9">
            <div class="page-header">
                <p class="lead">
                    Datatables提供了一些扩展，使表格变的更强大，使用下面的扩展可以很容易实现更复杂的功能，看看下面有哪些高级功能
                </p>
            </div>
            <!-- Options
            ================================================== -->
            <section id="AutoFill">
                <div class="page-header">
                    <h1><a  target="_blank" href="{{ page.AutoFill }}">自动填充(AutoFill)</a></h1>
                </div>
                <p class="lead">
                    自动填充添加了类似Excel那样，通过拖拽覆盖到的单元格被填充或者自增的功能
                    <a  target="_blank" href="{{ page.AutoFill }}">更多 &raquo;</a></p>
            </section>

            <section id="Buttons">
                <div class="page-header">
                    <h1><a  target="_blank" href="{{ page.Buttons }}">按钮(Buttons)</a></h1>
                </div>
                <p class="lead">
                    Datatables的按钮扩展提供了一组常用的选项。包含了导出，打印和列的显示控制。
                    <a  target="_blank" href="{{ page.Buttons }}">更多 »</a>
                </p>
            </section>

            <section id="ColReorder">
                <div class="page-header">
                    <h1><a  target="_blank" href="{{ page.ColReorder }}">列排列(ColReorder)</a></h1>
                </div>
                <p class="lead">
                    ColReorder 允许用户通过下拉或者拖拽列头修改列的排列顺序
                    <a  target="_blank" href="{{ page.ColReorder }}">更多 &raquo;</a>
                </p>
            </section>

            <section id="Editor">
                <div class="page-header">
                    <h1><a target="_blank" href="{{ page.Editor }}">编辑器(Editor)</a></h1>
                </div>
                <p class="lead">
                    Editor 给你的表格提供一个完整的编辑能力，包括多行很行内编辑。使用Editor 创建一个完全自定义的表格，让用户修改表格中的信息，这个并不简单。
                    <a  target="_blank" href="{{ page.Editor }}">更多»</a>
                </p>
            </section>

            <section  id="FixedColumns">
                <div class="page-header">
                    <h1><a  target="_blank" href="{{ page.FixedColumns }}">列固定(FixedColumns)</a></h1>
                </div>
                <p class="lead">
                    FixedColumns 提供列冻结的功能，比如用户始终能看到索引列，而右边的表格通过滚动条横向拖动。
                    <a  target="_blank" href="{{ page.FixedColumns }}">更多»</a>
                </p>
            </section>

            <section  id="FixedHeader">
                <div class="page-header">
                    <h1><a  target="_blank" href="{{ page.FixedHeader }}">表头固定(FixedHeader)</a></h1>
                </div>
                <p class="lead">
                    FixedHeader 提供冻结header，footer和大多数左边或者右边的列，确保标题信息永远都是可见的。
                    <a  target="_blank" href="{{ page.FixedHeader }}">更多»</a>
                </p>
            </section>

            <section  id="KeyTable">
                <div class="page-header">
                    <h1><a  target="_blank" href="{{ page.KeyTable }}">KeyTable</a></h1>
                </div>
                <p class="lead">
                    KeyTable 提供类似Excel 单元格导航。事件（获得焦点 focus，失去焦点 blur，动作 action 等等）可以分配指定到 单元格、列、行或者所有的单元格中。
                    <a  target="_blank" href="{{ page.KeyTable }}">更多»</a>
                </p>
            </section>

            <section  id="Responsive">
                <div class="page-header">
                    <h1><a  target="_blank" href="{{ page.Responsive }}">自适应(Responsive)</a></h1>
                </div>
                <p class="lead">
                    Responsive 将提供自动适应屏幕的功能，让你的表格在不同的设备上都能够显示。
                    <a  target="_blank" href="{{ page.Responsive }}">更多»</a>
                </p>
            </section>

            <section  id="RowReorder">
                <div class="page-header">
                    <h1><a  target="_blank" href="{{ page.RowReorder }}">行排列(RowReorder)</a></h1>
                </div>
                <p class="lead">
                    RowReorder 提供给用户能够重新排列行的功能（点击拖动/鼠标接触拖动）。与Editor集成，可以多行编辑后直接保存更新后的数据。
                    <a  target="_blank" href="{{ page.RowReorder }}">更多»</a>
                </p>
            </section>

            <section  id="Scroller">
                <div class="page-header">
                    <h1><a  target="_blank" href="{{ page.Scroller }}">滚动渲染器(Scroller)</a></h1>
                </div>
                <p class="lead">
                    scroller是一个虚拟的渲染器。允许表格看起来是有滚动条在拖动整个数据，实际上只有显示的部分的数据被拖出来，可以更快的操作。
                    <a  target="_blank" href="{{ page.Scroller }}">更多»</a>
                </p>
            </section>

            <section  id="Select">
                <div class="page-header">
                    <h1><a  target="_blank" href="{{ page.Select }}">选择(Select)</a></h1>
                </div>
                <p class="lead">
                    Select 提供选择行的能力，被选中的可以是行，列，或者单元格，可以是一起的也可以是独立的。这些被选中的，都可以使用api来直接操作。
                    <a  target="_blank" href="{{ page.Select }}">更多»</a>
                </p>
            </section>

            <section  id="ColVis">
                <div class="page-header">
                    <h1><a  target="_blank" href="{{ page.ColVis }}">
                        <del>列隐藏显示(ColVis)</del>废弃</a></h1>
                </div>
                <p class="lead">
                    ColVis 已经废弃了，请使用Buttons扩展。ColVis 允许用户操作列的隐藏和显示。
                    <a  target="_blank" href="{{ page.ColVis }}">更多»</a>
                </p>
            </section>

            <section  id="TableTools">
                <div class="page-header">
                    <h1><a  target="_blank" href="{{ page.TableTools }}">
                        <del>表格工具按钮(TableTools)</del>废弃</a></h1>
                </div>
                <p class="lead">
                    TableTools 已经废弃了，请使用Buttons扩展和Select扩展。TableTools 功能提供 打印，保存文件，复制到剪贴板。还有行的选择能力。
                    <a  target="_blank" href="{{ page.TableTools }}">更多»</a>
                </p>
            </section>
            <div class="page-footer">
                <p class="lead">
                    ColVis 和Buttons 已经废弃了，取而代之的是Buttons和Select扩展。强烈建议不再使用这两个废弃的扩展。
                </p>
            </div>
            {% include quote.html %}
        </div>
    </div>

</div>

{% include copyright.html %}