<div class="col-md-4">
    <div>
        {% include xad %}
    </div>
    <!-- Blog Search Well -->
    <div class="well">
        <h4>百度站内搜索</h4>
        <div class="input-group">
            <script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=4182846633237332666' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>
        </div>
        <!-- /.input-group -->
    </div>
     <div class="well">
        <div class="input-group">
            <script>
                (function() {
                    var cx = '001171264216576386016:xim4af2d2ik';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
            </script>
            <gcse:searchbox-only></gcse:searchbox-only>
        </div>
        <!-- /.input-group -->
    </div>

    <!-- Blog Categories Well -->
    <div class="well">
        <h4>博客分类</h4>
        <div class="row">
            <div id="tagcloud" style="padding:10px">

                {% for tag in site.tags %}
                <a href="{{site.wlan_url}}/blog/listall.html#{{ tag | first }}" title="{{ tag | first }}" rel="{{ tag | last | size }}">
                    {{ tag | first }} ({{ tag | last | size }})
                </a>
                {% endfor %}
                <a href="{{site.wlan_url}}/blog/listall.html" title="all" rel="{{site.tags | size}}">
                    所有
                </a>

            </div>

        </div>

        <script type="text/javascript" src="{{ site.wlan_url }}/js/jquery-2.0.0.js"></script>
        <script type="text/javascript" src="{{ site.wlan_url }}/js/jquery.tagcloud.js"></script>
        <script type="text/javascript" src="{{ site.wlan_url }}/js/cloud.js"></script>
        <!-- /.row -->
    </div>

    <!-- Side Widget Well -->
    <div class="well">
        <h4>赞助我们</h4>
        <a href="{{ site.wlan_url }}/about/#donate" title="赞助我们">
            <img src="{{ site.wlan_url }}/images/bigstock-green-donate-button-46905649.jpg" class="img-responsive" alt="赞助我们">
        </a>
        <p>
            您的支持，将是我们前进的最大动力……
        </p>

    </div>

</div>