{% if include.param == "integer" %}
<a href="https://datatables.net/reference/type/integer" >
    <code class="type" title="Javascript parameter type">integer<span>Type</span></code>
</a>
{% elsif include.param == "string" %}
<a href="https://datatables.net/reference/type/string" >
    <code class="type" title="Javascript parameter type">string<span>Type</span></code>
</a>
{% elsif include.param == "undefined" %}
<a href="https://datatables.net/reference/type/undefined" >
    <code class="type" title="Javascript parameter type">undefined<span>Type</span></code>
</a>
{% elsif include.param == "object" %}
<a href="https://datatables.net/reference/type/object" >
    <code class="type" title="Javascript parameter type">object<span>Type</span></code>
</a>
{% elsif include.param == "array" %}
<a href="https://datatables.net/reference/type/array" >
    <code class="type" title="Javascript parameter type">array<span>Type</span></code>
</a>
{% elsif include.param == "function" %}
<a href="https://datatables.net/reference/type/function" >
    <code class="type" title="Javascript parameter type">function<span>Type</span></code>
</a>
{% elsif include.param =="jQuery" %}
<a href="https://datatables.net/reference/type/jQuery" >
    <code class="type" title="Javascript parameter type">jQuery<span>Type</span></code>
</a>
{% elsif include.param == "node" %}
<a href="https://datatables.net/reference/type/node" >
    <code class="type" title="Javascript parameter type">node<span>Type</span></code>
</a>
{% elsif include.param == "nullstr" %}
<a href="https://datatables.net/reference/type/null" >
    <code class="type" title="Javascript parameter type">null<span>Type</span></code>
</a>
{% elsif include.param == "number" %}
<a href="https://datatables.net/reference/type/number" >
    <code class="type" title="Javascript parameter type">number<span>Type</span></code>
</a>
{% elsif include.param == "null" %}
<a href="https://datatables.net/reference/type/null" >
    <code class="type" title="Javascript parameter type">null<span>Type</span></code>
</a>
{% elsif include.param == "boolean" %}
<a href="https://datatables.net/reference/type/boolean" >
    <code class="type" title="Javascript parameter type">boolean<span>Type</span></code>
</a>
{% endif %}