<div class="span12" style="margin:10px 0">
    <div class='adsense_fixed'>
        <div class='adsense_content'><span class='adsense_btn_close' title='隐藏广告'>x</span>
            <div class='adsense_info_content'>
                <h3 class="adsense_h3">为什么有广告?</h3>
                <p class='adsense_p'>
                    希望你能理解我们为什么会在这里显示广告。为了给大家提供文档供大家查询，帮助大家解决问题。但是域名、服务器以及维护都需要资金，所以我们必须显示广告。谢谢你们的支持！</p>
                <p class='adsense_p'>爱你们,
                    <br><span class='adsense_fh5co-team'>DataTables中文网</span></p>
            </div>
            <span class='adsense_btn_info' title='为什么有广告'>i</span>

            {% include xad.html %}
        </div>
    </div>
</div>