{% if include.param == "createdRow" %}
<a href="{{ site.baseurl }}/reference/option/createdRow.html" >
    <code class="option">createdRow<span>Option</span></code>
</a>
{% elsif include.param == "drawCallback" %}
<a href="{{ site.baseurl }}/reference/option/drawCallback.html" >
    <code class="option">drawCallback<span>Option</span></code>
</a>
{% elsif include.param == "footerCallback" %}
<a href="{{ site.baseurl }}/reference/option/footerCallback.html" >
    <code class="option">footerCallback<span>Option</span></code>
</a>
{% elsif include.param == "formatNumber" %}
<a href="https://datatables.net/reference/option/formatNumber" >
    <code class="option">formatNumber<span>Option</span></code>
</a>
{% elsif include.param == "headerCallback" %}
<a href="https://datatables.net/reference/option/headerCallback" >
    <code class="option">headerCallback<span>Option</span></code>
</a>
{% elsif include.param == "infoCallback" %}
<a href="https://datatables.net/reference/option/infoCallback" >
    <code class="option">infoCallback<span>Option</span></code>
</a>
{% elsif include.param == "initComplete" %}
<a href="/reference/option/initComplete.html" >
    <code class="option">initComplete<span>Option</span></code>
</a>
{% elsif include.param == "preDrawCallback" %}
<a href="https://datatables.net/reference/option/preDrawCallback" >
    <code class="option">preDrawCallback<span>Option</span></code>
</a>
{% elsif include.param == "rowCallback" %}
<a href="https://datatables.net/reference/option/rowCallback" >
    <code class="option">rowCallback<span>Option</span></code>
</a>
{% elsif include.param == "stateLoadCallback" %}
<a href="https://datatables.net/reference/option/stateLoadCallback" >
    <code class="option">stateLoadCallback<span>Option</span></code>
</a>
{% elsif include.param == "stateLoaded" %}
<a href="https://datatables.net/reference/option/stateLoaded" >
    <code class="option">stateLoaded<span>Option</span></code>
</a>
{% elsif include.param == "stateLoadParams" %}
<a href="https://datatables.net/reference/option/stateLoadParams" >
    <code class="option">stateLoadParams<span>Option</span></code>
</a>
{% elsif include.param == "stateSaveCallback" %}
<a href="https://datatables.net/reference/option/stateSaveCallback" >
    <code class="option">stateSaveCallback<span>Option</span></code>
</a>
{% elsif include.param == "stateSaveParams" %}
<a href="https://datatables.net/reference/option/stateSaveParams" >
    <code class="option">stateSaveParams<span>Option</span></code>
</a>
{% elsif include.param == "stateDuration" %}
<a href="https://datatables.net/reference/option/stateDuration" >
    <code class="option">stateDuration<span>Option</span></code>
</a>
{% endif %}