{% if include.param == "columns.cellType" %}
<a href="/reference/option/columns.cellType" >
    <code class="option">columns.cellType<span>Option</span></code>
</a>
{% elsif include.param == "columns.className" %}
<a href="/reference/option/columns.className" >
    <code class="option">columns.className<span>Option</span></code>
</a>
{% elsif include.param == "columns.contentPadding" %}
<a href="/reference/option/columns.contentPadding" >
    <code class="option">columns.contentPadding<span>Option</span></code>
</a>
{% elsif include.param == "columns.createdCell" %}
<a href="/reference/option/columns.createdCell" >
    <code class="option">columns.createdCell<span>Option</span></code>
</a>
{% elsif include.param == "columns.data" %}
<a href="https://datatables.net/reference/option/columns.data" >
    <code class="option">columns.data<span>Option</span></code>
</a>
{% elsif include.param == "columns.render" %}
<a href="/reference/option/columns.render" >
    <code class="option">columns.render<span>Option</span></code>
</a>
{% elsif include.param == "columns.defaultContent" %}
<a href="https://datatables.net/reference/option/columns.defaultContent" >
    <code class="option">columns.defaultContent<span>Option</span></code>
</a>
{% elsif include.param == "columns.name" %}
<a href="/reference/option/columns.name" >
    <code class="option">columns.name<span>Option</span></code>
</a>
{% elsif include.param == "columns.orderable" %}
<a href="/reference/option/columns.orderable" >
    <code class="option">columns.orderable<span>Option</span></code>
</a>
{% elsif include.param == "columns.orderData" %}
<a href="/reference/option/columns.orderData" >
    <code class="option">columns.orderData<span>Option</span></code>
</a>
{% elsif include.param == "columns.orderDataType" %}
<a href="/reference/option/columns.orderDataType" >
    <code class="option">columns.orderDataType<span>Option</span></code>
</a>
{% elsif include.param == "columns.orderSequence" %}
<a href="/reference/option/columns.orderSequence" >
    <code class="option">columns.orderSequence<span>Option</span></code>
</a>
{% elsif include.param == "columns.searchable" %}
<a href="/reference/option/columns.searchable" >
    <code class="option">columns.searchable<span>Option</span></code>
</a>
{% elsif include.param == "columns.title" %}
<a href="/reference/option/columns.title" >
    <code class="option">columns.title<span>Option</span></code>
</a>
{% elsif include.param == "columns.type" %}
<a href="https://datatables.net/reference/option/columns.type" >
    <code class="option">columns.type<span>Option</span></code>
</a>
{% elsif include.param == "columns.visible" %}
<a href="/reference/option/columns.visible" >
    <code class="option">columns.visible<span>Option</span></code>
</a>
{% elsif include.param == "columns.width" %}
<a href="https://datatables.net/reference/option/columns.width" >
    <code class="option">columns.width<span>Option</span></code>
</a>
{% elsif include.param == "columnDefs" %}
<a href="/reference/option/columnDefs" >
    <code class="option">columnDefs<span>Option</span></code>
</a>
{% elsif include.param == "columns" %}
<a href="/reference/option/columns" >
    <code class="option">columns<span>Option</span></code>
</a>
{% endif %}