{% if include.param == "ajax.data" %}
<a href="/reference/option/ajax.data.html" >
    <code class="option">ajax.data<span>Option</span></code>
</a>
{% elsif include.param == "ajax.dataSrc" %}
<a href="/reference/option/ajax.dataSrc.html" >
    <code class="option">ajax.dataSrc<span>Option</span></code>
</a>
{% elsif include.param == "ajax" %}
<a href="{{ site.baseurl }}/reference/option/ajax.html" >
    <code class="option">ajax<span>Option</span></code>
</a>
{% elsif include.param == "data" %}
<a href="{{ site.baseurl }}/reference/option/data.html" >
    <code class="option">data<span>Option</span></code>
</a>
{% endif %}