{% if include.param == "ajax.data" %}
<a href="{{ site.baseurl }}/reference/option/ajax.data" >
    <code class="option">ajax.data<span>Option</span></code>
</a>
{% elsif include.param == "ajax.dataSrc" %}
<a href="{{ site.baseurl }}/reference/option/ajax.dataSrc" >
    <code class="option">ajax.dataSrc<span>Option</span></code>
</a>
{% elsif include.param == "ajax" %}
<a href="{{ site.baseurl }}/reference/option/ajax" >
    <code class="option">ajax<span>Option</span></code>
</a>
{% elsif include.param == "data" %}
<a href="{{ site.baseurl }}/reference/option/data" >
    <code class="option">data<span>Option</span></code>
</a>
{% endif %}