<a name="Internationalisation"></a>
<h2 data-anchor="Internationalisation">国际化(Internationalisation)</h2>
<table class="reference row-border hover">
    <thead>
    <tr>
        <th width="30%">名称</th>
        <th>说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><p><a href="//datatables.net/reference/option/language.aria.sortAscending"><code class="option"
                                                                                             title="DataTables initialisation option">language.aria.sortAscending<span>DT</span></code></a>
        </p></td>
        <td><p>Language strings used for WAI-ARIA（无障碍网页应用） specific attributes</p></td>
    </tr>
    <tr>
        <td><p><a href="//datatables.net/reference/option/language.aria.sortDescending"><code class="option"
                                                                                              title="DataTables initialisation option">language.aria.sortDescending<span>DT</span></code></a>
        </p></td>
        <td><p>Language strings used for WAI-ARIA（无障碍网页应用） specific attributes</p></td>
    </tr>
    <tr>
        <td><p><a href="//datatables.net/reference/option/language.aria"><code class="option"
                                                                               title="DataTables initialisation option">language.aria<span>DT</span></code></a>
        </p></td>
        <td><p>Language strings used for WAI-ARIA（无障碍网页应用） specific attributes</p></td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.decimal" %}
        </td>
        <td>小数点表示字符（有些语言中用"，"表示小数点）</td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.emptyTable" %}
        </td>
        <td>
            用来描述表格没有数据的字符串
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.info" %}
        </td>
        <td>用来描述表格主要信息的字符串</td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.infoEmpty" %}
        </td>
        <td>
            用来描述当表格没有记录的时候显示的字符串
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.infoFiltered" %}
        </td>
        <td>
            当表格过滤的时候，将此字符串附加到主要信息
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.infoPostFix" %}
        </td>
        <td>
            在摘要信息后继续追加的字符串
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.lengthMenu" %}
        </td>
        <td>
            用来描述页面长度选项的字符串
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.loadingRecords" %}
        </td>
        <td>
            用来描述数据在加载中等待的提示字符串 - 当异步读取数据的时候显示
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.aria.paginate.first" %}
        </td>
        <td>首页(_first_)按钮的 WAI-ARIA(无障碍网页应用) 标签</td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.paginate.last" %}
        </td>
        <td>
            用来描述分页控件_最后一页_按钮的字符串
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.paginate.first" %}
        </td>
        <td>
            用来描述分页控件_第一页_按钮的字符串
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.paginate.next" %}
        </td>
        <td>
            用来描述分页控件_下一页_按钮的字符串
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.paginate.previous" %}
        </td>
        <td>
            用来描述分页控件_上一页_按钮的字符串
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.paginate" %}
        </td>
        <td>分页控件所有字符串的对象属性</td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.processing" %}
        </td>
        <td>
            用来描述加载进度的字符串
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.search" %}
        </td>
        <td>
            用来描述搜索输入框的字符串
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.searchPlaceholder" %}
        </td>
        <td>
            搜索输入框元素占位符属性
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.thousands" %}
        </td>
        <td>
            千分位分隔符
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.url" %}
        </td>
        <td>
            从远程文件读取国际化信息
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language" %}
        </td>
        <td>
            DataTables语言配置选项
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/Internationalisation.html param="language.zeroRecords" %}
        </td>
        <td>
            用来描述当表格过滤记录为空时的字符串
        </td>
    </tr>
    </tbody>
</table>