<a name="Internationalisation"></a>
<h2 data-anchor="Internationalisation">国际化(Internationalisation)</h2>
<table class="reference row-border hover">
    <thead>
    <tr>
        <th width="30%">名称</th>
        <th>说明</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><p><a href="//datatables.net/reference/option/language.aria.sortAscending"><code class="option"
                                                                                             title="DataTables initialisation option">language.aria.sortAscending<span>DT</span></code></a>
        </p></td>
        <td><p>Language strings used for WAI-ARIA（无障碍网页应用） specific attributes</p></td>
    </tr>
    <tr>
        <td><p><a href="//datatables.net/reference/option/language.aria.sortDescending"><code class="option"
                                                                                              title="DataTables initialisation option">language.aria.sortDescending<span>DT</span></code></a>
        </p></td>
        <td><p>Language strings used for WAI-ARIA（无障碍网页应用） specific attributes</p></td>
    </tr>
    <tr>
        <td><p><a href="//datatables.net/reference/option/language.aria"><code class="option"
                                                                               title="DataTables initialisation option">language.aria<span>DT</span></code></a>
        </p></td>
        <td><p>Language strings used for WAI-ARIA（无障碍网页应用） specific attributes</p></td>
    </tr>
    <tr>
        <td>
            {% include href/option/option.language param="language.decimal" %}
        </td>
        <td>小数点表示字符（有些语言中用"，"表示小数点）</td>
    </tr>
    <tr>
        <td>
            {% include href/option/option.language param="language.emptyTable" %}
        </td>
        <td>
            用来描述表格没有数据的字符串
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/option.language param="language.info" %}
        </td>
        <td>用来描述表格主要信息的字符串</td>
    </tr>
    <tr>
        <td>
            {% include href/option/option.language param="language.infoEmpty" %}
        </td>
        <td>
            用来描述当表格没有记录的时候显示的字符串
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/option.language param="language.infoFiltered" %}
        </td>
        <td>
            当表格过滤的时候，将此字符串附加到主要信息
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/option.language param="language.infoPostFix" %}
        </td>
        <td>
            在摘要信息后继续追加的字符串
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/option.language param="language.lengthMenu" %}
        </td>
        <td>
            用来描述页面长度选项的字符串
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/option.language param="language.loadingRecords" %}
        </td>
        <td>
            用来描述数据在加载中等待的提示字符串 - 当异步读取数据的时候显示
        </td>
    </tr>
    <tr>
        <td>
            {% include href/option/option.language param="language.aria.paginate.first" %}
        </td>
        <td>首页(_first_)按钮的 WAI-ARIA(无障碍网页应用) 标签</td>
    </tr>
    <tr>
        <td><p><a href="//datatables.net/reference/option/language.paginate.last"><code class="option"
                                                                                        title="DataTables initialisation option">language.paginate.last<span>DT</span></code></a>
        </p></td>
        <td><p>分页信息的 'last' 按钮显示的信息</p></td>
    </tr>
    <tr>
        <td><p><a href="//datatables.net/reference/option/language.paginate.next"><code class="option"
                                                                                        title="DataTables initialisation option">language.paginate.next<span>DT</span></code></a>
        </p></td>
        <td><p>分页信息的 'next' 按钮显示的信息</p></td>
    </tr>
    <tr>
        <td><p><a href="//datatables.net/reference/option/language.paginate.previous"><code class="option"
                                                                                            title="DataTables initialisation option">language.paginate.previous<span>DT</span></code></a>
        </p></td>
        <td><p>分页信息的 'previous' 按钮显示的信息</p></td>
    </tr>
    <tr>
        <td><p><a href="//datatables.net/reference/option/language.paginate"><code class="option"
                                                                                   title="DataTables initialisation option">language.paginate<span>DT</span></code></a>
        </p></td>
        <td><p>分页信息显示所需的字符串的所有信息</p></td>
    </tr>
    <tr>
        <td><p><a href="//datatables.net/reference/option/language.processing"><code class="option"
                                                                                     title="DataTables initialisation option">language.processing<span>DT</span></code></a>
        </p></td>
        <td><p>当table处理用户处理信息时，显示的信息字符串</p></td>
    </tr>
    <tr>
        <td><p><a href="//datatables.net/reference/option/language.search"><code class="option"
                                                                                 title="DataTables initialisation option">language.search<span>DT</span></code></a>
        </p></td>
        <td><p>搜索框的提示信息</p></td>
    </tr>
    <tr>
        <td><p><a href="//datatables.net/reference/option/language.searchPlaceholder"><code class="option"
                                                                                            title="DataTables initialisation option">language.searchPlaceholder<span>DT</span></code></a>
        </p></td>
        <td><p>搜索框(input)的placeholder属性</p></td>
    </tr>
    <tr>
        <td><p><a href="//datatables.net/reference/option/language.thousands"><code class="option"
                                                                                    title="DataTables initialisation option">language.thousands<span>DT</span></code></a>
        </p></td>
        <td><p>千位的分隔符</p></td>
    </tr>
    <tr>
        <td><p><a href="//datatables.net/reference/option/language.url"><code class="option"
                                                                              title="DataTables initialisation option">language.url<span>DT</span></code></a>
        </p></td>
        <td><p>从远程地址中加载语言信息</p></td>
    </tr>
    <tr>
        <td>
            {% include href/option/option.language param="language" %}
        </td>
        <td>
            DataTables语言配置选项
        </td>
    </tr>
    <tr>
        <td><p><a href="//datatables.net/reference/option/language.zeroRecords"><code class="option"
                                                                                      title="DataTables initialisation option">language.zeroRecords<span>DT</span></code></a>
        </p></td>
        <td><p>当搜索结果为空时，显示的信息</p></td>
    </tr>
    </tbody>
</table>