---
layout: example_layout
title: 自定义数据源属性 Ajax 示例 Datatables中文网
relurl: http://datatables.net/examples/ajax/custom_data_property.html
---
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <p>当从 Ajax 源加载数据，在默认情况下，数据表将寻找要使用返回的对象的数据参数中的数据 （例如 <code>{"data"： [......]}</code>）。
            通过使用 <code>ajax<span>DT</span></code>选项的<code>dataSrc</code> 启动选项来改变属性。</p>
        <p>
            <code>dataSrc</code>有许多用法如下：
        </p>
        <ul>
            <li>作为一个字符串，如 <code>dataSrc: 'myData'</code>，下面的例子展示的是这个用法</li>
            <li>为空字符串，如 <code>dataSrc:""</code></li>
            <li>作为一个方法，如 <code> dataSrc： function(json) {}</code> （您可以从 XML 转换到一个 Javascript 对象） </li>
        </ul>
    </div>
</header>
<div class="container">
<div class="row-fluid" style="margin-top:20px">

        <!-- 表格开始 -->
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
        </thead>

        <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
        </tfoot>
    </table>
    <!-- 表格结束 -->

    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">javascript</a></li>
            <li><a href="#tab2" data-toggle="tab">html</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
    <pre class="brush:js;toolbar:false">$(document).ready(function() {
        $(&#39;#example&#39;).dataTable( {
            &quot;ajax&quot;: {
                &quot;url&quot;: &quot;data/arrays_custom_prop.txt&quot;,
                //默认为data，这里定义为demo
                &quot;dataSrc&quot;: &quot;demo&quot;
            }
        } );
    } );</pre>
            </div>
            <div class="tab-pane" id="tab2">
<pre class="brush:html;toolbar:false">&lt;table id=&quot;example&quot; class=&quot;display&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;Name&lt;/th&gt;
                &lt;th&gt;Position&lt;/th&gt;
                &lt;th&gt;Office&lt;/th&gt;
                &lt;th&gt;Extn.&lt;/th&gt;
                &lt;th&gt;Start date&lt;/th&gt;
                &lt;th&gt;Salary&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tfoot&gt;
            &lt;tr&gt;
                &lt;th&gt;Name&lt;/th&gt;
                &lt;th&gt;Position&lt;/th&gt;
                &lt;th&gt;Office&lt;/th&gt;
                &lt;th&gt;Extn.&lt;/th&gt;
                &lt;th&gt;Start date&lt;/th&gt;
                &lt;th&gt;Salary&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/tfoot&gt;
    &lt;/table&gt;</pre>
            </div>
        </div>
    </div>
    {% include quote.html param='http://datatables.net/examples/ajax/custom_data_property.html'%}
    {% include post.html param= site.url param2 = page.url %}
    </div>

</div><!--/row-->
{% include copyright.html %}
{% include example_script.html %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').dataTable( {
            "ajax": {
                "url": "data/arrays_custom_prop.txt",
                //默认为data，这里定义为demo
                "dataSrc": "demo"
            }
        } );
    } );
</script>