---
layout: example_layout
title: Datatables | 示例 | Ajax | 给一列生成自定义内容
---
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <p>在某些情况下你可能需要自动创建内容，这时你可以使用
            <a href="//datatables.net/reference/option/columns.render"><code class="option" title="DataTables initialisation option">columns.render<span>DT</span></code></a>
            参数，来渲染每一行数据
            <br/>
            对于简单的静态的数据可以使用
            <a href="//datatables.net/reference/option/columns.defaultContent"><code class="option" title="DataTables initialisation option">columns.defaultContent<span>DT</span></code></a>
        参数
        </p>
        <p>
            本示例演示如何使用
            <a href="//datatables.net/reference/option/columns.defaultContent"><code class="option" title="DataTables initialisation option">columns.defaultContent<span>DT</span></code></a>
            在表的最后一列中创建按钮并添加点击事件，通过
            <a href="//datatables.net/reference/api/row().data()"><code class="api" title="DataTables API method">row().data()<span>DT</span></code></a>
            方法得到这行的数据，并alert出相关信息
        </p>
        <p>此外注意到列中的
            <a href="//datatables.net/reference/option/columns.data"><code class="option" title="DataTables initialisation option">columns.data<span>DT</span></code></a>
            选项已被设置为 null，表示列不会获得数据源对象的信息。</p>
    </div>
</header>

<div class="row-fluid" style="margin-top:20px">
    <div class="span1"></div>
    <div class="span10">
        <!-- 表格开始 -->
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
        </thead>

        <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
        </tfoot>
    </table>
    <!-- 表格结束 -->

    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">javascript</a></li>
            <li><a href="#tab2" data-toggle="tab">html</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
  <pre class="brush:js;toolbar:false">$(document).ready(function() {
    var table = $(&#39;#example&#39;).DataTable( {
        &quot;ajax&quot;: &quot;data/arrays.txt&quot;,
        &quot;columnDefs&quot;: [ {
            &quot;targets&quot;: -1,
            &quot;data&quot;: null,
            &quot;defaultContent&quot;: &quot;&lt;button&gt;Click!&lt;/button&gt;&quot;
        } ]
    } );

    $(&#39;#example tbody&#39;).on( &#39;click&#39;, &#39;button&#39;, function () {
        var data = table.row( $(this).parents(&#39;tr&#39;) ).data();
        alert( data[0] +&quot;&#39;s salary is: &quot;+ data[ 5 ] );
    } );
} );</pre>
            </div>
            <div class="tab-pane" id="tab2">
<pre class="brush:html;toolbar:false">&lt;table id=&quot;example&quot; class=&quot;display&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th&gt;Name&lt;/th&gt;
                &lt;th&gt;Position&lt;/th&gt;
                &lt;th&gt;Office&lt;/th&gt;
                &lt;th&gt;Extn.&lt;/th&gt;
                &lt;th&gt;Start date&lt;/th&gt;
                &lt;th&gt;Salary&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tfoot&gt;
            &lt;tr&gt;
                &lt;th&gt;Name&lt;/th&gt;
                &lt;th&gt;Position&lt;/th&gt;
                &lt;th&gt;Office&lt;/th&gt;
                &lt;th&gt;Extn.&lt;/th&gt;
                &lt;th&gt;Start date&lt;/th&gt;
                &lt;th&gt;Salary&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/tfoot&gt;
    &lt;/table&gt;</pre>
            </div>
        </div>
    </div>
    {% include quote.html param='http://datatables.net/examples/ajax/null_data_source.html'%}
    {% include post.html %}
    </div>
    <div class="span1"></div>
</div><!--/row-->
{% include copyright.html %}
{% include example_script.html %}
<script type="text/javascript">
    $(document).ready(function() {
        var table = $('#example').DataTable( {
            "ajax": "data/arrays.txt",
            "columnDefs": [ {
                "targets": -1,
                "data": null,
                "defaultContent": "<button>点我!</button>"
            } ]
        } );

        //给按钮绑定点击事件
        $('#example tbody').on( 'click', 'button', function () {
            var data = table.row( $(this).parents('tr') ).data();
            alert( data[0] +"'的薪水是: "+ data[ 5 ] );
        } );
    } );
</script>