---
layout: default
title: 网址导航 Datatables 中文网
---
{% include nav.html param="nav" %}
<style>
    dl{
        line-height: 24px;
        padding: 10px 0;
        border-bottom: solid 1px #E1E1E1;
        margin-bottom: 0;
    }
    dl>dt{
        width: 100px;
        font-weight: bold;
        text-align: center;
    }
    dt>a{
        display: block;
        float: left;
        width: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    dd{
        margin-top: 5px;
    }
    dd>a{
        margin-left: 10px;
    }
    .hot {
        background-image: url({{site.baseurl}}/images/hot.gif);
        height: 12px;
        width: 21px;
        position: absolute;
    }
</style>
<div class="container" style="margin-top:100px">
    <div class="span3"></div>
    <div class="span6">
        <script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=9387011596926898338' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>
    </div>
    <div class="span3">
    </div>
</div>


<div class="container" style="margin-top:20px">
    <div class="span3"></div>
    <div class="span6">
        <form action="https://www.startpage.com/do/asearch" method="POST" target="_top">
            <input type="hidden" name="cmd" value="process_search">
            <input type="hidden" name="language" value="jiantizhongwen">
            <input type="hidden" name="enginecount" value="1">
            <input type="hidden" name="pl" value="">
            <input type="hidden" name="abp" class="abp" value="-1">
            <input type="hidden" name="hmb" value="1">
            <input type="hidden" name="ff" value="">
            <input type="hidden" name="theme" value="">
            <input type="hidden" id="flag_ac1" name="flag_ac" value="0">
            <input name="cat" type="hidden" value="web">
            <input name="ycc" type="hidden" value="0">
            <input type="hidden" name="t" value="air">
            <input type="hidden" name="nj" id="nj" value="0">
            <input type="hidden" name="pg" value="0">
            <input type="text" name="query" style="height: 34px; line-height: 34px;">
            <input type="submit" value="google搜索">
        </form>
    </div>
    <div class="span3">
    </div>
</div>

<div class="container">
    {% include xad.html %}
    <h1>网址导航</h1>
    <dl>
        <dt>jQuery插件</dt>
        <dd>
            {% include tour.html param="jQuery-plugin" %}
        </dd>
    </dl>
    <dl>
        <dt>优质博客</dt>
        <dd >
            {% include tour.html param="blog" %}
        </dd>
    </dl>
    
    <dl>
        <dt>学习资源</dt>
        <dd >
            {% include tour.html param="resources" %}
        </dd>
    </dl>

    <dl>
        <dt>Tools</dt>
        <dd >
            <a href="http://www.kekaku.com/tools/js_format/index.html" target="_blank" title="js格式化">js格式化</a>
            <a href="http://www.jslint.com/" target="_blank" title="js格式查错">js格式查错</a>
            <a href="http://www.bootcss.com/p/websafecolors" target="_blank" title="web安全色">web安全色</a>
            <a href="http://tool.oschina.net/" target="_blank" title="web工具">开源中国在线工具包</a>
            <a href="https://developers.google.com/speed/pagespeed/insights/" target="_blank" title="页面性能测试">页面性能测试<span class='hot'></span></a>
            <a href="https://developers.google.com/web/tools/chrome-devtools" target="_blank" title="chrome-devtools">chrome-devtools说明文档<span class='hot'></span></a>
            <a href="https://tinypng.com/" target="_blank" title="Smart PNG and JPEG compression">智能图片压缩</a>
        </dd>
    </dl>
    <dl>
        <dt>前端素材</dt>
        <dd >
            <a href="http://www.iconfont.cn" target="_blank" title="阿里图标库">阿里图标库</a>
        </dd>
    </dl>
    <dl>
        <dt>前端框架</dt>
        <dd >
            <a href="http://www.h-ui.net/" target="_blank" title="H-ui前端框架">H-ui前端框架</a>
        </dd>
    </dl>
    <dl>
        <dt>在线代码托管</dt>
        <dd >
            <a href="https://code.google.com/intl/zh-CN/" target="_blank" title="Google Code">Google Code</a>
            <a href="https://github.com" target="_blank" title="GitHub">GitHub</a>
        </dd>
    </dl>
    <dl>
        <dt>其他</dt>
        <dd >
            {% include tour.html param="other" %}
        </dd>
    </dl>
    <div style="margin-top: 20px">
        <p>如果你想共享自己的精品网址，请发送邮箱至 <a href="mailto:thxopen@datatables.club ">thxopen@datatables.club </a> 或者 <a href="https://github.com/ssy341/datatables-cn/tree/gh-pages/_data/tour">pull request</a></p>
    </div>
    {% include disqus.html %}
</div>
{% include copyright.html %}



