---
layout: default
title: Tag索引
---
<p>Tags:</p>
{% for tag in site.tags %}
<a style="margin-left:5px" href="#{{tag[0]}}" rel="{{tag[1].size}}">{{tag[0]}}</a>
{% endfor %}

<hr/>
<ul class="list-unstyled" style="list-style: none">
    {% for tag in site.tags %}
    <li class="year" id="{{tag[0]}}"><h3>{{tag[0]}} ({{tag[1].size}})</h3></li>
    {% for post in tag[1] %}
    <li class="item">
        <time datetime="{{ post.date | date:'%Y-%m-%d' }}">
            {{ post.date | date:"%Y-%m-%d" }}
        </time>
        <a href="{{post.url}}" title="{{post.title}}">{{ post.title }}</a>
    </li>
    {% endfor %}
    {% endfor %}
</ul>