---
layout: example_layout
title: Html5数据属性 高级初始化 示例 Datatables中文网
relurl: http://datatables.net/examples/advanced_init/html5-data-attributes.html
---
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h3>Html5数据属性</h3>
        <p>
            在有些情况下，显示的数据可能不是用来排序的，只是为了直观的展示给用户看，比如电话号码xxxx-xxxxxxxx，中间有一个斜杠，对于程序排序不怎么好处理
            html5有 <code>data-sort</code>或者<code>data-order</code>来排序 ，<code>data-filter</code>或者<code>data-search</code>来搜索，下面的例子演示了，
            显示的和搜索的是不同<br/>
            以Tiger Nixon 为例，显示的是 T. Nixon，搜索的是Tiger Nixon
        </p>
        <!--<a class="btn btn-lg btn-primary btn-shadow bs3-link" href="./filter_only_code.html" target="_blank"
           role="button">代码回放</a>-->
    </div>
</header>

<div class="row-fluid" style="margin-top:20px">
<div class="span1"></div>
<div class="span10">
<!-- 表格开始 -->
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
    </tr>
    </tfoot>
    <tbody>
    <tr>
        <td data-search="Tiger Nixon">T. Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        <td data-order="1303686000">Mon 25th Apr 11</td>
        <td data-order="320800">$320,800/y</td>
    </tr>
    <tr>
        <td data-search="Garrett Winters">G. Winters</td>
        <td>Accountant</td>
        <td>Tokyo</td>
        <td>63</td>
        <td data-order="1311548400">Mon 25th Jul 11</td>
        <td data-order="170750">$170,750/y</td>
    </tr>
    <tr>
        <td data-search="Ashton Cox">A. Cox</td>
        <td>Junior Technical Author</td>
        <td>San Francisco</td>
        <td>66</td>
        <td data-order="1231718400">Mon 12th Jan 09</td>
        <td data-order="86000">$86,000/y</td>
    </tr>
    <tr>
        <td data-search="Cedric Kelly">C. Kelly</td>
        <td>Senior Javascript Developer</td>
        <td>Edinburgh</td>
        <td>22</td>
        <td data-order="1332975600">Thu 29th Mar 12</td>
        <td data-order="433060">$433,060/y</td>
    </tr>
    <tr>
        <td data-search="Airi Satou">A. Satou</td>
        <td>Accountant</td>
        <td>Tokyo</td>
        <td>33</td>
        <td data-order="1227830400">Fri 28th Nov 08</td>
        <td data-order="162700">$162,700/y</td>
    </tr>
    <tr>
        <td data-search="Brielle Williamson">B. Williamson</td>
        <td>Integration Specialist</td>
        <td>New York</td>
        <td>61</td>
        <td data-order="1354406400">Sun 2nd Dec 12</td>
        <td data-order="372000">$372,000/y</td>
    </tr>
    <tr>
        <td data-search="Herrod Chandler">H. Chandler</td>
        <td>Sales Assistant</td>
        <td>San Francisco</td>
        <td>59</td>
        <td data-order="1344207600">Mon 6th Aug 12</td>
        <td data-order="137500">$137,500/y</td>
    </tr>
    <tr>
        <td data-search="Rhona Davidson">R. Davidson</td>
        <td>Integration Specialist</td>
        <td>Tokyo</td>
        <td>55</td>
        <td data-order="1287010800">Thu 14th Oct 10</td>
        <td data-order="327900">$327,900/y</td>
    </tr>
    <tr>
        <td data-search="Colleen Hurst">C. Hurst</td>
        <td>Javascript Developer</td>
        <td>San Francisco</td>
        <td>39</td>
        <td data-order="1252969200">Tue 15th Sep 09</td>
        <td data-order="205500">$205,500/y</td>
    </tr>
    <tr>
        <td data-search="Sonya Frost">S. Frost</td>
        <td>Software Engineer</td>
        <td>Edinburgh</td>
        <td>23</td>
        <td data-order="1229126400">Sat 13th Dec 08</td>
        <td data-order="103600">$103,600/y</td>
    </tr>
    <tr>
        <td data-search="Jena Gaines">J. Gaines</td>
        <td>Office Manager</td>
        <td>London</td>
        <td>30</td>
        <td data-order="1229644800">Fri 19th Dec 08</td>
        <td data-order="90560">$90,560/y</td>
    </tr>
    </tbody>
</table>

<!-- 表格结束 -->

<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">javascript</a></li>
        <li><a href="#tab2" data-toggle="tab">html</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
     <pre class="brush:js;toolbar:false">$(document).ready(function() {
        $(&#39;#example&#39;).dataTable();
    });</pre>
        </div>
        <div class="tab-pane" id="tab2">
<pre class="brush:html;toolbar:false">&lt;table id=&quot;example&quot; class=&quot;display&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt;
					&lt;thead&gt;
						&lt;tr&gt;
							&lt;th&gt;Name&lt;/th&gt;
							&lt;th&gt;Position&lt;/th&gt;
							&lt;th&gt;Office&lt;/th&gt;
							&lt;th&gt;Age&lt;/th&gt;
							&lt;th&gt;Start date&lt;/th&gt;
							&lt;th&gt;Salary&lt;/th&gt;
						&lt;/tr&gt;
					&lt;/thead&gt;
					&lt;tfoot&gt;
						&lt;tr&gt;
							&lt;th&gt;Name&lt;/th&gt;
							&lt;th&gt;Position&lt;/th&gt;
							&lt;th&gt;Office&lt;/th&gt;
							&lt;th&gt;Age&lt;/th&gt;
							&lt;th&gt;Start date&lt;/th&gt;
							&lt;th&gt;Salary&lt;/th&gt;
						&lt;/tr&gt;
					&lt;/tfoot&gt;
					&lt;tbody&gt;
						&lt;tr&gt;
							&lt;td data-search=&quot;Tiger Nixon&quot;&gt;T. Nixon&lt;/td&gt;
							&lt;td&gt;System Architect&lt;/td&gt;
							&lt;td&gt;Edinburgh&lt;/td&gt;
							&lt;td&gt;61&lt;/td&gt;
							&lt;td data-order=&quot;1303686000&quot;&gt;Mon 25th Apr 11&lt;/td&gt;
							&lt;td data-order=&quot;320800&quot;&gt;$320,800/y&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;
							&lt;td data-search=&quot;Garrett Winters&quot;&gt;G. Winters&lt;/td&gt;
							&lt;td&gt;Accountant&lt;/td&gt;
							&lt;td&gt;Tokyo&lt;/td&gt;
							&lt;td&gt;63&lt;/td&gt;
							&lt;td data-order=&quot;1311548400&quot;&gt;Mon 25th Jul 11&lt;/td&gt;
							&lt;td data-order=&quot;170750&quot;&gt;$170,750/y&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;
							&lt;td data-search=&quot;Ashton Cox&quot;&gt;A. Cox&lt;/td&gt;
							&lt;td&gt;Junior Technical Author&lt;/td&gt;
							&lt;td&gt;San Francisco&lt;/td&gt;
							&lt;td&gt;66&lt;/td&gt;
							&lt;td data-order=&quot;1231718400&quot;&gt;Mon 12th Jan 09&lt;/td&gt;
							&lt;td data-order=&quot;86000&quot;&gt;$86,000/y&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;
							&lt;td data-search=&quot;Cedric Kelly&quot;&gt;C. Kelly&lt;/td&gt;
							&lt;td&gt;Senior Javascript Developer&lt;/td&gt;
							&lt;td&gt;Edinburgh&lt;/td&gt;
							&lt;td&gt;22&lt;/td&gt;
							&lt;td data-order=&quot;1332975600&quot;&gt;Thu 29th Mar 12&lt;/td&gt;
							&lt;td data-order=&quot;433060&quot;&gt;$433,060/y&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;
							&lt;td data-search=&quot;Airi Satou&quot;&gt;A. Satou&lt;/td&gt;
							&lt;td&gt;Accountant&lt;/td&gt;
							&lt;td&gt;Tokyo&lt;/td&gt;
							&lt;td&gt;33&lt;/td&gt;
							&lt;td data-order=&quot;1227830400&quot;&gt;Fri 28th Nov 08&lt;/td&gt;
							&lt;td data-order=&quot;162700&quot;&gt;$162,700/y&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;
							&lt;td data-search=&quot;Brielle Williamson&quot;&gt;B. Williamson&lt;/td&gt;
							&lt;td&gt;Integration Specialist&lt;/td&gt;
							&lt;td&gt;New York&lt;/td&gt;
							&lt;td&gt;61&lt;/td&gt;
							&lt;td data-order=&quot;1354406400&quot;&gt;Sun 2nd Dec 12&lt;/td&gt;
							&lt;td data-order=&quot;372000&quot;&gt;$372,000/y&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;
							&lt;td data-search=&quot;Herrod Chandler&quot;&gt;H. Chandler&lt;/td&gt;
							&lt;td&gt;Sales Assistant&lt;/td&gt;
							&lt;td&gt;San Francisco&lt;/td&gt;
							&lt;td&gt;59&lt;/td&gt;
							&lt;td data-order=&quot;1344207600&quot;&gt;Mon 6th Aug 12&lt;/td&gt;
							&lt;td data-order=&quot;137500&quot;&gt;$137,500/y&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;
							&lt;td data-search=&quot;Rhona Davidson&quot;&gt;R. Davidson&lt;/td&gt;
							&lt;td&gt;Integration Specialist&lt;/td&gt;
							&lt;td&gt;Tokyo&lt;/td&gt;
							&lt;td&gt;55&lt;/td&gt;
							&lt;td data-order=&quot;1287010800&quot;&gt;Thu 14th Oct 10&lt;/td&gt;
							&lt;td data-order=&quot;327900&quot;&gt;$327,900/y&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;
							&lt;td data-search=&quot;Colleen Hurst&quot;&gt;C. Hurst&lt;/td&gt;
							&lt;td&gt;Javascript Developer&lt;/td&gt;
							&lt;td&gt;San Francisco&lt;/td&gt;
							&lt;td&gt;39&lt;/td&gt;
							&lt;td data-order=&quot;1252969200&quot;&gt;Tue 15th Sep 09&lt;/td&gt;
							&lt;td data-order=&quot;205500&quot;&gt;$205,500/y&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;
							&lt;td data-search=&quot;Sonya Frost&quot;&gt;S. Frost&lt;/td&gt;
							&lt;td&gt;Software Engineer&lt;/td&gt;
							&lt;td&gt;Edinburgh&lt;/td&gt;
							&lt;td&gt;23&lt;/td&gt;
							&lt;td data-order=&quot;1229126400&quot;&gt;Sat 13th Dec 08&lt;/td&gt;
							&lt;td data-order=&quot;103600&quot;&gt;$103,600/y&lt;/td&gt;
						&lt;/tr&gt;
						&lt;tr&gt;
							&lt;td data-search=&quot;Jena Gaines&quot;&gt;J. Gaines&lt;/td&gt;
							&lt;td&gt;Office Manager&lt;/td&gt;
							&lt;td&gt;London&lt;/td&gt;
							&lt;td&gt;30&lt;/td&gt;
							&lt;td data-order=&quot;1229644800&quot;&gt;Fri 19th Dec 08&lt;/td&gt;
							&lt;td data-order=&quot;90560&quot;&gt;$90,560/y&lt;/td&gt;
						&lt;/tr&gt;
								&lt;/tbody&gt;
				&lt;/table&gt;</pre>
        </div>
    </div>
</div>
{% include quote.html param='http://datatables.net/examples/advanced_init/html5-data-attributes.html'%}
{% include post.html param= site.url param2 = page.url %}
</div>
<div class="span1"></div>
</div><!--/row-->
{% include copyright.html %}
{% include example_script.html %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').dataTable();
    });
</script>