---
layout: extensions_detail_layout
title: Buttons
relurl: http://datatables.net/extensions/buttons/
---
<h1 class="page_title">Buttons</h1>

<p>Buttons提供一套给用户添加自定义按钮的特性，让按钮看起来和表格是一个整体。</p>
<p>
    Buttons提供了一些基本的按钮，比如打印，导出之类的按钮，也提供了API让用户自己扩展按钮，触发自定义的操作。
</p>
<p>
    Buttons 有 {% include href/localTarget/buttons-core.loacl %}，他们是独立的，你可以自己组合自己需要的插件。
</p>
<a name="Download"></a>
<h2 data-anchor="Download">下载（Download）</h2>
<p>
    你可以很方便的得到和使用Buttons扩展，在 {% include href/localTarget/download.local %}页面
    上你选择你需要的插件，构建成一个js和css，定制自己的js。
    你还可以在 {% include href/localTarget/release.local %}页面上查看单个文件，引用到项目中、
    在{% include href/localTarget/packages.local %}页面上下载已发打好的包或者从
    {% include href/localTarget/github-buttons.local %}页面上直接下载源码。
</p>



<a name="Initialisation"></a>
<h2 data-anchor="Initialisation">初始化（Initialisation）</h2>
<p>
    Buttons初始化有两种不同的方式：
    <ul>
    <li>
        在Datatables初始化时使用 {% include href/option/buttons.dt %} 选项
    </li>
    <li>
        通过 <code>new</code> 来初始化
    </li>
</ul>
需要重点注意的是，多个Buttons实例可以被用作同一个Datatables。这是非常有用的，比如在表格上面和表格下面都放有按钮。
</p>


<a name="In-DataTables"></a>
<h4 data-anchor="In-DataTables">使用DataTables（In DataTables）</h4>

<p>
    作为Datatables构造器的一部分，{% include href/option/buttons.dt %}选项接受一个数组类型的数据来配置按钮，这通常是按钮的名字，你可以自定义按钮的动作
</p>

<pre class="brush:js;toolbar:false">$(&#39;#myTable&#39;).DataTable( {
    buttons: [
        &#39;copy&#39;, &#39;excel&#39;, &#39;pdf&#39;
    ]
} );</pre>

<p>
    使用这个方式初始化话，你需要使用{% include href/option/dom.dt %}选项告诉Datatables在那个地方显示你的按钮-看下面
</p>
<p>
    {% include href/option/buttons.dt %}选项可以作为一个对象给按钮的行为提供更多控制。具体参考文档里的细节
</p>


<a name="Constructor"></a>
<h4 data-anchor="Constructor">构造器(Constructor)</h4>

<p>
    使用 <code> new $.fn.dataTable.Buttons</code>来创建buttons实例。这个方法接受两个参数：
    <ul>
    <li>
        1，DT实例对象
    </li>
    <li>
        2，按钮的选项(和{% include href/option/buttons.dt %}选项一样 )
    </li>
</ul>
</p>
<pre class="brush:js;toolbar:false">var table = $(&#39;#myTable&#39;).DataTable();

new $.fn.dataTable.Buttons( table, {
    buttons: [
        &#39;copy&#39;, &#39;excel&#39;, &#39;pdf&#39;
    ]
} );</pre>
<p>
    这个方法特别实用，当你使用到多个表格实例，但是按钮是同样的，那么按钮只需要初始化一次，就可以用在多个表格上了
</p>




<a name="Displaying-the-buttons"></a>
<h2 data-anchor="Displaying-the-buttons">按钮显示(Displaying the buttons)</h2>
<p>
    当你创建了按钮，那么你需要指定按钮的显示位置，便于用户操作，这里有两种方式可以指定按钮的显示位置：
    <ul>
    <li>
        {% include href/option/dom.dt %} - Datatables的dom控制参数
    </li>
    <li>
        直接使用API
    </li>
</ul>
</p>

<a name="dom-parameter"></a>
<h4 data-anchor="dom-parameter">Dom参数（dom parameter）</h4>

<p>
    Datatables有一些表格控制元素可以使用。这些参数可能会有些疑惑，但是简单的说，
    每一个字母代表的是Datatables的一个特性。对于Buttons来说，用字符 <code>B</code>代表
</p>

<pre class="brush:js;toolbar:false">$(&#39;#myTable&#39;).DataTable( {
    dom: &#39;Bfrtip&#39;,
    buttons: [
        &#39;copy&#39;, &#39;excel&#39;, &#39;pdf&#39;
    ]
} );</pre>

<a name="Direct-insertion"></a>
<h4 data-anchor="Direct-insertion">直接插入（Direct insertion）</h4>
<p>
    使用  {% include href/api/Buttons.html param="buttons().container()" %} 方法获得jquery对象，然后往里面插入按钮:
</p>
<p>
    {% include href/option/buttons.dt %}方式
</p>
<pre class="brush:js;toolbar:false">var table = $(&#39;#example&#39;).DataTable( {
    buttons: [
        &#39;copy&#39;, &#39;excel&#39;, &#39;pdf&#39;
    ]
} );

table.buttons().container()
    .appendTo( $(&#39;.col-sm-6:eq(0)&#39;, table.table().container() ) );</pre>

<p>
    <code>new</code> 的方式
</p>
<pre class="brush:js;toolbar:false">var table = $(&#39;#myTable&#39;).DataTable();

new $.fn.dataTable.Buttons( table, {
    buttons: [
        &#39;copy&#39;, &#39;excel&#39;, &#39;pdf&#39;
    ]
} );

table.buttons().container()
    .appendTo( $(&#39;.col-sm-6:eq(0)&#39;, table.table().container() ) );</pre>


<a name="Features"></a>
<h2 data-anchor="Features">特性（Features）</h2>

<p>
    Buttons 提供下面这些特性：
    <ul>
    <li>给Datatables相关按钮提供通用的接口和框架</li>
    <li>使用自己组合的快捷键激活按钮</li>
    <li>广泛的API</li>
    <li>完全国际化配置</li>
    <li>给现代的浏览器提供HTML5导出选项</li>
    <li>给老版的浏览器提供flash导出选项</li>
    <li>控制列的可见性</li>
    <li>打印预览</li>
</ul>
</p>
<div class="clear"></div>
{% include quote.html %}
