{% if include.param == "row().cache()" %}
<a href="//datatables.net/reference/api/row().cache()" >
    <code class="api">row().cache()<span>API</span></code>
</a>
{% elsif include.param == "row.add()" %}
<a href="{{site.baseurl}}/reference/api/row.add()" >
    <code class="api">row.add()<span>API</span></code>
</a>
{% elsif include.param == "rows.add()" %}
<a href="{{site.baseurl}}/reference/api/rows.add()" >
    <code class="api">rows.add()<span>API</span></code>
</a>
{% elsif include.param == "row().child().hide()" %}
<a href="//datatables.net/reference/api/row().child().hide()" >
    <code class="api">row().child().hide()<span>API</span></code>
</a>
{% elsif include.param == "row()" %}
<a href="{{site.baseurl}}/reference/api/row()" >
    <code class="api">row()<span>API</span></code>
</a>
{% elsif include.param == "rows()" %}
<a href="{{site.baseurl}}/reference/api/rows()" >
    <code class="api">rows()<span>API</span></code>
</a>
{% elsif include.param == "row().index()" %}
<a href="//datatables.net/reference/api/row().index()" >
    <code class="api">row().index()<span>API</span></code>
</a>
{% elsif include.param == "rows().indexes()" %}
<a href="//datatables.net/reference/api/rows().indexes()" >
    <code class="api">rows().indexes()<span>API</span></code>
</a>
{% elsif include.param == "row().data()" %}
<a href="{{site.baseurl}}/reference/api/row().data().html" >
    <code class="api">row().data()<span>API</span></code>
</a>
{% elsif include.param == "rows().data()" %}
<a href="//datatables.net/reference/api/rows().data()" >
    <code class="api">rows().data()<span>API</span></code>
</a>
{% elsif include.param == "row().invalidate()" %}
<a href="//datatables.net/reference/api/row().invalidate()" >
    <code class="api">row().invalidate()<span>API</span></code>
</a>
{% elsif include.param == "rows().invalidate()" %}
<a href="//datatables.net/reference/api/rows().invalidate()" >
    <code class="api">rows().invalidate()<span>API</span></code>
</a>
{% elsif include.param == "rows().every()" %}
<a href="//datatables.net/reference/api/rows().every()" >
    <code class="api">rows().every()<span>API</span></code>
</a>
{% elsif include.param == "column().search()" %}
<a href="{{site.baseurl}}/reference/api/column().search()" >
    <code class="api">column().search()<span>API</span></code>
</a>
{% elsif include.param == "columns().search()" %}
<a href="{{site.baseurl}}/reference/api/columns().search()" >
    <code class="api">columns().search()<span>API</span></code>
</a>
{% elsif include.param == "columns().every()" %}
<a href="https://datatables.net/reference/api/columns().every()" >
    <code class="api">columns().every()<span>API</span></code>
</a>
{% elsif include.param == "column().nodes()" %}
<a href="{{site.baseurl}}/reference/api/column().nodes()" >
    <code class="api">column().nodes()<span>API</span></code>
</a>
{% elsif include.param == "columns().nodes()" %}
<a href="{{site.baseurl}}/reference/api/columns().nodes()" >
    <code class="api">columns().nodes()<span>API</span></code>
</a>
{% elsif include.param == "column().data()" %}
<a href="{{site.baseurl}}/reference/api/column().data()" >
    <code class="api">column().data()<span>API</span></code>
</a>
{% elsif include.param == "columns().data()" %}
<a href="{{site.baseurl}}/reference/api/columns().data()" >
    <code class="api">columns().data()<span>API</span></code>
</a>
{% elsif include.param == "column()" %}
<a href="{{site.baseurl}}/reference/api/column()" >
    <code class="api">column()<span>API</span></code>
</a>
{% elsif include.param == "columns()" %}
<a href="{{site.baseurl}}/reference/api/columns()" >
    <code class="api">columns()<span>API</span></code>
</a>
{% elsif include.param == "column().footer()" %}
<a href="{{site.baseurl}}/reference/api/column().footer()" >
    <code class="api">column().footer()<span>API</span></code>
</a>
{% elsif include.param == "columns().footer()" %}
<a href="{{site.baseurl}}/reference/api/columns().footer()" >
    <code class="api">columns().footer()<span>API</span></code>
</a>
{% elsif include.param == "column().index()" %}
<a href="//datatables.net/reference/api/column().index()" >
    <code class="api">column().index()<span>API</span></code>
</a>
{% elsif include.param == "columns().indexes()" %}
<a href="{{site.baseurl}}/reference/api/columns().indexes()" >
    <code class="api">columns().indexes()<span>API</span></code>
</a>
{% elsif include.param == "column.index()" %}
<a href="{{site.baseurl}}/reference/api/column.index()" >
    <code class="api">column.index()<span>API</span></code>
</a>
{% elsif include.param == "column().order()" %}
<a href="{{site.baseurl}}/reference/api/column().order()" >
    <code class="api">column().order()<span>API</span></code>
</a>
{% elsif include.param == "columns().order()" %}
<a href="{{site.baseurl}}/reference/api/columns().order()" >
    <code class="api">columns().order()<span>API</span></code>
</a>
{% elsif include.param == "column().visible()" %}
<a href="{{site.baseurl}}/reference/api/column().visible()" >
    <code class="api">column().visible()<span>API</span></code>
</a>
{% elsif include.param == "columns().visible()" %}
<a href="{{site.baseurl}}/reference/api/columns().visible()" >
    <code class="api">columns().visible()<span>API</span></code>
</a>
{% elsif include.param == "columns.adjust()" %}
<a href="{{site.baseurl}}/reference/api/columns.adjust()" >
    <code class="api">columns.adjust()<span>API</span></code>
</a>
{% elsif include.param == "columns().dataSrc()" %}
<a href="{{site.baseurl}}/reference/api/columns().dataSrc()" >
    <code class="api">columns().dataSrc()<span>API</span></code>
</a>
{% elsif include.param == "column().dataSrc()" %}
<a href="{{site.baseurl}}/reference/api/column().dataSrc()" >
    <code class="api">column().dataSrc()<span>API</span></code>
</a>
{% elsif include.param == "column().cache()" %}
<a href="{{site.baseurl}}/reference/api/column().cache()" >
    <code class="api">column().cache()<span>API</span></code>
</a>
{% elsif include.param == "columns().cache()" %}
<a href="{{site.baseurl}}/reference/api/columns().cache()" >
    <code class="api">columns().cache()<span>API</span></code>
</a>
{% elsif include.param == "columns().header()" %}
<a href="{{site.baseurl}}/reference/api/columns().header()" >
    <code class="api">columns().header()<span>API</span></code>
</a>
{% elsif include.param == "column().header()" %}
<a href="{{site.baseurl}}/reference/api/column().header()" >
    <code class="api">column().header()<span>API</span></code>
</a>
{% elsif include.param == "cell().data()" %}
<a href="{{site.baseurl}}/reference/api/cell().data()" >
    <code class="api">cell().data()<span>API</span></code>
</a>
{% elsif include.param == "cells().cache()" %}
<a href="{{site.baseurl}}/reference/api/cells().cache()" >
    <code class="api">cells().cache()<span>API</span></code>
</a>
{% elsif include.param == "cell().cache()" %}
<a href="{{site.baseurl}}/reference/api/cell().cache()" >
    <code class="api">cell().cache()<span>API</span></code>
</a>
{% elsif include.param == "cells().data()" %}
<a href="{{site.baseurl}}/reference/api/cells().data()" >
    <code class="api">cells().data()<span>API</span></code>
</a>
{% elsif include.param == "cells().render()" %}
<a href="{{site.baseurl}}/reference/api/cells().render()" >
    <code class="api">cells().render()<span>API</span></code>
</a>
{% elsif include.param == "cell().render()" %}
<a href="{{site.baseurl}}/reference/api/cell().render()" >
    <code class="api">cell().render()<span>API</span></code>
</a>
{% elsif include.param == "cell()" %}
<a href="{{site.baseurl}}/reference/api/cell()" >
    <code class="api">cell()<span>API</span></code>
</a>
{% elsif include.param == "cells()" %}
<a href="{{site.baseurl}}/reference/api/cells()" >
    <code class="api">cells()<span>API</span></code>
</a>
{% elsif include.param == "cell().index()" %}
<a href="{{site.baseurl}}/reference/api/cell().index()" >
    <code class="api">cell().index()<span>API</span></code>
</a>
{% elsif include.param == "cells().indexes()" %}
<a href="{{site.baseurl}}/reference/api/cells().indexes()" >
    <code class="api">cells().indexes()<span>API</span></code>
</a>
{% elsif include.param == "cells().invalidate()" %}
<a href="{{site.baseurl}}/reference/api/cells().invalidate()" >
    <code class="api">cells().invalidate()<span>API</span></code>
</a>
{% elsif include.param == "cell().invalidate()" %}
<a href="{{site.baseurl}}/reference/api/cell().invalidate()" >
    <code class="api">cell().invalidate()<span>API</span></code>
</a>
{% elsif include.param == "cell().node()" %}
<a href="{{site.baseurl}}/reference/api/cell().node()" >
    <code class="api">cell().node()<span>API</span></code>
</a>
{% elsif include.param == "cells().nodes()" %}
<a href="{{site.baseurl}}/reference/api/cells().nodes()" >
    <code class="api">cells().nodes()<span>API</span></code>
</a>
{% elsif include.param == "cells().every()" %}
<a href="{{site.baseurl}}/reference/api/cells().every()" >
    <code class="api">cells().every()<span>API</span></code>
</a>
{% endif %}