{% if include.param == "error" %}
<a href="{{ site.baseurl }}/reference/event/error.html" >
    <code class="event">error<span>Event</span></code>
</a>
{% elsif include.param == "destroy" %}
<a href="http://datatables.net/reference/event/destroy" >
    <code class="event">destroy<span>Event</span></code>
</a>
{% elsif include.param == "draw" %}
<a href="http://datatables.net/reference/event/draw" >
    <code class="event">draw<span>Event</span></code>
</a>
{% elsif include.param == "stateLoaded" %}
<a href="http://datatables.net/reference/event/stateLoaded" >
    <code class="event">stateLoaded<span>Event</span></code>
</a>
{% elsif include.param == "stateLoadParams" %}
<a href="http://datatables.net/reference/event/stateLoadParams" >
    <code class="event">stateLoadParams<span>Event</span></code>
</a>
{% elsif include.param == "stateSaveParams" %}
<a href="http://datatables.net/reference/event/stateSaveParams" >
    <code class="event">stateSaveParams<span>Event</span></code>
</a>
{% elsif include.param == "xhr" %}
<a href="http://datatables.net/reference/event/xhr" >
    <code class="event">xhr<span>Event</span></code>
</a>
{% elsif include.param == "init" %}
<a href="http://datatables.net/reference/event/init" >
    <code class="event">init<span>Event</span></code>
</a>
{% endif %}