{% if include.param == "ajax.data" %}
<a href="{{ site.baseurl }}/reference/option/ajax.data" >
    <code class="option">ajax.data<span>Option</span></code>
</a>
{% elsif include.param == "ajax.dataSrc" %}
<a href="{{ site.baseurl }}/reference/option/ajax.dataSrc" >
    <code class="option">ajax.dataSrc<span>Option</span></code>
</a>
{% elsif include.param == "ajax" %}
<a href="{{ site.baseurl }}/reference/option/ajax" >
    <code class="option">ajax<span>Option</span></code>
</a>
{% elsif include.param == "data" %}
<a href="{{ site.baseurl }}/reference/option/data" >
    <code class="option">data<span>Option</span></code>
</a>
{% elsif include.param == "autoWidth" %}
<a href="{{ site.baseurl }}/reference/option/autoWidth" >
    <code class="option">autoWidth<span>Option</span></code>
</a>
{% elsif include.param == "deferRender" %}
<a href="{{ site.baseurl }}/reference/option/deferRender" >
    <code class="option">deferRender<span>Option</span></code>
</a>
{% elsif include.param == "info" %}
<a href="{{ site.baseurl }}/reference/option/info" >
    <code class="option">info<span>Option</span></code>
</a>
{% elsif include.param == "jQueryUI" %}
<a href="{{ site.baseurl }}/reference/option/jQueryUI" >
    <code class="option">jQueryUI<span>Option</span></code>
</a>
{% elsif include.param == "lengthChange" %}
<a href="{{ site.baseurl }}/reference/option/lengthChange" >
    <code class="option">lengthChange<span>Option</span></code>
</a>
{% elsif include.param == "ordering" %}
<a href="{{ site.baseurl }}/reference/option/ordering" >
    <code class="option">ordering<span>Option</span></code>
</a>
{% elsif include.param == "paging" %}
<a href="{{ site.baseurl }}/reference/option/paging" >
    <code class="option">paging<span>Option</span></code>
</a>
{% elsif include.param == "processing" %}
<a href="{{ site.baseurl }}/reference/option/processing" >
    <code class="option">processing<span>Option</span></code>
</a>
{% elsif include.param == "scrollX" %}
<a href="{{ site.baseurl }}/reference/option/scrollX" >
    <code class="option">scrollX<span>Option</span></code>
</a>
{% elsif include.param == "scrollY" %}
<a href="{{ site.baseurl }}/reference/option/scrollY" >
    <code class="option">scrollY<span>Option</span></code>
</a>
{% elsif include.param == "searching" %}
<a href="{{ site.baseurl }}/reference/option/searching" >
    <code class="option">searching<span>Option</span></code>
</a>
{% elsif include.param == "serverSide" %}
<a href="{{ site.baseurl }}/reference/option/serverSide" >
    <code class="option">serverSide<span>Option</span></code>
</a>
{% elsif include.param == "stateSave" %}
<a href="{{ site.baseurl }}/reference/option/stateSave" >
    <code class="option">stateSave<span>Option</span></code>
</a>
{% elsif include.param == "deferLoading" %}
<a href="{{ site.baseurl }}/reference/option/deferLoading" >
    <code class="option">deferLoading<span>Option</span></code>
</a>
{% elsif include.param == "destroy" %}
<a href="{{ site.baseurl }}/reference/option/destroy" >
    <code class="option">destroy<span>Option</span></code>
</a>
{% elsif include.param == "displayStart" %}
<a href="https://datatables.net/reference/option/displayStart" >
    <code class="option">displayStart<span>Option</span></code>
</a>
<!-- <a href="{{ site.wlan_url }}/manual/daily/2016/05/05/option-displayStart" >
    <code class="option">displayStart<span>不定时一讲</span></code>
</a> -->
{% elsif include.param == "dom" %}
<a href="{{ site.baseurl }}/reference/option/dom" >
    <code class="option">dom<span>Option</span></code>
</a>
<!-- <a href="{{ site.wlan_url }}/manual/daily/2016/05/11/option-dom" >
    <code class="option">dom<span>不定时一讲</span></code>
</a> -->
{% elsif include.param == "lengthMenu" %}
<a href="{{ site.baseurl }}/reference/option/lengthMenu" >
    <code class="option">lengthMenu<span>Option</span></code>
</a>
<!-- <a href="{{ site.wlan_url }}/manual/daily/2016/05/06/option-lengthMenu" >
    <code class="option">lengthMenu<span>不定时一讲</span></code>
</a> -->
{% elsif include.param == "order" %}
<a href="https://datatables.net/reference/option/order" >
    <code class="option">order<span>Option</span></code>
</a>
{% elsif include.param == "orderCellsTop" %}
<a href="{{ site.baseurl }}/reference/option/orderCellsTop" >
    <code class="option">orderCellsTop<span>Option</span></code>
</a>
{% elsif include.param == "orderClasses" %}
<a href="{{ site.baseurl }}/reference/option/orderClasses" >
    <code class="option">orderClasses<span>Option</span></code>
</a>
{% elsif include.param == "orderFixed" %}
<a href="{{ site.baseurl }}/reference/option/orderFixed" >
    <code class="option">orderFixed<span>Option</span></code>
</a>
{% elsif include.param == "orderMulti" %}
<a href="{{ site.baseurl }}/reference/option/orderMulti" >
    <code class="option">orderMulti<span>Option</span></code>
</a>
{% elsif include.param == "pageLength" %}
<a href="{{ site.baseurl }}/reference/option/pageLength" >
    <code class="option">pageLength<span>Option</span></code>
</a>
{% elsif include.param == "pagingType" %}
<a href="{{ site.baseurl }}/reference/option/pagingType" >
    <code class="option">pagingType<span>Option</span></code>
</a>
{% elsif include.param == "renderer" %}
<a href="{{ site.baseurl }}/reference/option/renderer" >
    <code class="option">renderer<span>Option</span></code>
</a>
{% elsif include.param == "retrieve" %}
<a href="{{ site.baseurl }}/reference/option/retrieve" >
    <code class="option">retrieve<span>Option</span></code>
</a>
{% elsif include.param == "rowId" %}
<a href="https://datatables.net/reference/option/rowId" >
    <code class="option">rowId<span>Option</span></code>
</a>
<!-- <a href="{{ site.wlan_url }}/manual/daily/2016/05/06/option-rowId" >
    <code class="option">rowId<span>不定时一讲</span></code>
</a> -->
{% elsif include.param == "scrollCollapse" %}
<a href="https://datatables.net/reference/option/scrollCollapse" >
    <code class="option">scrollCollapse<span>Option</span></code>
</a>
<!-- <a href="{{ site.wlan_url }}/manual/daily/2016/05/05/option-scrollCollapse" >
    <code class="option">scrollCollapse<span>不定时一讲</span></code>
</a> -->
{% elsif include.param == "search.caseInsensitive" %}
<a href="https://datatables.net/reference/option/search.caseInsensitive" >
    <code class="option">search.caseInsensitive<span>Option</span></code>
</a>
<!-- <a href="{{ site.wlan_url }}/manual/daily/2016/05/11/option-search-caseInsensitive" >
    <code class="option">search.caseInsensitive<span>不定时一讲</span></code>
</a> -->
{% elsif include.param == "search.regex" %}
<a href="https://datatables.net/reference/option/search.regex" >
    <code class="option">search.regex<span>Option</span></code>
</a>
<!-- <a href="{{ site.wlan_url }}/manual/daily/2016/05/11/option-search-regex" >
    <code class="option">search.regex<span>不定时一讲</span></code>
</a> -->
{% elsif include.param == "search.search" %}
<a href="https://datatables.net/reference/option/search.search" >
    <code class="option">search.search<span>Option</span></code>
</a>
<!-- <a href="{{ site.wlan_url }}/manual/daily/2016/05/11/option-search-search" >
    <code class="option">search.search<span>不定时一讲</span></code>
</a> -->
{% elsif include.param == "search.smart" %}
<a href="https://datatables.net/reference/option/search.smart" >
    <code class="option">search.smart<span>Option</span></code>
</a>
<!-- <a href="{{ site.wlan_url }}/manual/daily/2016/05/11/option-search-smart" >
    <code class="option">search.smart<span>不定时一讲</span></code>
</a> -->
{% elsif include.param == "search" %}
<a href="https://datatables.net/reference/option/search" >
    <code class="option">search<span>Option</span></code>
</a>
<!-- <a href="{{ site.wlan_url }}/manual/daily/2016/05/11/option-search" >
    <code class="option">search<span>不定时一讲</span></code>
</a> -->
{% elsif include.param == "searchCols" %}
<a href="https://datatables.net/reference/option/searchCols" >
    <code class="option">searchCols<span>Option</span></code>
</a>
<!-- <a href="{{ site.wlan_url }}/manual/daily/2016/05/11/option-searchCols" >
    <code class="option">searchCols<span>不定时一讲</span></code>
</a> -->
{% elsif include.param == "searchDelay" %}
<a href="https://datatables.net/reference/option/searchDelay" >
    <code class="option">searchDelay<span>Option</span></code>
</a>
<!-- <a href="{{ site.wlan_url }}/manual/daily/2016/05/11/option-searchDelay" >
    <code class="option">searchDelay<span>不定时一讲</span></code>
</a> -->
{% elsif include.param == "stateDuration" %}
<a href="{{ site.baseurl }}/reference/option/stateDuration" >
    <code class="option">stateDuration<span>Option</span></code>
</a>
{% elsif include.param == "stripeClasses" %}
<a href="https://datatables.net/reference/option/stripeClasses" >
    <code class="option">stripeClasses<span>Option</span></code>
</a>
<!-- <a href="{{ site.wlan_url }}/manual/daily/2016/05/11/option-stripeClasses" >
    <code class="option">stripeClasses<span>不定时一讲</span></code>
</a> -->
{% elsif include.param == "tabIndex" %}
<a href="{{ site.baseurl }}/reference/option/tabIndex" >
    <code class="option">tabIndex<span>Option</span></code>
</a>
{% elsif include.param == "orderCellsTop" %}
<a href="https://datatables.net/reference/option/orderCellsTop" >
    <code class="option">orderCellsTop<span>Option</span></code>
</a>
{% elsif include.param == "columns.cellType" %}
<a href="{{ site.baseurl }}/reference/option/columns.cellType" >
    <code class="option">columns.cellType<span>Option</span></code>
</a>
{% elsif include.param == "columns.className" %}
<a href="{{ site.baseurl }}/reference/option/columns.className" >
    <code class="option">columns.className<span>Option</span></code>
</a>
{% elsif include.param == "columns.contentPadding" %}
<a href="{{ site.baseurl }}/reference/option/columns.contentPadding" >
    <code class="option">columns.contentPadding<span>Option</span></code>
</a>
{% elsif include.param == "columns.createdCell" %}
<a href="{{ site.baseurl }}/reference/option/columns.createdCell" >
    <code class="option">columns.createdCell<span>Option</span></code>
</a>
{% elsif include.param == "columns.data" %}
<a href="https://datatables.net/reference/option/columns.data" >
    <code class="option">columns.data<span>Option</span></code>
</a>
{% elsif include.param == "columns.render" %}
<a href="{{ site.baseurl }}/reference/option/columns.render" >
    <code class="option">columns.render<span>Option</span></code>
</a>
{% elsif include.param == "columns.defaultContent" %}
<a href="https://datatables.net/reference/option/columns.defaultContent" >
    <code class="option">columns.defaultContent<span>Option</span></code>
</a>
{% elsif include.param == "columns.name" %}
<a href="{{ site.baseurl }}/reference/option/columns.name" >
    <code class="option">columns.name<span>Option</span></code>
</a>
{% elsif include.param == "columns.orderable" %}
<a href="{{ site.baseurl }}/reference/option/columns.orderable" >
    <code class="option">columns.orderable<span>Option</span></code>
</a>
{% elsif include.param == "columns.orderData" %}
<a href="{{ site.baseurl }}/reference/option/columns.orderData" >
    <code class="option">columns.orderData<span>Option</span></code>
</a>
{% elsif include.param == "columns.orderDataType" %}
<a href="{{ site.baseurl }}/reference/option/columns.orderDataType" >
    <code class="option">columns.orderDataType<span>Option</span></code>
</a>
{% elsif include.param == "columns.orderSequence" %}
<a href="{{ site.baseurl }}/reference/option/columns.orderSequence" >
    <code class="option">columns.orderSequence<span>Option</span></code>
</a>
{% elsif include.param == "columns.searchable" %}
<a href="{{ site.baseurl }}/reference/option/columns.searchable" >
    <code class="option">columns.searchable<span>Option</span></code>
</a>
{% elsif include.param == "columns.title" %}
<a href="{{ site.baseurl }}/reference/option/columns.title" >
    <code class="option">columns.title<span>Option</span></code>
</a>
{% elsif include.param == "columns.type" %}
<a href="https://datatables.net/reference/option/columns.type" >
    <code class="option">columns.type<span>Option</span></code>
</a>
{% elsif include.param == "columns.visible" %}
<a href="{{ site.baseurl }}/reference/option/columns.visible" >
    <code class="option">columns.visible<span>Option</span></code>
</a>
{% elsif include.param == "columns.width" %}
<a href="https://datatables.net/reference/option/columns.width" >
    <code class="option">columns.width<span>Option</span></code>
</a>
{% elsif include.param == "columnDefs" %}
<a href="{{ site.baseurl }}/reference/option/columnDefs" >
    <code class="option">columnDefs<span>Option</span></code>
</a>
{% elsif include.param == "columns" %}
<a href="{{ site.baseurl }}/reference/option/columns" >
    <code class="option">columns<span>Option</span></code>
</a>
{% elsif include.param == "select" %}
<a href="https://datatables.net/reference/option/select" >
    <code class="option">select<span>Option</span></code>
</a>
{% endif %}