{% if include.param == "order" %}
<code class="string">order<span>String</span></code>
{% elsif include.param == "search" %}
<code class="string">search<span>String</span></code>
{% elsif include.param == "auto" %}
<code class="string">auto<span>String</span></code>
{% elsif include.param == "data" %}
<code class="string">data<span>String</span></code>
{% elsif include.param == "dom" %}
<code class="string">dom<span>String</span></code>
{% elsif include.param == "page" %}
<code class="string">page<span>String</span></code>
{% elsif include.param == "full-reset" %}
<code class="string">full-reset<span>String</span></code>
{% elsif include.param == "full-hold" %}
<code class="string">full-hold<span>String</span></code>
{% endif %}