{% if include.param == "order" %}
<a href="#"><code class="string">order<span>String</span></code></a>
{% elsif include.param == "search" %}
<a href="#"><code class="string">search<span>String</span></code></a>
{% elsif include.param == "auto" %}
<a href="#"><code class="string">auto<span>String</span></code></a>
{% elsif include.param == "data" %}
<a href="#"><code class="string">data<span>String</span></code></a>
{% elsif include.param == "dom" %}
<a href="#"><code class="string">dom<span>String</span></code></a>
{% elsif include.param == "page" %}
<a href="#"><code class="string">page<span>String</span></code></a>
{% elsif include.param == "full-reset" %}
<a href="#"><code class="string">full-reset<span>String</span></code></a>
{% elsif include.param == "full-hold" %}
<a href="#"><code class="string">full-hold<span>String</span></code></a>
{% elsif include.param == "desc" %}
<a href="#"><code class="string">desc<span>String</span></code></a>
{% elsif include.param == "asc" %}
<a href="#"><code class="string">asc<span>String</span></code></a>
{% elsif include.param == "alert" %}
<a href="#"><code class="string">alert<span>String</span></code></a>
{% elsif include.param == "throw" %}
<a href="#"><code class="string">throw<span>String</span></code></a>
{% elsif include.param == "none" %}
<a href="#"><code class="string">none<span>String</span></code></a>
{% elsif include.param == "header" %}
<a href="#"><code class="string">fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix<span>String</span></code></a>
{% elsif include.param == "footer" %}
<a href="#"><code class="string">fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix<span>String</span></code></a>
{% elsif include.param == "display" %}
<a href="#"><code class="string">display<span>String</span></code></a>
{% elsif include.param == "filter" %}
<a href="#"><code class="string">filter<span>String</span></code></a>
{% elsif include.param == "sort" %}
<a href="#"><code class="string">sort<span>String</span></code></a>
{% elsif include.param == "type" %}
<a href="#"><code class="string">type<span>String</span></code></a>
{% elsif include.param == "visible" %}
<a href="#"><code class="string">visible<span>String</span></code></a>
{% endif %}