{% if include.param == "tbody" %}
<a href="#" ><code class="tag" title="HTML tag">tbody<span>Tag</span></code></a>
{% elsif include.param == "table" %}
<a href="#" ><code class="tag" title="HTML tag">table<span>Tag</span></code></a>
{% elsif include.param == "select" %}
<a href="#" ><code class="tag" title="HTML tag">select<span>Tag</span></code></a>
{% elsif include.param == "td" %}
<a href="#" ><code class="tag" title="HTML tag">td<span>Tag</span></code></a>
{% elsif include.param == "th" %}
<a href="#" ><code class="tag" title="HTML tag">th<span>Tag</span></code></a>
{% elsif include.param == "div" %}
<a href="#" ><code class="tag" title="HTML tag">div<span>Tag</span></code></a>
{% elsif include.param == "tfoot" %}
<a href="#" ><code class="tag" title="HTML tag">tfoot<span>Tag</span></code></a>
{% endif %}