{% if include.param == "DataTables.Settings" %}
<a href="https://datatables.net/reference/type/DataTables.Settings" target="_blank">
    <code class="type">Datatables.Settings<span>Type</span></code>
</a>
{% elsif include.param == "integer" %}
<a href="https://datatables.net/reference/type/integer" target="_blank">
    <code class="type" title="Javascript parameter type">integer<span>Type</span></code>
</a>
{% elsif include.param == "string" %}
<a href="https://datatables.net/reference/type/string" target="_blank">
    <code class="type" title="Javascript parameter type">string<span>Type</span></code>
</a>
{% elsif include.param == "undefined" %}
<a href="https://datatables.net/reference/type/undefined" target="_blank">
    <code class="type" title="Javascript parameter type">undefined<span>Type</span></code>
</a>
{% elsif include.param == "object" %}
<a href="https://datatables.net/reference/type/object" target="_blank">
    <code class="type" title="Javascript parameter type">object<span>Type</span></code>
</a>
{% endif %}