<div class="row highlights">

    <div class="span8 news-list">
        <h2>DataTables中文网 新鲜事   <a class="more-news" href="/blog">更多 »</a></h2>
        <div class="row">
            {% include bloglimit10andmore.html param=8 %}
        </div>
    </div>

    <div class="span4 intro">
        <div class="well">
            <h4>百度站内搜索</h4>
            <div class="input-group">
                <script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=4182846633237332666' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>
            </div>
        </div>
        <div class="well">
            <div class="input-group">
                <script>
                    (function() {
                        var cx = '001171264216576386016:xim4af2d2ik';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                    })();
                </script>
                <gcse:searchbox-only></gcse:searchbox-only>
            </div>
            <!-- /.input-group -->
        </div>
        {% include xad.html %}

        <div class="well">
            <h3>赞助</h3>
            <div class="flex-center">
                <a href="/about/index.html#donate">
                    <img src="/images/bigstock-green-donate-button-46905649.jpg" class="img-polaroid">
                </a>
            </div>
        </div>

        <div class="well">
            <span>
                您的支持，将是我们前进的最大动力……
            </span>

            <!-- 表格开始 -->
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>昵称</th>
                    <th>金额</th>
                    <th>时间</th>
                    <!--<th>备注</th>-->
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <th colspan="3"></th>
                </tfoot>
            </table>

        </div>
    </div>

    {% include ad/hiddenable.html %}

</div>