---
layout: manual_layout
title: 插件（Plug-ins） Datatables中文网
relurl: http://datatables.net/Plug-ins/index
---
{% include nav.html param="plugins" %}
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>插件(Plug-ins)</h1>
    </div>
</header>

<div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
        {% include xad %}
        <a name="plug_ins"></a>
        <h2 data-anchor="plug_ins">插件（Plug-ins）</h2>
        <p>
            虽然Datatables内置了许多灵活的功能，但在某些时候还是希望添加自己的特性。Datatables给开发人员提供了一个插件的框架。
            本部分讲的是Datatables提供的一些插件。如果你也想贡献你写的插件，请{% include href/localTarget/contact.local %}
            或者 发送{% include href/localTarget/github-request.local %}
            <ul>
        <li>{% include href/localTarget/plugins-api.loacl %}</li>
        <li>{% include href/localTarget/plugins-sorting.loacl %}</li>
        <li>{% include href/localTarget/plugins-filtering.loacl %}</li>
        <li>{% include href/localTarget/plugins-pagination.loacl %}</li>
        <li>{% include href/localTarget/plugins-internationalisation.loacl %}</li>
        <li>{% include href/localTarget/plugins-type-detection.loacl %}</li>
        <li>{% include href/localTarget/plugins-data-renderer.loacl %}</li>
    </ul>
        </p>
        <a name="Extensions"></a>
        <h3 data-anchor="Extensions">扩展 - 特性增强插件（Extensions-feature enhancing plug-ins）</h3>
        <p>
            Extensions和这个部分提到的插件类似，只是它更强大，Extensions有一些，比如重新排序列，添加工具栏等等。具体参考
            {% include href/localTarget/extensions.local %}
        </p>
        {% include quote.html %}
    </div>
</div>
{% include copyright.html %}