<!DOCTYPE html>
<html lang="utf-8">
<head>
    <!--meta-->
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.sitename }}">
    <!-- Le styles -->
    <link href="{{site.baseurl}}/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/docs.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{site.baseurl}}/css/blog-home.css" rel="stylesheet">

    <link href="{{site.baseurl}}/images/favicon.png" rel="shortcut icon">

    <script type="text/javascript" src="{{ site.wlan_url }}/js/jquery-2.0.0.js"></script>
</head>
<body>
<!--nav-->
{% include blog/nav.html param='blog' %}
<!-- Page Content -->
<div class="container">

    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="page-header">
                Datatables 中文网博客
                <small>希望分享更多学习经验，让大家少掉进坑里，我为人人，人人为我</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">中文网Blog</li>
            </ol>
            <!-- Pager -->
            {% include blog/pager.html %}
            <hr>
            {{ content }}
            <!-- Pager -->
            {% include blog/pager.html %}
        </div>

        <!-- Blog Sidebar Widgets Column -->
        {% include blog/right.html %}

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    {% include blog/footer.html %}

</div>
<!-- /.container -->
<script id="dsq-count-scr" src="//datatables.disqus.com/count.js" async></script>
</body>
</html>
