<!DOCTYPE html>
<html lang="utf-8">
<head>
    <!--meta-->
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.sitename }}">
    <!-- Le styles -->
    <link href="{{site.baseurl}}/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/docs.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{site.baseurl}}/css/blog-home.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/highlighting.css" rel="stylesheet">
    <link href="{{site.baseurl}}/images/favicon.png" rel="shortcut icon">
    {{ page.style }}
</head>
<body>
    <!--nav-->
    {% include blog/nav.html %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h2>
                    <a href="{{ page.url }}">{{ page.short }}</a>
                </h2>
                <p>
                    <span class="glyphicon glyphicon-user"></span> {{page.author}}
                    <span class="glyphicon glyphicon-time"></span> {{page.date | date: "%-d %B %Y"}}
                    <span class='glyphicon glyphicon-comment disqus-comment-count' data-disqus-url="{{ site.url }}{{ page.url }}"></span>
                    <button type="button"
                            id="copyurltoclip"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            data-clipboard-text="{{ page.short }}:{{ site.url }}{{ page.url }}"
                            class="btn btn-default pull-right"
                            title="点我复制本页url到剪贴板">复制本页地址</button>
                </p>
                <p>
                    Tags: {% for tag in page.tags %}
                    <a href="{{site.baseurl}}/blog/listall.html#{{tag}}" class="btn btn-primary btn-xs">{{tag}}</a>
                        {% endfor %}
                </p>
                <hr>

                <img class="img-responsive" src="{{ post.banner }}" alt="">
                <div class="content">
                    <!--正文-->
                    {{content}}
                </div>
                <h3>如果大家也有小的技巧，欢迎给我发邮件 <code>{{ site.email }}</code></h3>

                <hr>
                {% include xad %}
                <!--评论-->
                {% include disqus.html %}
            </div>

            <!-- Blog Sidebar Widgets Column -->
            {% include blog/right.html %}

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        {% include blog/footer.html %}

    </div>
    {{ page.script }}
    <!-- /.container -->
    <script src="{{site.baseurl}}/js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <script id="dsq-count-scr" src="//datatables.disqus.com/count.js" async></script>
    <!--复制url到剪贴板-->
    <script src="{{site.baseurl}}/js/ZeroClipboard.min.js"></script>
    <script>
        var client = new ZeroClipboard($('#copyurltoclip')); //  可以用jquery对象

        client.on( "aftercopy", function( event ) {
            console.log("成功复制url：" + event.data["text/plain"]+"到剪贴板" );
        } );

        client.on( 'error', function() {
            ZeroClipboard.destroy();
        } );
    </script>

</body>

</html>
