<!DOCTYPE html>
<html>
<head>
    {% include example_meta.html %}
    {% include example_link.html %}
</head>
<body>
{% include nav.html param='example' %}
<div class="container">
    <div class="row-fluid" style="margin-top:20px">
        <div class="span1"></div>
        <div class="span10">
            {% include xad %}
            {{content}}
            {% include disqus.html %}
        </div>
        <div class="span1"></div>
    </div>
    <!--/row-->
</div>
{% include copyright.html %}
</body>
</html>

{% include script.html %}


