<!DOCTYPE html>
<html>
<head>
    {% include example_meta.html %}
    {% include reference_option_detail_link.html %}
	<style>
	h1 {
		font-size: 38.5px;
	}
	</style>
</head>
<body>
     {% include reference_nav.html %}
     <div class="container-fluid">
		<div class="row-fluid">
            <div class="span2"></div>
			<div class="span8">
				{{content}}
				{% include post.html %}
			</div><!--/row-->
            <div class="span2"></div>
		</div><!--/row-->
		<hr>
	</div><!--/.fluid-container-->

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>

	{% include example_script.html %}
	<script type="text/javascript">
		$(document).ready( function () {
			$('#table_id').DataTable();
		} );
	</script>
     {% include copyright.html %}
</body>
</html>