
/* Full number pagination */
.paging_ellipses {
    height: 22px;
    line-height: 22px;
}
.paging_ellipses a:active {
    outline: none
}
.paging_ellipses a:hover {
    text-decoration: none;
}

.paging_ellipses a.paginate_button,
.paging_ellipses a.paginate_active {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
}

.paging_ellipses a.paginate_button {
    background-color: #ddd;
}

.paging_ellipses a.paginate_button:hover {
    background-color: #ccc;
    text-decoration: none !important;
}

.paging_ellipses a.paginate_active {
    background-color: #99B3FF;
}